<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.shipping.dao.ShippingAddressMapper">
	<resultMap id="shippingAddress" type="com.pgt.shipping.bean.ShippingAddress">
		<id column="address_id" property="id" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="district" property="district" />
		<result column="address" property="address" />
		<result column="status" property="status" />
		<result column="address_info_id" property="addressInfoId" />
	</resultMap>
	<parameterMap id="paramAddress" type="com.pgt.shipping.bean.ShippingAddress">
	</parameterMap>

	<insert id="addAddress" parameterMap="paramAddress"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		SHIPPING_ADDRESS(name,phone,province,city,district,address,address_info_id,status)
		VALUES
		(#{name},#{phone},#{province},#{city},#{district},#{address},#{addressInfoId},#{status})
		<selectKey keyProperty="id" resultType="int">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="selectAddress" parameterType="int" resultMap="shippingAddress">
		SELECT * FROM SHIPPING_ADDRESS WHERE address_id = #{id}
	</select>

	<select id="queryAddressByProduct" parameterType="int"
		resultMap="shippingAddress">
         SELECT * FROM SHIPPING_ADDRESS WHERE PRODUCT_ID = #{PRODUCT_ID}      
	</select>

	<update id="update" parameterMap="paramAddress">
		UPDATE SHIPPING_ADDRESS SET name = #{name},phone = #{phone},province =
		#{province},city = #{city},district = #{district},address = #{address},
		address_info_id = #{addressInfoId},status = #{status} WHERE address_id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM SHIPPING_ADDRESS WHERE address_id = #{id}
	</delete>
</mapper>