<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.cart.dao.UserFavouriteDao">

	<sql id="limit-split-page">
		<if test="@Ognl@isNotBlankString(pagination.sortFieldName)">
			ORDER BY ${pagination.sortFieldName}
			<if test="not pagination.asc">
				DESC
			</if>
		</if>
		<if test="not pagination.invalidPagination">
			LIMIT #{pagination.sqlStartIndex}, #{pagination.capacity}
		</if>
	</sql>

	<resultMap id="favourite" type="com.pgt.cart.bean.Favourite">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="prod_id" property="productId" />
		<result column="name" property="name" />
		<result column="price" property="finalPrice" />
		<result column="description" property="description" />
		<result column="snapshot_id" property="snapshotId" />
		<result column="creation_date" property="creationDate" />
		<association column="prod_id" property="discussCount" select="com.pgt.communication.dao.DiscussMapper.queryAllDiscussCount" />
		<association column="snapshot_id" property="snapshotMedia" resultMap="com.pgt.product.dao.ProductMapper.productMedia" />
	</resultMap>

	<select id="queryFavouriteCount" resultType="long">
		SELECT COUNT(fav.id)
		FROM FAVOURITE fav
		WHERE fav.user_id = #{userId}
		<if test="@Ognl@isNotBlankString(pagination.keyword)">
			AND fav.name LIKE CONCAT('%', #{pagination.keyword}, '%')
		</if>
	</select>

	<select id="queryFavouritePage" resultMap="favourite">
		SELECT fav.id, fav.user_id, fav.prod_id, fav.creation_date, fav.snapshot_id,
			IFNULL(prod.name, fav.name) `name`, IFNULL(prod.description, fav.description) `description`,
			IFNULL(IFNULL(prod.sale_price, prod.list_price), fav.price) `price`,
			m.media_id, m.title, m.path
		FROM FAVOURITE fav
		LEFT JOIN PRODUCT prod ON fav.prod_id = prod.product_id
		LEFT JOIN MEDIA m ON fav.snapshot_id = m.media_id
		WHERE fav.user_id = #{userId}
		<if test="@Ognl@isNotBlankString(pagination.keyword)">
			AND fav.name LIKE CONCAT('%', #{pagination.keyword}, '%')
		</if>
		<include refid="limit-split-page" />
	</select>

	<select id="queryFavourites" resultMap="favourite">
		SELECT fav.id, fav.user_id, fav.prod_id, fav.creation_date, fav.snapshot_id,
			IFNULL(prod.name, fav.name) `name`, IFNULL(prod.description, fav.description) `description`,
			IFNULL(IFNULL(prod.sale_price, prod.list_price), fav.price) `price`,
			m.media_id, m.title, m.path
		FROM FAVOURITE fav
		LEFT JOIN PRODUCT prod ON fav.prod_id = prod.product_id
		LEFT JOIN MEDIA m ON fav.snapshot_id = m.media_id
		WHERE fav.user_id = #{userId}
	</select>

	<select id="queryFavouriteByProduct" resultMap="favourite">
		SELECT *
		FROM FAVOURITE
		WHERE user_id = #{userId} AND prod_id = #{productId}
	</select>

	<insert id="createFavouriteItem" parameterType="com.pgt.cart.bean.Favourite" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO FAVOURITE (`user_id`, `prod_id`, `name`, `price`, `description`, `snapshot_id`, `creation_date`)
		VALUES (#{userId}, #{productId}, #{name}, #{finalPrice}, #{description}, #{snapshotId}, now())
	</insert>

	<delete id="deleteFavouriteItem" parameterType="int">
		DELETE FROM FAVOURITE
		WHERE id = #{favouriteId}
	</delete>

	<select id="queryFavourite" resultMap="favourite">
		SELECT * FROM FAVOURITE
		WHERE id = #{favouriteId}
	</select>
</mapper>