/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include header-con;
@include footer-con;

/*style
**************************************************************************************************************************************************/

/* content
***************************************************/
.content{
  overflow: hidden;
  margin: 0 auto 30px auto;
  border-top: 2px solid #ffc9c9;
  @include wh($main-width);
  min-height: 800px;
}

.content-nav{
  float: left;
  @include wh(300px);
  background:white;

  .content-nav-title{
    width: 260px;
    padding: 10px 0 0 40px;
    height: 40px;
    line-height: 30px;
    color: #414141;
    background-color: #e9e9e9;
    background-image: url("../core/images/help/help-icon3.png") ;
    background-repeat: no-repeat;
    background-position: 270px 20px;

    h2{
    }

    &:hover{
      background: #e9e9e9;
      background-image: url("../core/images/help/help-icon3.png") ;
      background-repeat: no-repeat;
      background-position: 270px 20px;
    }
  }

  .content-nav-active{
    background:#ec5555;
    background-image: url("../core/images/help/help-icon2.png");
    background-position: 50px 15px;
    background-repeat: no-repeat;

    a{
      color: white;
    }
  }

  li{
    padding: 10px 0 0 70px;
    line-height: 20px;
    @include wh(230px,30px);
    background: url("../core/images/help/help-icon1.png") no-repeat 50px 15px;

    &:hover{
      background-color: #ec5555;
      background-image: url("../core/images/help/help-icon2.png");
      background-position: 50px 15px;
      background-repeat: no-repeat;
      transition: 0.6s;
    }

    &:hover > a{
      color: white;
    }

    a{
      color: #414141;
    }
  }
}

.content-main{
  float: left;
  padding-top: 30px;
  margin-left: 30px;
  @include wh(850px);
  min-height: 660px;

  span{
    color: #ec5555;
  }

  h2{
    padding:40px 0 10px 70px;
    border-bottom: 1px solid #666;
    font-size: 20px;
  }
}

.content-main-mid{
  margin-top: 30px;
}
