<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.order.dao.B2COrderDao">

	<sql id="limit-split-page">
		<if test="@Ognl@isNotBlankString(pagination.sortFieldName)">
			ORDER BY ${pagination.sortFieldName}
			<if test="!pagination.asc">
				DESC
			</if>
		</if>
		<if test="!pagination.invalidPagination">
			LIMIT #{pagination.sqlStartIndex}, #{pagination.capacity}
		</if>
	</sql>

	<sql id="query-order-condition">
		<if test="@Ognl@isValidId(vo.orderId)">
			AND o.order_id = #{vo.orderId}
		</if>
		<if test="@Ognl@isNotBlankString(vo.userName)">
			AND u.login LIKE CONCAT('%', #{vo.userName}, '%')
		</if>
		<if test="vo.priceBeg != null">
			AND  o.total &gt;= #{vo.priceBeg}
		</if>
		<if test="vo.priceEnd != null">
			AND  o.total &lt;= #{vo.priceEnd}
		</if>
		<if test="vo.submitTimeBeg != null">
			AND  o.submit_date &gt;= #{vo.submitTimeBeg}
		</if>
		<if test="vo.submitTimeEnd != null">
			AND  o.submit_date &lt;= #{vo.submitTimeEnd}
		</if>
	</sql>

	<select id="queryB2COrderCount" resultType="long">
		SELECT COUNT(o.order_id)
		FROM `ORDER` o
		LEFT JOIN `USERS` u ON u.user_id = o.user_id
		WHERE 1 = 1
		<include refid="query-order-condition" />
	</select>

	<select id="queryB2COrderPage" resultMap="com.pgt.cart.dao.UserOrderDao.orderWithCommerceItem">
		SELECT o.*
		FROM `ORDER` o
		LEFT JOIN `USERS` u ON u.user_id = o.user_id
		WHERE 1 = 1
		<include refid="query-order-condition" />
		<include refid="limit-split-page" />
	</select>
</mapper>