<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.common.dao.BannerMapper">

	<!--Banner result map -->
	<resultMap id="BannerResult" type="com.pgt.common.bean.Banner">
		<id column="BANNER_ID" property="bannerId" />
		<result column="IMAGE_URL" property="imageUrl"></result>
		<result column="IMAGE_PATH" property="imagePath" />
		<result column="TYPE" property="type" />
		<result column="STATUS" property="status" />
		<collection column="BANNER_ID" property="images"
			select="com.pgt.common.dao.ImageMapper.queryAllImageByBannerId"/>
	</resultMap>

	<!-- insert a banner bean -->
	<insert id="createBanner" parameterType="com.pgt.common.bean.Banner"
		keyProperty="bannerId" useGeneratedKeys="true">
		INSERT INTO
		BANNER(IMAGE_URL,IMAGE_PATH,TYPE,STATUS)VALUES(#{imageUrl},#{imagePath},#{type},#{status})
	</insert>

	<!-- update a banner bean -->
	<update id="updateBanner" parameterType="com.pgt.common.bean.Banner"
		keyProperty="bannerId" useGeneratedKeys="true">
		UPDATE BANNER SET
		IMAGE_URL=#{imageUrl},IMAGE_PATH=#{imagePath},TYPE=#{type},STATUS=#{status}
		WHERE BANNER_ID=#{bannerId}
	</update>

	<!-- delete a banner bean -->
	<delete id="deleteBannerById">
		DELETE FROM
		BANNER WHERE
		BANNER_ID=#{bannerId}
	</delete>

	<select id="queryBanner" resultMap="BannerResult">
		SELECT
		*
		FROM BANNER WHERE
		BANNER_ID=#{bannerId}
	</select>

	<select id="queryBannerByType" parameterType="string" resultMap="BannerResult">
		 SELECT
		*
		FROM BANNER WHERE
		TYPE=#{type}
	</select>


	<select id="queryAllBanners" resultMap="BannerResult">
		SELECT * FROM BANNER
	</select>

</mapper>