<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.common.dao.BannerMapper">

	<!-- 分页sql语句的封装 -->
	<sql id="pageBean">
		<if test="paginationBean!=null">
			<if test="paginationBean.currentIndex != null">
				<if test="paginationBean.capacity != null">
					limit #{paginationBean.currentIndex},
					#{paginationBean.capacity}
				</if>
			</if>
		</if>
	</sql>

    <!--查询条件 -->
	<sql id="bannerListWhere">
		<where>
			<if test="type!=null">
				and TYPE =#{type}
			</if>
			<if test="status!=null">
				and STATUS =#{status}
			</if>
		</where>
	</sql>

	<!-- 需要查询的数据 -->
	<sql id="bannerSelector">
		SELECT
		<if test="fields !=null">
			${fields}
		</if>
		<if test="fields ==null">
			*
		</if>
		FROM BANNER
	</sql>

	<!--Banner result map -->
	<resultMap id="BannerResult" type="com.pgt.common.bean.Banner">
		<id column="BANNER_ID" property="bannerId" />
		<result column="TYPE" property="type" />
		<result column="STATUS" property="status" />
		<result column="NAME" property="name" />
		<result column="SITE" property="site"/>
		<collection column="BANNER_ID" property="images"
			select="com.pgt.common.dao.ImageMapper.queryAllImageByBannerId"/>
	</resultMap>

	<!-- insert a banner bean -->
	<insert id="createBanner" parameterType="com.pgt.common.bean.Banner"
		keyProperty="bannerId" useGeneratedKeys="true">
		INSERT INTO
		BANNER(TYPE,STATUS,NAME,SITE)VALUES(#{type},#{status},#{name},#{site})
	</insert>

	<!-- update a banner bean -->
	<update id="updateBanner" parameterType="com.pgt.common.bean.Banner"
		keyProperty="bannerId" useGeneratedKeys="true">
		UPDATE BANNER SET
		TYPE=#{type},STATUS=#{status},NAME=#{name},SITE=#{site}
		WHERE BANNER_ID=#{bannerId}
	</update>

	<!-- delete a banner bean -->
	<delete id="deleteBannerById">
		DELETE FROM
		BANNER WHERE
		BANNER_ID=#{bannerId}
	</delete>

	<select id="queryBanner" resultMap="BannerResult">
		SELECT
		*
		FROM BANNER WHERE
		BANNER_ID=#{bannerId}
	</select>

	<select id="queryBannerByType" parameterType="string" resultMap="BannerResult">
		 SELECT
		*
		FROM BANNER WHERE
		TYPE=#{type} AND STATUS=1
	</select>

	<select id="queryBannerByQuery" parameterType="com.pgt.common.bean.BannerQuery" resultMap="BannerResult">
		<include refid="bannerSelector"/>
		<include refid="bannerListWhere"/>
		<include refid="pageBean"/>
	</select>
	
	<select id="queryBannerCount" parameterType="com.pgt.common.bean.BannerQuery" resultType="Integer">
		<include refid="bannerSelector"/>
		<include refid="bannerListWhere"/>
	</select>

</mapper>