<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.pawn.dao.OnlinePawnMapper">
    <resultMap id="onlinePawn" type="com.pgt.pawn.bean.OnlinePawn">
        <id column="ID" property="id"/>
        <result column="CATEGORY_ID" property="categoryId"/>
        <result column="DURATION_DATE" property="durationDate"/>
        <result column="PAWN_TOTAL" property="pawnTotal"/>
        <result column="PHONE_NUMBER" property="phoneNumber"/>
    </resultMap>
    <parameterMap id="paramOnlinePawn" type="com.pgt.pawn.bean.OnlinePawn">
    </parameterMap>

    <insert id="add" parameterMap="paramOnlinePawn"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        ONLINE_PAWN
        (CATEGORY_ID,DURATION_DATE,PAWN_TOTAL,PHONE_NUMBER)
        VALUES
        (#{categoryId},#{durationDate},#{pawnTotal},#{phoneNumber})
    </insert>


    <select id="select" parameterType="int" resultMap="onlinePawn">
        SELECT * FROM ONLINE_PAWN WHERE ID = #{id}
    </select>

    <update id="update" parameterMap="paramOnlinePawn"
            useGeneratedKeys="true" keyProperty="id">
        UPDATE ONLINE_PAWN SET
        CATEGORY_ID = #{categoryId},
        DURATION_DATE = #{durationDate},
        PAWN_TOTAL = #{pawnTotal},
        PHONE_NUMBER =#{phoneNumber},
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM ONLINE_PAWN WHERE ID = #{id}
    </delete>

    <select id="findByPhoneNumber" parameterType="String" resultMap="onlinePawn">
         SELECT * FROM ONLINE_PAWN WHERE PHONE_NUMBER = #{phoneNumber}
    </select>
</mapper>