<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.myaccount.order.dao.P2PUserOrderDao">

	<sql id="limit-split-page">
		<if test="@Ognl@isNotBlankString(pagination.sortFieldName)">
			ORDER BY ${pagination.sortFieldName}
			<if test="not pagination.asc">
				DESC
			</if>
		</if>
		<if test="not pagination.invalidPagination">
			LIMIT #{pagination.sqlStartIndex}, #{pagination.capacity}
		</if>
	</sql>

	<resultMap id="pageOrder" type="com.pgt.cart.bean.Order">
		<id column="order_id" property="id" />
		<result column="user_id" property="userId" />
		<result column="order_type" property="type" />
		<result column="status" property="status" />
		<result column="subtotal" property="subtotal" />
		<result column="total" property="total" />
		<result column="user_comments" property="userComments" />
		<result column="creation_date" property="creationDate" />
		<result column="update_date" property="updateDate" />
		<result column="submit_Date" property="submitDate" />
		<result column="easy_buy" property="easyBuy" />
		<result column="p2p_info_id" property="p2pInfoId" />
		<result column="HOLDER_ALIAS" property="holderAlias" />
		<association column="p2p_info_id" property="p2pInfo" select="loadP2PInfo" />
		<collection column="order_id" property="commerceItems"
		            select="com.pgt.cart.dao.UserOrderDao.loadCommerceItemsFromOrder" />
	</resultMap>

	<resultMap id="detailOrder" type="com.pgt.cart.bean.Order">
		<id column="order_id" property="id" />
		<result column="user_id" property="userId" />
		<result column="order_type" property="type" />
		<result column="status" property="status" />
		<result column="subtotal" property="subtotal" />
		<result column="total" property="total" />
		<result column="user_comments" property="userComments" />
		<result column="creation_date" property="creationDate" />
		<result column="update_date" property="updateDate" />
		<result column="submit_Date" property="submitDate" />
		<result column="easy_buy" property="easyBuy" />
		<result column="p2p_info_id" property="p2pInfoId" />
		<result column="HOLDER_ALIAS" property="holderAlias" />
		<association column="p2p_info_id" property="p2pInfo" select="loadP2PInfo" />
		<collection column="order_id" property="commerceItems"
		            select="com.pgt.cart.dao.UserOrderDao.loadCommerceItemsFromOrder" />
	</resultMap>

	<select id="loadP2PInfo" parameterType="int" resultMap="com.pgt.cart.dao.P2PMapper.info">
		SELECT *
		FROM `P2P_INFO`
		WHERE ID = #{id}
	</select>

	<!-- Query all p2p orders -->
	<select id="queryOrderCount" resultType="long">
		SELECT COUNT(o.ORDER_ID)
		FROM `ORDER` o
		WHERE o.USER_ID = #{userId}
		      AND o.`TYPE` = 2
		      AND o.STATUS &gt; 10
	</select>

	<select id="queryOrderPage" resultMap="pageOrder">
		SELECT o.*
		FROM `ORDER` o
		WHERE o.USER_ID = #{userId}
		AND o.`TYPE` = 2
		AND o.STATUS &gt; 10
		<include refid="limit-split-page" />
	</select>

	<!-- Query during pawning p2p orders -->
	<select id="queryDuringPawningOrderCount" resultType="long">
		SELECT COUNT(o.ORDER_ID)
		FROM `ORDER` o
		LEFT JOIN `P2P_INFO` pi ON o.P2P_INFO_ID = pi.ID
		LEFT JOIN `TENDER` t ON t.ID = pi.TENDER_ID
		WHERE o.USER_ID = #{userId}
		AND o.`TYPE` = 2
		<choose>
			<when test="status == 11">
				AND (o.STATUS = 20 OR o.STATUS = 25)
			</when>
			<when test="status == 12">
				AND o.STATUS = 30
			</when>
			<otherwise>
				AND (o.STATUS &gt;= 20 AND o.STATUS &lt; 30)
			</otherwise>
		</choose>
		AND t.STATUS = 10
	</select>

	<select id="queryDuringPawningOrderPage" resultMap="pageOrder">
		SELECT o.*
		FROM `ORDER` o
		LEFT JOIN `P2P_INFO` pi ON o.P2P_INFO_ID = pi.ID
		LEFT JOIN `TENDER` t ON t.ID = pi.TENDER_ID
		WHERE o.USER_ID = #{userId}
		AND o.`TYPE` = 2
		<choose>
			<when test="status == 11">
				AND (o.STATUS = 20 OR o.STATUS = 25)
			</when>
			<when test="status == 12">
				AND o.STATUS = 30
			</when>
			<otherwise>
				AND (o.STATUS &gt;= 20 AND o.STATUS &lt; 30)
			</otherwise>
		</choose>
		AND t.STATUS = 10
		<include refid="limit-split-page" />
	</select>

	<!-- Query end pawning p2p orders -->
	<select id="queryEndPawningOrderCount" resultType="long">
		SELECT COUNT(o.ORDER_ID)
		FROM `ORDER` o
		LEFT JOIN `P2P_INFO` pi ON o.P2P_INFO_ID = pi.ID
		LEFT JOIN `TENDER` t ON t.ID = pi.TENDER_ID
		WHERE 1 = 1
		<choose>
			<when test="status == 21">
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt; 100)
				AND o.ORDER_ID IN (
				SELECT tmp.ORDER_ID FROM (
				SELECT o.ORDER_ID, COUNT(ci.COMMERCE_ITEM_ID)
				LEFT JOIN `COMMERCE_ITEM` ci ON ci.ORDER_ID = o.ORDER_ID
				LEFT JOIN `COMMERCE_ITEM_DELIVERY` cid ON cid.COMMERCE_ITEM_ID = ci.COMMERCE_ITEM_ID
				FROM `ORDER` o
				WHERE o.USER_ID = #{userId}
				AND o.`TYPE` = 2
				AND cid.delivered = 1
				GROUP BY o.ORDER_ID
				HAVING COUNT(ci.COMMERCE_ITEM_ID) = 0
				) tmp
				)
			</when>
			<when test="status == 22">
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt; 100)
				AND o.ORDER_ID IN (
				SELECT tmp.ORDER_ID FROM (
				SELECT o.ORDER_ID, COUNT(ci.COMMERCE_ITEM_ID)
				LEFT JOIN `COMMERCE_ITEM` ci ON ci.ORDER_ID = o.ORDER_ID
				LEFT JOIN `COMMERCE_ITEM_DELIVERY` cid ON cid.COMMERCE_ITEM_ID = ci.COMMERCE_ITEM_ID
				FROM `ORDER` o
				WHERE o.USER_ID = #{userId}
				AND o.`TYPE` = 2
				AND cid.delivered = 1
				GROUP BY o.ORDER_ID
				HAVING COUNT(ci.COMMERCE_ITEM_ID) &gt; 0
				) tmp
				)
			</when>
			<when test="status == 29">
				AND o.STATUS = 100
			</when>
			<otherwise>
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt;= 100)
			</otherwise>
		</choose>
		AND t.STATUS = 20
	</select>

	<select id="queryEndPawningOrderPage" resultMap="pageOrder">
		SELECT o.*
		FROM `ORDER` o
		LEFT JOIN `P2P_INFO` pi ON o.P2P_INFO_ID = pi.ID
		LEFT JOIN `TENDER` t ON t.ID = pi.TENDER_ID
		WHERE 1 = 1
		<choose>
			<when test="status == 21">
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt; 100)
				AND o.ORDER_ID IN (
				SELECT tmp.ORDER_ID FROM (
				SELECT o.ORDER_ID, COUNT(ci.COMMERCE_ITEM_ID)
				LEFT JOIN `COMMERCE_ITEM` ci ON ci.ORDER_ID = o.ORDER_ID
				LEFT JOIN `COMMERCE_ITEM_DELIVERY` cid ON cid.COMMERCE_ITEM_ID = ci.COMMERCE_ITEM_ID
				FROM `ORDER` o
				WHERE o.USER_ID = #{userId}
				AND o.`TYPE` = 2
				AND cid.delivered = 1
				GROUP BY o.ORDER_ID
				HAVING COUNT(ci.COMMERCE_ITEM_ID) = 0
				) tmp
				)
			</when>
			<when test="status == 22">
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt; 100)
				AND o.ORDER_ID IN (
				SELECT tmp.ORDER_ID FROM (
				SELECT o.ORDER_ID, COUNT(ci.COMMERCE_ITEM_ID)
				LEFT JOIN `COMMERCE_ITEM` ci ON ci.ORDER_ID = o.ORDER_ID
				LEFT JOIN `COMMERCE_ITEM_DELIVERY` cid ON cid.COMMERCE_ITEM_ID = ci.COMMERCE_ITEM_ID
				FROM `ORDER` o
				WHERE o.USER_ID = #{userId}
				AND o.`TYPE` = 2
				AND cid.delivered = 1
				GROUP BY o.ORDER_ID
				HAVING COUNT(ci.COMMERCE_ITEM_ID) &gt; 0
				) tmp
				)
			</when>
			<when test="status == 29">
				AND o.STATUS = 100
			</when>
			<otherwise>
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt;= 100)
			</otherwise>
		</choose>
		AND t.STATUS = 20
		<include refid="limit-split-page" />
	</select>

	<!-- Query redeem pawning p2p orders -->
	<select id="queryRedeemPawningOrderCount" resultType="long">
		SELECT COUNT(o.ORDER_ID)
		FROM `ORDER` o
		LEFT JOIN `P2P_INFO` pi ON o.P2P_INFO_ID = pi.ID
		LEFT JOIN `TENDER` t ON t.ID = pi.TENDER_ID
		WHERE o.USER_ID = #{userId}
		AND o.`TYPE` = 2
		<choose>
			<when test="status == 31">
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt; 100)
			</when>
			<when test="status == 32">
				AND o.STATUS = 100
			</when>
			<otherwise>
				AND o.STATUS &gt;= 30
			</otherwise>
		</choose>
		AND t.STATUS = 30
	</select>

	<select id="queryRedeemPawningOrderPage" resultMap="pageOrder">
		SELECT o.*
		FROM `ORDER` o
		LEFT JOIN `P2P_INFO` pi ON o.P2P_INFO_ID = pi.ID
		LEFT JOIN `TENDER` t ON t.ID = pi.TENDER_ID
		WHERE o.USER_ID = #{userId}
		AND o.`TYPE` = 2
		<choose>
			<when test="status == 31">
				AND (o.STATUS &gt;= 30 AND o.STATUS &lt; 100)
			</when>
			<when test="status == 32">
				AND o.STATUS = 100
			</when>
			<otherwise>
				AND o.STATUS &gt;= 30
			</otherwise>
		</choose>
		AND t.STATUS = 30
		<include refid="limit-split-page" />
	</select>

	<select id="loadOrderInformation" parameterType="int" resultMap="detailOrder">

	</select>

</mapper>