<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.tender.mapper.TenderMapper">
	<resultMap id="tenderResult" type="com.pgt.tender.bean.Tender">
		<id column="ID" property="tenderId"/>
		<result column="PAWN_SHOP_ID" property="pawnShopId"/>
		<result column="PAWN_TICKET_ID" property="pawnTicketId"/>
		<result column="TENDER_TOTAL" property="tenderTotal"/>
		<result column="TENDER_QUANTITY" property="tenderQuantity"/>
		<result column="PUBLISH_DATE" property="publishDate"/>
		<result column="DUE_DATE" property="dueDate"/>
		<result column="INTEREST_RATE" property="interestRate"/>
		<result column="NAME" property="name"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="PRE_PERIOD" property="prePeriod"/>
		<result column="POST_PERIOD" property="postPeriod"/>
		<result column="CREATION_DATE" property="creationDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="CATEGORY_HOT" property="categoryHot"/>
		<result column="SITE_HOT" property="siteHot"/>
		<association property="category" column="ID"
					 select="com.pgt.category.dao.CategoryMapper.queryCategoryByTenderId"/>
		<collection property="products" column="ID" select="com.pgt.product.dao.ProductMapper.queryProductByTenderId"/>
	</resultMap>

	<!-- 分页sql -->
	<sql id="pageBean">
		<if test="paginationBean != null">
		<if test="paginationBean.currentIndex != null">
			<choose>
				<when test="paginationBean.currentIndex >-1">
					<if test="paginationBean.capacity != null">
						<choose>
							<when test="paginationBean.capacity>-1">
								limit #{paginationBean.sqlStartIndex}, #{paginationBean.capacity}
							</when>
							<otherwise>
							</otherwise>
						</choose>
					</if>
				</when>
				<otherwise>
				</otherwise>
			</choose>
		</if>
		</if>
	</sql>


	<!--查询条件 -->
	<sql id="tenderListWhere">
		<where>
			<if test="name!= null">
				<if test="nameLike == false">
					and name =#{name}
				</if>
				<if test="nameLike == true">
					and name like "%"#{name}"%"
				</if>
			</if>
		</where>
	</sql>

	<!-- 排序条件 -->
	<sql id="tenderListOrder">
		<if test="orderFields != null and orderFields.size > 0">
			order by
			<foreach collection="orderFields" separator="," item="orderField">
				${orderField.fieldName} ${orderField.order}
			</foreach>
		</if>
	</sql>

	<select id="queryTenderByQuery" parameterType="com.pgt.tender.bean.TenderQuery" resultMap="tenderResult">
        SELECT  * FROM TENDER
		<include refid="tenderListWhere"/>
        <include refid="pageBean"/>
		<include refid="tenderListOrder"/>
	</select>


	<select id="queryTenderById" resultMap="tenderResult">
		SELECT * FROM TENDER WHERE ID=#{tenderId}
		<if test="onlyActive">
			AND DUE_DATE>now()
		</if>
	</select>

	<select id="queryTendersByCategoryId" resultMap="tenderResult">
		SELECT * FROM TENDER t LEFT JOIN
		TENDER_CATEGORY tc ON
		tc.CATEGORY_ID=#{categoryId} WHERE
		t.ID=tc.TENDER_ID
		<if test="onlyActive">
			AND t.DUE_DATE>now()
		</if>
	</select>

	<select id="queryAllTender" resultMap="tenderResult">
		SELECT * FROM TENDER
	</select>
	<select id="queryTenders" resultMap="tenderResult" parameterType="com.pgt.tender.bean.Tender">
		SELECT * FROM TENDER t
		<choose>
			<when test="#{categoryId!=null}">
				LEFT JOIN
				TENDER_CATEGORY tc ON
				tc.CATEGORY_ID=#{categoryId} WHERE
				t.ID=tc.TENDER_ID
			</when>
			<otherwise>
				WHERE 1=1
			</otherwise>
		</choose>
		AND CATEGORY_HOT=#{categoryHot} AND SITE_HOT=#{siteHot}

	</select>

	<insert id="createTender" parameterType="com.pgt.tender.bean.Tender" keyProperty="tenderId" useGeneratedKeys="true">
        INSERT INTO TENDER(PAWN_SHOP_ID,PAWN_TICKET_ID,TENDER_TOTAL,TENDER_QUANTITY,PUBLISH_DATE,DUE_DATE,INTEREST_RATE,
        NAME,DESCRIPTION,PRE_PERIOD,POST_PERIOD,CREATION_DATE,UPDATE_DATE,CATEGORY_HOT,SITE_HOT) VALUES (#{pawnShopId},#{pawnTicketId},#{tenderTotal},
        #{tenderQuantity},#{publishDate},#{dueDate},#{interestRate},#{name},#{description},#{prePeriod},#{postPeriod},
        #{creationDate},#{updateDate},#{categoryHot},#{siteHot})
    </insert>
	<update id="updateTender" parameterType="com.pgt.tender.bean.Tender" keyProperty="tenderId" useGeneratedKeys="true">
		UPDATE TENDER SET PAWN_SHOP_ID=#{pawnShopId},PAWN_TICKET_ID=#{pawnTicketId},TENDER_TOTAL=#{tenderTotal},TENDER_QUANTITY=#{tenderQuantity},
		PUBLISH_DATE=#{publishDate},DUE_DATE=#{dueDate},INTEREST_RATE=#{interestRate},
        NAME=#{name},DESCRIPTION=#{description},PRE_PERIOD=#{prePeriod},POST_PERIOD=#{postPeriod},UPDATE_DATE=#{updateDate},SITE_HOT=#{siteHot} WHERE ID=#{tenderId}
	</update>
	<delete id="deleteTender" parameterType="int">
		DELETE FROM TENDER WHERE ID=#{tenderId}
	</delete>


</mapper>