<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.tender.mapper.TenderMapper">
	<resultMap id="tenderResult" type="com.pgt.tender.bean.Tender">
		<id column="ID" property="tenderId"/>
		<result column="PAWN_SHOP_ID" property="pawnShopId"/>
		<result column="PAWN_TICKET_ID" property="pawnTicketId"/>
		<result column="TENDER_TOTAL" property="tenderTotal"/>
		<result column="TENDER_QUANTITY" property="tenderQuantity"/>
		<result column="PUBLISH_DATE" property="publishDate"/>
		<result column="DUE_DATE" property="dueDate"/>
		<result column="INTEREST_RATE" property="interestRate"/>
		<result column="NAME" property="name"/>
		<result column="SHORT_DESCRIPTION" property="description"/>
		<result column="PRE_PERIOD" property="prePeriod"/>
		<result column="POST_PERIOD" property="postPeriod"/>
		<result column="CREATION_DATE" property="creationDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="CATEGORY_HOT" property="categoryHot"/>
		<result column="SITE_HOT" property="siteHot"/>
		<result column="STATUS" property="state"/>
		<result column="IMAGE_DESC" property="imageDesc"/>
		<result column="AUDIT_STATE" property="auditState"/>
		<result column="HANDLING_FEE_RATE" property="handlingFeeRate"/>
		<result column="PAWN_OWNER_ID" property="pawnShopOwnerId"/>
		<association property="category" column="ID"
					 select="com.pgt.category.dao.CategoryMapper.queryCategoryByTenderId"/>
		<association property="pawnshop" column="PAWN_SHOP_ID" select="com.pgt.pawn.dao.PawnDao.loadPawnShop"/>
		<association property="pawnTicket" column="PAWN_TICKET_ID" select="com.pgt.pawn.dao.PawnDao.loadPawnTicket"/>
		<association property="p2pAdvertisement" column="ID" select="queryTenderP2PAdvertisement"/>
		<association property="p2pFrontMedia" column="ID" select="queryTenderP2PFrontMedia"/>
		<association property="p2pHeroMedias" column="ID" select="queryTenderP2PHeroMedia"/>
		<association property="mobileDetailMedia" column="ID" select="queryTenderMobileDetailMedia"/>
		<collection property="products" column="ID" select="com.pgt.product.dao.ProductMapper.queryProductByTenderId"/>
		<collection property="p2pMainMedia" column="ID" select="queryTenderP2PMainMedia"/>
		<collection property="p2pExpertMedia" column="ID" select="queryTenderP2PExpertMedia"/>
	</resultMap>


	<resultMap id="tenderMedia" type="com.pgt.tender.bean.TenderMedia">
		<id column="media_id" property="id"/>
		<result column="reference_id" property="referenceId"></result>
		<result column="title" property="title"></result>
		<result column="path" property="path"></result>
		<result column="type" property="type"></result>
		<result column="index" property="index"></result>
	</resultMap>


	<resultMap id="tenderProduct" type="com.pgt.product.bean.Product">
		<id column="PRODUCT_ID" property="productId"/>
	</resultMap>

	<!-- 分页sql -->
	<sql id="pageBean">
		<if test="paginationBean != null">
			<if test="paginationBean.currentIndex != null">
				<choose>
					<when test="paginationBean.currentIndex >-1">
						<if test="paginationBean.capacity != null">
							<choose>
								<when test="paginationBean.capacity>-1">
									limit #{paginationBean.sqlStartIndex}, #{paginationBean.capacity}
								</when>
								<otherwise>
								</otherwise>
							</choose>
						</if>
					</when>
					<otherwise>
					</otherwise>
				</choose>
			</if>
		</if>
	</sql>


	<!--查询条件 -->
	<sql id="tenderListWhere">
		<where>
			<if test="name!= null">
				<if test="nameLike == false">
					and name =#{name}
				</if>
				<if test="nameLike == true">
					and name like "%"#{name}"%"
				</if>
			</if>
			<if test="categoryHot!=null">
				<if test="categoryHot==true">
					AND CATEGORY_HOT=1
				</if>
				<if test="categoryHot==false">
					AND CATEGORY_HOT=0
				</if>
			</if>
			<if test="siteHot!=null">
				<if test="siteHot==true">
					AND CATEGORY_HOT=1
				</if>
				<if test="siteHot==false">
					AND CATEGORY_HOT=0
				</if>
			</if>

		</where>
	</sql>

	<!-- 排序条件 -->
	<sql id="tenderListOrder">
		<if test="orderFields != null and orderFields.size > 0">
			order by
			<foreach collection="orderFields" separator="," item="orderField">
				${orderField.fieldName} ${orderField.order}
			</foreach>
		</if>
	</sql>


	<select id="queryTenderP2PFrontMedia" parameterType="Integer" resultMap="tenderMedia">
		SELECT *
		FROM MEDIA
		WHERE reference_id = #{tenderId} AND TYPE='tender_front'
		ORDER BY 'index'
		asc
	</select>

	<select id="queryTenderP2PAdvertisement" parameterType="Integer" resultMap="tenderMedia">
		SELECT *
		FROM MEDIA
		WHERE reference_id = #{tenderId} AND TYPE='tender_advertisement'
		ORDER BY 'index'
		asc
	</select>

	<select id="queryTenderP2PHeroMedia" parameterType="Integer" resultMap="tenderMedia">
		SELECT *
		FROM MEDIA
		WHERE reference_id = #{tenderId} AND TYPE='tender_hero'
		ORDER BY 'index'
		asc
	</select>

	<select id="queryTenderP2PMainMedia" parameterType="Integer" resultMap="tenderMedia">
		SELECT *
		FROM MEDIA
		WHERE reference_id = #{tenderId} AND TYPE='tender_main'
		ORDER BY 'index'
		asc
	</select>

	<select id="queryTenderP2PExpertMedia" parameterType="Integer" resultMap="tenderMedia">
		SELECT *
		FROM MEDIA
		WHERE reference_id = #{tenderId} AND TYPE='tender_expert'
		ORDER BY 'index'
		asc
	</select>


	<select id="queryTenderMobileDetailMedia" parameterType="Integer" resultMap="tenderMedia">
		SELECT *
		FROM MEDIA
		WHERE reference_id = #{tenderId} AND TYPE='tender_mobileDetail'
		ORDER BY 'index'
		asc
	</select>


	<select id="queryTenderByQuery" parameterType="com.pgt.tender.bean.TenderQuery" resultMap="tenderResult">
		SELECT * FROM TENDER
		<include refid="tenderListWhere"/>
		<include refid="pageBean"/>
		<include refid="tenderListOrder"/>
	</select>


	<select id="queryTenderById" resultMap="tenderResult">
		SELECT * FROM TENDER WHERE ID=#{tenderId}
		<if test="onlyActive">
			AND DUE_DATE>now()
		</if>
	</select>

	<select id="queryTendersByCategoryId" resultMap="tenderResult">
		SELECT * FROM TENDER t LEFT JOIN
		TENDER_CATEGORY tc ON
		tc.CATEGORY_ID=#{categoryId} WHERE
		t.ID=tc.TENDER_ID
		<if test="onlyActive">
			AND t.DUE_DATE>now()
		</if>
	</select>

	<select id="queryAllTender" resultMap="tenderResult">
		SELECT * FROM TENDER
	</select>
	<select id="queryTenders" resultMap="tenderResult" parameterType="com.pgt.tender.bean.Tender">
		SELECT * FROM TENDER t
		<choose>
			<when test="#{categoryId!=null}">
				LEFT JOIN
				TENDER_CATEGORY tc ON
				tc.CATEGORY_ID=#{categoryId} WHERE
				t.ID=tc.TENDER_ID
			</when>
			<otherwise>
				WHERE 1=1
			</otherwise>
		</choose>
		AND CATEGORY_HOT=#{categoryHot} AND SITE_HOT=#{siteHot}

	</select>
	<insert id="createTender" parameterType="com.pgt.tender.bean.Tender" keyProperty="tenderId" useGeneratedKeys="true">
        INSERT INTO TENDER(PAWN_SHOP_ID,PAWN_TICKET_ID,TENDER_TOTAL,TENDER_QUANTITY,PUBLISH_DATE,DUE_DATE,INTEREST_RATE,
        NAME,SHORT_DESCRIPTION,PRE_PERIOD,POST_PERIOD,CREATION_DATE,UPDATE_DATE,CATEGORY_HOT,SITE_HOT,PAWN_OWNER_ID,HANDLING_FEE_RATE,STATUS,IMAGE_DESC) VALUES (#{pawnShopId},#{pawnTicketId},#{tenderTotal},
        #{tenderQuantity},#{publishDate},#{dueDate},#{interestRate},#{name},#{description},#{prePeriod},#{postPeriod},
        #{creationDate},#{updateDate},#{categoryHot},#{siteHot},#{pawnShopOwnerId},#{handlingFeeRate},#{state},#{imageDesc})
    </insert>


	<update id="updateTender" parameterType="com.pgt.tender.bean.Tender" keyProperty="tenderId" useGeneratedKeys="true">
		UPDATE TENDER SET PAWN_SHOP_ID=#{pawnShopId},PAWN_TICKET_ID=#{pawnTicketId},TENDER_TOTAL=#{tenderTotal},TENDER_QUANTITY=#{tenderQuantity},
		PUBLISH_DATE=#{publishDate},DUE_DATE=#{dueDate},INTEREST_RATE=#{interestRate},
		NAME=#{name},SHORT_DESCRIPTION=#{description},PRE_PERIOD=#{prePeriod},POST_PERIOD=#{postPeriod},UPDATE_DATE=#{updateDate},SITE_HOT=#{siteHot},
		PAWN_OWNER_ID=#{pawnShopOwnerId},HANDLING_FEE_RATE=#{handlingFeeRate},STATUS=#{state},IMAGE_DESC=#{imageDesc}
		WHERE ID=#{tenderId}
	</update>

	<delete id="deleteTender" parameterType="int">
		DELETE FROM TENDER WHERE ID=#{tenderId}
	</delete>

	<select id="queryTenderProduct" parameterType="int" resultMap="tenderProduct">
		select * from product where TENDER_ID = #{id}
	</select>
</mapper>