<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.cart.dao.UserOrderDao">

	<sql id="limit-split-page">
		<if test="@Ognl@isNotBlankString(pagination.sortFieldName)">
			ORDER BY ${pagination.sortFieldName}
			<if test="not pagination.asc">
				DESC
			</if>
		</if>
		<if test="not pagination.invalidPagination">
			LIMIT #{pagination.sqlStartIndex}, #{pagination.capacity}
		</if>
	</sql>

	<resultMap id="orderWithCommerceItem" type="com.pgt.cart.bean.Order">
		<id column="order_id" property="id" />
		<result column="user_id" property="userId" />
		<result column="order_type" property="type" />
		<result column="status" property="status" />
		<result column="subtotal" property="subtotal" />
		<result column="total" property="total" />
		<result column="user_comments" property="userComments" />
		<result column="creation_date" property="creationDate" />
		<result column="update_date" property="updateDate" />
		<result column="submit_Date" property="submitDate" />
		<association column="order_id" property="shippingVO"
		             select="com.pgt.shipping.dao.ShippingVOMapper.findShippingByOrderId" />
		<association column="order_id" property="payment"
		             select="com.pgt.payment.dao.PaymentMapper.findPaymentGroupByOrderId" />
		<collection column="order_id" property="commerceItems" select="loadCommerceItemsFromOrder" />
	</resultMap>

	<resultMap id="browsedProduct" type="com.pgt.cart.bean.BrowsedProductVO">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="prod_id" property="productId" />
		<result column="type" property="type" />
		<result column="creation_date" property="creationDate" />
		<result column="update_date" property="updateDate" />
	</resultMap>

	<select id="querySubmittedOrderCount" resultType="long">
		SELECT COUNT(o.ORDER_ID)
		FROM `ORDER` o
		WHERE o.USER_ID = #{userId}
		<choose>
			<when test="orderStatus &gt; 0">
				AND o.STATUS = #{orderStatus}
			</when>
			<otherwise>
				AND o.STATUS != 10
			</otherwise>
		</choose>
		<if test="@Ognl@isNotBlankString(pagination.keyword)">
			AND (o.ORDER_ID = #{pagination.keyword}
			OR o.ORDER_ID IN (
			SELECT DISTINCT ORDER_ID
			FROM COMMERCE_ITEM ci
			WHERE ci.NAME LIKE CONCAT('%', #{pagination.keyword}, '%')))
		</if>
	</select>

	<select id="querySubmittedOrderPage" resultMap="orderWithCommerceItem">
		SELECT o.*
		FROM `ORDER` o
		WHERE o.USER_ID = #{userId}
		<choose>
			<when test="orderStatus &gt; 0">
				AND o.STATUS = #{orderStatus}
			</when>
			<otherwise>
				AND o.STATUS != 10
			</otherwise>
		</choose>
		<if test="@Ognl@isNotBlankString(pagination.keyword)">
			AND (o.ORDER_ID = #{pagination.keyword}
			OR o.ORDER_ID IN (
			SELECT DISTINCT ORDER_ID
			FROM COMMERCE_ITEM ci
			WHERE ci.NAME LIKE CONCAT('%', #{pagination.keyword}, '%')))
		</if>
		<include refid="limit-split-page" />
	</select>

	<select id="loadCommerceItemsFromOrder" parameterType="int"
	        resultMap="com.pgt.cart.dao.ShoppingCartDao.commerceItem">
		SELECT
			ci.commerce_item_id,
			order_id,
			ci.reference_id,
		`name`,
			quality,
			list_price,
			sale_price,
			quantity,
			amount,
			snapshot_id,
			ci.`index`,
			merchant,
			creation_date,
			update_date,
			consignor,
			delivered,
			received,
			logistics,
			delivery_time,
			tracking_no,
			m.media_id,
			m.title,
			m.path
		FROM COMMERCE_ITEM ci
			LEFT JOIN COMMERCE_ITEM_DELIVERY cid ON ci.commerce_item_id = cid.commerce_item_id
			LEFT JOIN MEDIA m ON ci.snapshot_id = m.media_id
		WHERE order_id = #{orderId}
		ORDER BY `index`
	</select>

	<select id="loadOrderHistory" parameterType="int" resultMap="orderWithCommerceItem">
		SELECT *
		FROM `ORDER` o
		WHERE o.ORDER_ID = #{orderId}
	</select>

	<select id="queryBrowsedProducts" parameterType="int" resultMap="browsedProduct">
		SELECT *
		FROM RECENT_BROWSE
		WHERE USER_ID = #{userId}
		AND `TYPE` = #{type}
		ORDER BY UPDATE_DATE DESC
	</select>

	<update id="resetBrowsedProductUpdateDate" parameterType="int">
		UPDATE RECENT_BROWSE
		SET update_date = now()
		WHERE id = #{browsedProductId}
	</update>

	<update id="replaceBrowsedProductRecord">
		UPDATE RECENT_BROWSE
		SET PROD_ID = #{productId}, CREATION_DATE = now(), UPDATE_DATE = now()
		WHERE id = #{browsedProductId}
	</update>

	<insert id="createBrowsedProductRecord" parameterType="com.pgt.cart.bean.BrowsedProductVO" useGeneratedKeys="true"
	        keyProperty="id">
		INSERT INTO RECENT_BROWSE (USER_ID, PROD_ID, CREATION_DATE, UPDATE_DATE)
		VALUES ( #{userId}, #{productId}, now(), now() )
	</insert>

	<update id="resetBrowsedProductsBatchUpdateDate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE RECENT_BROWSE
			SET UPDATE_DATE = now()
			WHERE ID = #{item}
		</foreach>
	</update>

</mapper>