/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

/*style
**************************************************************************************************************************************************/

/*header
*****************************************************/
.header{
  overflow: hidden;
}
.top-banner-end {
  display: block;
  height: 560px;
}

.top {
  height: 37px;
  line-height: 37px;
  background: #f5f5f5;
  font-size: 12px;
  color: #6c6c6c;

  * {
    vertical-align: middle;
  }
}

.top-content {
  @extend %clear;
  margin: 0 auto;
  width: $main-width;
}

.top-welcome {
  float: left;
  width: 50%;
  text-align: left;
}

.top-welcome-phone-title {
  padding-left: 20px;
}

.top-welcome-phone-value {
  padding-left: 5px;
}

.top-user {
  float: right;
  width: 50%;
  text-align: right;

  a {
    color: #6c6c6c;
  }
}

.top-user-register {
  padding-left: 10px;
}

.head {
  margin: 0 auto;
  @include wh($main-width, 110px);
}

.logo,
.hot-left,
.search,
.hot-right {
  float: left;
  height: 110px;
}

.logo {
  width: 230px;
  background: url("../core/images/header/logo-red.jpg") no-repeat left center;
}

.logo-link {
  display: block;
  height: 100%;
}

.hot-left {
  width: 150px;
}

.search {
  width: 560px;
}

.search-content {
  float: right;
  margin-top: 36px;
  border: 1px solid #a9b7b7;
  border-radius: 3px;
  overflow: hidden;
}

.search-input-text{
  float: right;
  border: none;
  border-right: 1px solid #a9b7b7;
  padding: 0 10px;
  @include wh(400px, 37px);
  font-size: 14px;
  font-weight: 400;
}

.search-input-submit{
  float: right;
  border: none;
  @include wh(37px, 37px);
  background: url("../core/images/header/icon-search.png") no-repeat center center;

  &:hover {
    background: #a9b7b7 url("../core/images/header/icon-search-hover.png") no-repeat center center;
  }
}

.hot-right {
  margin-left: 100px;
  width: 160px;
}
.nav {
  background: #272727;
}

.nav-content {
  margin: 0 auto;
  @include wh($main-width, 54px);
}

.menu {
  position: relative;
  z-index: 1;
  float: left;
  @include wh(230px, 54px);
}

.menu-title {
  line-height: 54px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: white;
  cursor: pointer;
  &:hover + .menu-list{
    display: block;
  }
}

.menu-list {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  background: url("../core/images/opacity/opacity_white_9.png") repeat;
}

.menu-item {
  margin: 0 15px;
  padding: 15px 0 15px 40px;
  border-bottom: 1px dashed $gray-light;
}

.menu-item-title {
  color: #6c6c6c;
}

.menu-item-sub-box {
  padding-top: 5px;
  line-height: 1.2;
}

.menu-item-sub {
  font-size: 14px;
  color: #6c6c6c;
}

.nav-list {
  position: relative;
  float: left;
}

.nav-item-hover {
  position: absolute;
  z-index: 1;
  background: #414141;
  transition: all .3s;
}

.nav-item {
  position: relative;
  z-index: 2;
  float: left;
}

.nav-item-link {
  display: block;
  padding: 0 30px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}





.head-banner{
  margin: 0 auto;
  @include wh(1920px,560px);
  background: url("../core/images/invest/banner.jpg") no-repeat center center;
}

/* content-begin
*****************************************************************/

.content{
  margin: 30px auto;
  @include wh(1200px);
}
.content-title{
  margin: 0 auto;
  padding-top: 50px;
  @include wh(1200px,40px);
  h1{
    float: left;
    margin: 0 45px;
    font-size: 25px;
    color: #595959;
  }
  .content-border{
    float: left;
    border-bottom: 3px solid #595959;
    @include wh(500px ,15px);
  }
}
.content-box{
  margin: 50px auto;
  @include wh(1100px ,400px);

}

.content-box-show{
  float: left;
  margin: 0 30px;
  border: 2px solid #ebebeb;
  @include wh(300px, 400px);
  background: #f6f6f6;
  &:hover{
    border: 2px solid #c90304;
  }
  .b2c-img,
  .index-img,
  .collect-img{
      margin: 40px auto;
      @include wh(70px,70px);
  }
  .b2c-img{
    background: url("../core/images/invest/b2c.png") no-repeat;
  }
  .index-img{
    background: url("../core/images/invest/index.png") no-repeat;
  }
  .collect-img{
    background: url("../core/images/invest/collect.png") no-repeat;
  }
  &:hover > .b2c-img{
    background: url("../core/images/invest/b2c-red.png") no-repeat;
  }
  &:hover > .index-img{
    background: url("../core/images/invest/index-red.png") no-repeat;
  }
  &:hover > .collect-img{
    background: url("../core/images/invest/collect-red.png") no-repeat;
  }
  &:hover > p{
    color: #c90304;
  }
  &:hover > a{
    background: #c90304;
  }

  p{
    float: left;
    margin: 20px 0 0 30px;
    @include wh(250px);
    font-size: 20px;
    color: #595959;
    text-align: center;
  }
  a{
    float: left;
    margin: 60px 0 0 90px;
    @include color-btn(120px, 40px, 3px, 15px, #595959 ,#c90304);
  }
}