@import '../core/scss/normalize';
@import '../core/scss/commonMixin';
@import '../core/scss/globleVariable';
@import '../core/scss/fontGeneral';
@import '../core/scss/header-simple';
@import '../core/scss/footer-simple';

.content-box {
  background: #eaeaea;
}
.content {
  @include bfc;
  margin: 0 auto;
  @include wh(1060px, 475px);
}
form {
  float: right;
  margin: 50px 0 0 0;
  width: 350px;
  padding: 20px 20px 40px 20px;
  border-radius: 10px;
  background: white;

  span {
    color: #ed2842;
    padding-left: 25px;
  }
}
.login-head {
  h1 {
    font-size: 20px;
  }

  a {
    float: right;
    margin-top: 5px;
    padding-left: 22px;
    color: #ed2842;
    line-height: 20px;
    vertical-align: middle;
    text-decoration: none;
    background: url("../core/images/user/login-icons.png") -103px -74px no-repeat;
  }
}

.username-box,
.password-box,
.other-box,
.auth-box,
.sub-box {
  margin-top: 20px;
}



.username-box,
.password-box {
  width: 100%;


  label {
    float: left;
    border: 1px solid $middleGray;
    border-right: none;
    border-image: none;
    @include wh(37px, 37px);
  }

  input {
    border: 1px solid $middleGray;
    padding-left: 6px;
    width: 300px;
    height:35px;

    outline: none;
  }
}

.username-box {
  label {
    background: url("../core/images/user/login-icons.png") 0 0 no-repeat;
  }
}
.password-box {
  label {
    background: url("../core/images/user/login-icons.png") -48px 0 no-repeat;
  }
}
.other-box {
  a {
    padding-left: 25px;
    text-decoration: none;
    color: $middleGray;

    &:hover {
      color: #ed2842;
      text-decoration: underline;
    }
  }

}
.auth-box {

  input {
    @include wh(100px, 34px);
    vertical-align: middle;
  }
  img {
    @include wh(150px, 40px);
    vertical-align: middle;
  }
  a {
    vertical-align: middle;
    text-decoration: none;
    color: $middleGray;

    &:hover {
      color: #ed2842;
      text-decoration: underline;
    }
  }
}
.sub-box {
  input {
    padding: 0;
    border: 0;
    @include wh(100%, 40px);
    font-size: 20px;
    color: white;
    background: #ed2842;
  }
}



/*for js
*********************************************************************/

  .username-focus {
    label {
      background-position: 0 -48px;
      border-color: #84bcdf;
    }
    input {
      border-color: #84bcdf;
    }
  }

  .password-focus {
    label {
      background-position: -48px -48px;
      border-color: #84bcdf;
    }
    input {
      border-color: #84bcdf;
    }
  }

  .username-wrong {
    label {
      background-position: 0 -96px;
      border-color: #e08385;
    }
    input {
      border-color: #e08385;
    }

  }
  .password-wrong {
    label {
      background-position: -48px -96px;
      border-color: #e08385;
    }
    input {
      border-color: #e08385;
    }
  }

.hide {
  display: none;
}
