@import '../core/scss/normalize';
@import '../core/scss/commonMixin';
@import '../core/scss/globleVariable';
@import '../core/scss/fontGeneral';
@import '../core/scss/header-simple';
@import '../core/scss/footer-simple';

.content-box {
  background: #ed2842;

}

.content {
  margin: 0 auto;
  padding: $colSpace 0;
  width: 1060px;
  background: url("../core/images/user/regist-test.jpg") center right no-repeat;
}

form {
  font-size: 14px;
  margin-top: 20px;
  padding: 20px 30px;
  width: 500px;
  //border: 2px solid $middleGray;
  border-radius: 10px;
  background: white;
}

tr {
  height: 50px;
}
.input-texts {
  width: 250px;
}

label {
  padding-right: 20px;
  color: #1b1b1b;
  font-weight: 900;

  span {
    color: #ed2842;
  }
}

input[type=text],
input[type=password] {
  border: 1px solid $middleGray;
  height: 35px;
  width: 90%;

  &:focus {
    border: 1px solid $viceColor;
  }
}

.registSub,
.getPhoneCom {
  @include wh(100%, 40px);
  border: none;
  background: #ed2842;
  color: white;
  font-size: 20px;

  &:active {
    border: 2px solid #ed2842;
    color: #ed2842;
    background: white;
  }
}

.getPhoneCom {
  width: 68px;
  font-size: 14px;
}

.security-code,
.phone-security {
  width: 100px;
  height: 35px;
}

.prompt {
  color: $emColor;
  span {
    color: $emColor;
  }
}

.regist-protocol {
  @extend %link-btn;
}

.security-code-box {
  img {
    width: 80px;
    height: 40px;
  }
}

.toLogin {
  color: #ed2842;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/*for js
******************************************************************/
.disable {
  background: #c0c0c0;
}
