@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';


/*part
**************************************************************************************************************************************************/
@include header;
@include footer;

/*style
**************************************************************************************************************************************************/
body {
  background: #f3f3f3;
}

.link-btn {
  color: $em-light;

  &:hover {
    color: $em;
  }
}

.step {
  margin: 115px auto 0;
  @include wh($main-width, 50px);
  text-align: center;
  background: white;

  li {
    float: left;
    @include wh(25%, 100%);
    line-height: 50px;
  }
}

.main {
  margin: 30px auto 40px;
  width: $main-width;

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  .main-content {
    border: 1px solid $gray-light;
    padding-bottom: 30px;
    background: white;
  }

}

.order-info {
  .info-row-1,
  .info-row-2,
  .info-row-3,
  .info-row-4,
  .info-row-5 {
    @extend %clear;
    padding: 15px 30px;
  }

  .info-value {
    padding-left: 15px;
  }

  .info-row-1 {
    .time-tips {
      padding-left: 205px;
    }

    .info-value {
      color: black;
      &:hover {
        color: $main;
      }
    }
  }

  .info-row-2 {
    .info-col-1 {
      float: left;
      width: 217px;
    }

    .info-col-2 {
      float: left;
      width: 238px;
    }

    .buy-cost {
      color: $main;
    }

    .info-col-3 {
      float: left;
    }
  }

  .info-row-3 {
    .time-tips {
      padding-left: 30px;
    }
  }

  .info-row-4 {
    input {
      margin-left: 15px;
      padding-left: 10px;
      @include wh(330px, 30px);
    }
  }

  .info-row-5 {
    .buy-explain-title {
      float: left;
    }

    .buy-explain {
      padding-left: 20px;
      float: left;
    }

    p {
      padding-bottom: 10px;
    }
  }

  .info-row-6 {
    padding: 80px 30px 0;
  }

  .info-row-7 {
    padding: 23px 0 0 70px;
  }

  .receive-item {
    padding-left: 70px;
    width: 1000px;
    line-height: 35px;

    .receive-choose {
      border: 1px solid $main;
    }
  }

  .receive-info {
    float: left;
    width: 750px;
  }

  .receive-handle {
    float: right;
    width: 250px;

    a {
      padding: 0 15px;
      border-left: 1px solid $gray-light;
    }

    .set-default {
      border-left: none;
    }
  }

  .add-and-modify {
    margin: 10px auto;
    padding: 20px 50px;
    width: 800px;
    background: #edeef0;
  }

  table {
    table-layout: fixed;
  }

  tr {
    height: 50px;
  }

  th {
    padding-right: 20px;
    width: 100px;
    text-align: right;
  }

  .input-text {
    position: relative;
    top: -1px;
    @include wh(180px, 28px);
    padding-left: 10px;
    border: 1px solid black;
  }

  .invest-province-select,
  .invest-city-select,
  .invest-country-select {
    @include like-select(110px, 30px, 0, 14px, black);
    margin-right: 4px;
  }

  .receive-button {
    @include color-btn(160px, 40px, 3px, 18px, $em, $em-dark);
  }

  .info-row-8 {
    padding-top: 35px;
    text-align: center;
  }

  .receive-ifo-submit {
    @include color-btn(200px, 40px, 3px, 18px, $main, $main-dark);
  }
}

.order-confirm {
  background: white;
  border: 1px solid $gray-light;

  .confirm-title {
    float: left;
    width: 210px;
    text-align: right;
  }

  .confirm-value {
    float: left;
    padding-left: 20px;
    width: 800px;
  }

  .confirm-row-1,
  .confirm-row-2,
  .confirm-row-3,
  .confirm-row-4,
  .confirm-row-5 {
    @extend %clear;
  }

  .confirm-row-1,
  .confirm-row-2,
  .confirm-row-3 {
    padding: 12px 0;
  }

  .confirm-row-4 {
    padding: 12px 0 55px;
    border-bottom: 1px dotted $gray-light;
  }

  .confirm-row-5 {
    padding: 27px 0 17px;
    border-bottom: 1px dotted $gray-light;

    p {
      padding-bottom: 13px;
    }
  }

  .confirm-row-6 {
    padding-top: 40px;

    table {
      margin-left: 120px;
      width: 950px;
      table-layout: fixed;
      text-align: left;
    }

    tr {
      border: 1px solid $gray-light;
    }

    th {
      height: 40px;
      padding-left: 10px;
      background: $gray-light;
      vertical-align: middle;
    }

    td {
      padding-left: 10px;
      height: 80px;
      vertical-align: middle;
    }

    .confirm-name {
      width: 370px;
    }

    .confirm-post-cost {
      width: 130px;
    }

    .confirm-item-cost {
      width: 140px;
    }

    .confirm-item-count {
      width: 120px;
    }

    .item-link {
      color: black;
      &:hover {
        color: $main;
      }
    }

    .cost {
      color: $main;
    }
  }

  .confirm-row-7 {
    padding: 10px 0 0 135px;
    color: $main;
  }

  .confirm-row-8 {
    padding: 10px 130px 0 0;
    text-align: right;

    .money-title {
      padding-right: 10px;
    }

    .cost {
      font-size: 22px;
      color: $main;
    }
  }

  .confirm-row-9 {
    padding-top: 45px;
    text-align: center;
  }

  .confirm-submit {
    @include color-btn(100px, 40px, 3px, 18px, $main, $main-dark);
    margin-right: 20px;
  }


  .confirm-reset {
    @include color-btn(120px, 40px, 3px, 18px, $gray-light, #b6b6b6);
    color: black;
  }

}