@charset "UTF-8";
.header .nav, .about-us, .approve, .order-info .info-row, .order-info .receive-item, .order-confirm .confirm-row, .pop-up .wrap, .pop-up .pop-content {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .order-info .info-row:after, .order-info .receive-item:after, .order-confirm .confirm-row:after, .pop-up .wrap:after, .pop-up .pop-content:after, .header .nav:before, .about-us:before, .approve:before, .order-info .info-row:before, .order-info .receive-item:before, .order-confirm .confirm-row:before, .pop-up .wrap:before, .pop-up .pop-content:before {
    content: " ";
    display: table;
    clear: both; }

.order-info .info-title, .order-info .info-value, .order-info .receive-name {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.header .nav, .about-us, .approve, .order-info .info-row, .order-info .receive-item, .order-confirm .confirm-row, .pop-up .wrap, .pop-up .pop-content {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .order-info .info-row:after, .order-info .receive-item:after, .order-confirm .confirm-row:after, .pop-up .wrap:after, .pop-up .pop-content:after, .header .nav:before, .about-us:before, .approve:before, .order-info .info-row:before, .order-info .receive-item:before, .order-confirm .confirm-row:before, .pop-up .wrap:before, .pop-up .pop-content:before {
    content: " ";
    display: table;
    clear: both; }

.order-info .info-title, .order-info .info-value, .order-info .receive-name {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.header .nav, .about-us, .approve, .order-info .info-row, .order-info .receive-item, .order-confirm .confirm-row, .pop-up .wrap, .pop-up .pop-content {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .order-info .info-row:after, .order-info .receive-item:after, .order-confirm .confirm-row:after, .pop-up .wrap:after, .pop-up .pop-content:after, .header .nav:before, .about-us:before, .approve:before, .order-info .info-row:before, .order-info .receive-item:before, .order-confirm .confirm-row:before, .pop-up .wrap:before, .pop-up .pop-content:before {
    content: " ";
    display: table;
    clear: both; }

.order-info .info-title, .order-info .info-value, .order-info .receive-name {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.header .nav, .about-us, .approve, .order-info .info-row, .order-info .receive-item, .order-confirm .confirm-row, .pop-up .wrap, .pop-up .pop-content {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .order-info .info-row:after, .order-info .receive-item:after, .order-confirm .confirm-row:after, .pop-up .wrap:after, .pop-up .pop-content:after, .header .nav:before, .about-us:before, .approve:before, .order-info .info-row:before, .order-info .receive-item:before, .order-confirm .confirm-row:before, .pop-up .wrap:before, .pop-up .pop-content:before {
    content: " ";
    display: table;
    clear: both; }

.order-info .info-title, .order-info .info-value, .order-info .receive-name {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*part
**************************************************************************************************************************************************/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0 2px #eeeeee;
  border-bottom: 1px solid #cccccc \9;
  width: 100%;
  height: 100px;
  background: white; }
  .header .header-inner {
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
  .header .logo,
  .header .nav,
  .header .search {
    float: left; }
  .header .logo {
    width: 242px;
    height: 100%;
    background: url("../core/images/header/logo-red.jpg") no-repeat left center; }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%; }
  .header .nav li {
    float: left;
    padding: 0 23px; }
  .header .nav a {
    font-size: 22px;
    line-height: 100px;
    color: black; }
    .header .nav a:hover {
      color: #ff6d6d; }
  .header .search {
    padding-top: 30px; }
    .header .search input {
      border: 1px solid #cccccc;
      padding: 10px;
      width: 260px;
      line-height: 20px;
      font-size: 14px;
      background: #fefefe;
      transition: width .2s linear; }
      .header .search input:focus {
        width: 300px;
        background: white;
        transition: width .2s linear; }
  .header .status {
    float: right;
    width: 234px;
    height: 100px;
    line-height: 100px;
    text-align: right; }
    .header .status .status-logout {
      height: 100px; }
  .header .status-login-btn,
  .header .status-help-center,
  .header .status-register-btn {
    margin-right: 20px; }
  .header .status-login-btn,
  .header .status-help-center,
  .header .status-register-btn,
  .header .status-help-center {
    height: 90px;
    vertical-align: middle; }
    .header .status-login-btn:hover,
    .header .status-help-center:hover,
    .header .status-register-btn:hover,
    .header .status-help-center:hover {
      border-bottom: 4px solid #ff6d6d;
      color: #ff6d6d; }
  .header .status-login-btn,
  .header .status-help-center,
  .header .status-register-btn,
  .header .status-help-center {
    float: right; }
  .header .status-my-account {
    margin: 15px 15px 0 0;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px; }
    .header .status-my-account:hover {
      background: white;
      top: -5px;
      box-shadow: 0 10px 15px #555555; }
  .header .status-my-account-detail {
    position: absolute;
    display: none;
    width: 200px;
    top: 80px;
    right: -120px;
    line-height: 25px;
    background: white;
    text-align: center; }
    .header .status-my-account-detail .detail-top {
      height: 70px;
      background: white;
      box-shadow: 0 10px 15px #555555; }
      .header .status-my-account-detail .detail-top a {
        padding: 0;
        margin-top: 5px; }
      .header .status-my-account-detail .detail-top img {
        width: 15px;
        height: 15px; }
    .header .status-my-account-detail .user-name {
      margin-top: 30px;
      width: 160px;
      text-align: center;
      float: left; }
    .header .status-my-account-detail .detail-bot {
      background: white;
      box-shadow: 0 10px 15px #555555;
      height: 70px; }
      .header .status-my-account-detail .detail-bot .detail-person {
        background: url("../core/images/header/man.png") no-repeat 24px 10px; }
      .header .status-my-account-detail .detail-bot .detail-order {
        background: url("../core/images/header/buy.png") no-repeat 21px 10px; }
      .header .status-my-account-detail .detail-bot .detail-exit {
        background: url("../core/images/header/exit.png") no-repeat 26px 10px; }
    .header .status-my-account-detail a {
      float: left;
      padding: 10px 0 0 8px;
      height: 50px;
      font-size: 14px;
      line-height: 80px;
      color: #000; }
      .header .status-my-account-detail a:hover {
        color: #ff6d6d; }
  .header .status-user-face-box {
    padding-left: 20px;
    float: left;
    width: 50%;
    height: 50%; }
  .header .status-user-face {
    border-radius: 20px;
    width: 100%;
    height: 100%; }

.footer {
  background: #3f3f3f; }

.goods-box {
  background: #cccccc; }

.us {
  position: relative; }

/*our-goods
  ************************************************/
.our-goods {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px;
  height: 70px; }

.our-good {
  float: left;
  width: 20%;
  height: 70px; }
  .our-good .icon-box {
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #ff6d6d;
    line-height: 70px;
    text-align: center; }
  .our-good i {
    color: white;
    font-size: 35px; }

/*2维码*/
.two-dimension {
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) \9;
  position: absolute;
  top: 0;
  left: 100px; }

.our-app a:hover .two-dimension {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) \9;
  transition: opacity 1s linear; }

.good-text {
  margin-left: 80px;
  padding-top: 10px; }
  .good-text h4 {
    color: black;
    font-size: 16px; }
  .good-text p {
    padding-top: 5px;
    color: #000;
    font-size: 14px; }

/*about-us
  ************************************************/
.about-us {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px; }
  .about-us h3 {
    padding-bottom: 10px;
    color: #cccccc; }
  .about-us a {
    color: #cccccc;
    font-size: 13px; }
    .about-us a:hover {
      color: white; }
  .about-us p {
    color: #cccccc;
    font-size: 13px;
    line-height: 1.6; }
  .about-us ul {
    float: left;
    width: 15%;
    list-style: none; }
  .about-us li {
    padding: 2px 0; }
  .about-us .us {
    margin-left: 60%; }
  .about-us .our-app {
    float: right;
    width: 50%; }
  .about-us .apple-dimension,
  .about-us .android-dimension,
  .about-us .online-server,
  .about-us .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center; }
    .about-us .apple-dimension .app-icon,
    .about-us .android-dimension .app-icon,
    .about-us .online-server .app-icon,
    .about-us .online-server .app-icon {
      margin-bottom: 5px;
      width: 40px;
      height: 40px; }

/*approve-box
  ************************************************/
.approve-box {
  background: #333333;
  padding: 20px 0 5px;
  text-align: center; }
  .approve-box p {
    padding-top: 5px;
    color: #cccccc;
    font-size: 13px; }

.approve {
  margin: 0 auto;
  width: 240px; }
  .approve a {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 30px; }
  .approve img {
    width: 100%;
    height: 100%; }

/*style
**************************************************************************************************************************************************/
body {
  background: #f3f3f3; }

.step {
  margin: 115px auto 0;
  width: 1200px;
  height: 50px;
  text-align: center;
  background: white; }
  .step li {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 50px; }

.main {
  margin: 30px auto 40px;
  width: 1200px; }
  .main h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid black; }
  .main .main-content {
    border: 1px solid #cccccc;
    padding: 20px 0 30px;
    background: white;
    font-size: 14px; }

.order-info .info-row {
  padding: 15px 30px; }

.order-info .info-title {
  width: 210px;
  text-align: right;
  vertical-align: middle; }

.order-info .info-value {
  padding-left: 15px;
  vertical-align: middle; }

.order-info .time-tips {
  padding-left: 205px; }

.order-info .info-value {
  color: black; }
  .order-info .info-value:hover {
    color: #ff6d6d; }

.order-info .info-col-1 {
  float: left;
  width: 300px; }

.order-info .info-col-2 {
  float: left;
  width: 350px; }

.order-info .buy-cost {
  color: #ff6d6d; }

.order-info .info-col-3 {
  float: left; }

.order-info .time-tips {
  padding-left: 30px; }

.order-info .remark {
  margin-left: 15px;
  padding-left: 10px;
  width: 330px;
  height: 30px; }

.order-info .buy-explain-title {
  float: left;
  width: 210px;
  text-align: right; }

.order-info .buy-explain {
  padding-left: 20px;
  float: left; }

.order-info p {
  padding-bottom: 10px; }

.order-info .address-box {
  padding: 80px 70px 0; }
  .order-info .address-box .link-btn {
    float: right;
    margin: 5px 40px 0 0; }

.order-info .address-have-no-add {
  display: block;
  margin: 20px 0 0 45px;
  border: 2px dashed gray;
  width: 1020px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: gray; }
  .order-info .address-have-no-add:hover {
    border-color: #ff6d6d;
    color: #ff6d6d; }

.order-info .receive-item {
  margin: 5px 0 5px 70px;
  width: 1000px;
  line-height: 30px; }
  .order-info .receive-item:hover {
    background: #fff3f3; }
    .order-info .receive-item:hover .receive-handle {
      display: block; }

.order-info .receive-name {
  border: 1px solid #cccccc;
  width: 140px;
  height: 30px;
  text-align: center;
  background: white;
  cursor: pointer; }
  .order-info .receive-name.receive-choose {
    border: 1px solid #ff6d6d; }

.order-info .receive-info {
  float: left;
  width: 750px; }

.order-info .receive-handle {
  float: right;
  display: none;
  width: 250px; }
  .order-info .receive-handle a {
    padding: 0 15px;
    border-left: 1px solid #cccccc; }
  .order-info .receive-handle .set-default {
    border-left: none; }

.order-info .receive-add-new:hover {
  background: white; }

.order-info .add-and-modify {
  margin: 10px auto;
  padding: 20px 50px;
  width: 800px;
  background: #edeef0; }

.order-info table {
  table-layout: fixed; }

.order-info tr {
  height: 50px; }

.order-info th {
  padding-right: 20px;
  width: 100px;
  text-align: right;
  font-weight: 400; }

.order-info .input-select {
  width: 120px;
  height: 32px;
  border: 1px solid #cccccc;
  background: white;
  font-size: 14px; }

.order-info .input-text {
  position: relative;
  top: -1px;
  width: 180px;
  height: 28px;
  padding-left: 10px;
  border: 1px solid #cccccc; }

.order-info .input-text-address-box {
  padding-top: 15px; }

.order-info .input-text-address {
  width: 400px; }

.order-info .invest-province-select,
.order-info .invest-city-select,
.order-info .invest-country-select {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 30px;
  margin-right: 4px; }
  .order-info .invest-province-select i,
  .order-info .invest-province-select a,
  .order-info .invest-city-select i,
  .order-info .invest-city-select a,
  .order-info .invest-country-select i,
  .order-info .invest-country-select a {
    font-size: 14px; }
  .order-info .invest-province-select i,
  .order-info .invest-city-select i,
  .order-info .invest-country-select i {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: white; }
  .order-info .invest-province-select a,
  .order-info .invest-city-select a,
  .order-info .invest-country-select a {
    display: block;
    text-decoration: none;
    text-align: center; }
  .order-info .invest-province-select .select-view,
  .order-info .invest-city-select .select-view,
  .order-info .invest-country-select .select-view {
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    border-radius: 0;
    line-height: 30px; }
    .order-info .invest-province-select .select-view:hover,
    .order-info .invest-city-select .select-view:hover,
    .order-info .invest-country-select .select-view:hover {
      background: #cccccc; }
    .order-info .invest-province-select .select-view span,
    .order-info .invest-city-select .select-view span,
    .order-info .invest-country-select .select-view span {
      color: black; }
  .order-info .invest-province-select ul,
  .order-info .invest-city-select ul,
  .order-info .invest-country-select ul {
    position: absolute;
    z-index: 1;
    display: none;
    overflow: scroll;
    max-height: 295px;
    top: 106%;
    left: 0;
    border: 1px solid black;
    width: 110px;
    background: white;
    list-style: none; }
  .order-info .invest-province-select li,
  .order-info .invest-city-select li,
  .order-info .invest-country-select li {
    padding: 3px 0; }
    .order-info .invest-province-select li a,
    .order-info .invest-city-select li a,
    .order-info .invest-country-select li a {
      color: black; }
    .order-info .invest-province-select li:hover,
    .order-info .invest-city-select li:hover,
    .order-info .invest-country-select li:hover {
      background: #cccccc; }
      .order-info .invest-province-select li:hover a,
      .order-info .invest-city-select li:hover a,
      .order-info .invest-country-select li:hover a {
        color: white; }

.order-info .receive-button {
  display: inline-block;
  padding: 0;
  border: none;
  width: 160px;
  height: 40px;
  font-size: 18px;
  background: #86b4ed;
  border-radius: 3px;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .order-info .receive-button:hover {
    background: #5a98e6; }

.order-info .info-row-8 {
  padding-top: 35px;
  text-align: center; }

.order-info .receive-ifo-submit {
  display: inline-block;
  padding: 0;
  border: none;
  width: 200px;
  height: 40px;
  font-size: 18px;
  background: #ff6d6d;
  border-radius: 3px;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .order-info .receive-ifo-submit:hover {
    background: #ff3a3a; }

.order-confirm .confirm-title {
  float: left;
  width: 210px;
  text-align: right; }

.order-confirm .confirm-value {
  float: left;
  padding-left: 20px;
  width: 800px; }

.order-confirm .confirm-row {
  padding: 12px 0; }

.order-confirm .confirm-row-bottom-line {
  padding: 12px 0 55px;
  border-bottom: 1px dotted #cccccc; }

.order-confirm .confirm-address-info {
  padding: 27px 0 17px;
  border-bottom: 1px dotted #cccccc; }
  .order-confirm .confirm-address-info p {
    padding-bottom: 13px; }

.order-confirm .confirm-product-list {
  padding-top: 40px; }
  .order-confirm .confirm-product-list table {
    margin-left: 120px;
    width: 950px;
    table-layout: fixed;
    text-align: left; }
  .order-confirm .confirm-product-list tr {
    border: 1px solid #cccccc; }
  .order-confirm .confirm-product-list th {
    height: 40px;
    padding-left: 10px;
    background: #cccccc;
    vertical-align: middle;
    font-weight: 400; }
  .order-confirm .confirm-product-list td {
    padding-left: 10px;
    height: 80px;
    vertical-align: middle; }
  .order-confirm .confirm-product-list .confirm-name {
    width: 370px; }
  .order-confirm .confirm-product-list .confirm-post-cost {
    width: 130px; }
  .order-confirm .confirm-product-list .confirm-item-cost {
    width: 140px; }
  .order-confirm .confirm-product-list .confirm-item-count {
    width: 120px; }
  .order-confirm .confirm-product-list .item-link {
    color: black; }
    .order-confirm .confirm-product-list .item-link:hover {
      color: #ff6d6d; }
  .order-confirm .confirm-product-list .cost {
    color: #ff6d6d; }

.order-confirm .confirm-row-7 {
  padding: 10px 0 0 135px;
  color: #ff6d6d; }

.order-confirm .confirm-row-8 {
  padding: 10px 130px 0 0;
  text-align: right; }
  .order-confirm .confirm-row-8 .money-title {
    padding-right: 10px; }
  .order-confirm .confirm-row-8 .cost {
    font-size: 22px;
    color: #ff6d6d; }

.order-confirm .confirm-row-9 {
  padding-top: 45px;
  text-align: center; }

.order-confirm .confirm-submit {
  display: inline-block;
  padding: 0;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 18px;
  background: #ff6d6d;
  border-radius: 3px;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-right: 20px; }
  .order-confirm .confirm-submit:hover {
    background: #ff3a3a; }

.order-confirm .confirm-reset {
  display: inline-block;
  padding: 0;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 18px;
  background: #cccccc;
  border-radius: 3px;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer;
  color: black; }
  .order-confirm .confirm-reset:hover {
    background: #b6b6b6; }

.order-pay {
  background: white;
  border: 1px solid #cccccc;
  font-size: 14px; }
  .order-pay .pay-content {
    margin: 0 auto 40px auto;
    width: 1000px; }
  .order-pay .pay-title {
    padding: 30px 0 0 0; }
    .order-pay .pay-title span {
      color: #ff6d6d; }
  .order-pay .pay-info {
    margin: 50px 0 20px 0;
    border: 1px solid #cccccc;
    height: 200px; }
    .order-pay .pay-info .amount-payable {
      float: left;
      margin-top: 50px;
      border-right: 1px solid #cccccc;
      width: 30%;
      height: 100px;
      line-height: 100px;
      text-align: center; }
    .order-pay .pay-info .pay-add {
      float: left;
      padding: 70px 0 0 50px;
      width: 60%;
      height: 130px; }
  .order-pay .pay-yeepay {
    height: 30px; }
    .order-pay .pay-yeepay input {
      line-height: 30px; }
    .order-pay .pay-yeepay span {
      color: #ff6d6d; }
  .order-pay .payment {
    border: 2px solid #ff6d6d;
    height: 250px; }
    .order-pay .payment .pay-check {
      padding: 50px 0 0 50px; }
    .order-pay .payment .pay-Alipay {
      float: left;
      margin: 60px;
      width: 200px;
      height: 65px; }
      .order-pay .payment .pay-Alipay input {
        margin: 0 20px 50px 0; }
  .order-pay .pay-submit {
    margin: 70px 0 0 0; }
    .order-pay .pay-submit .pay-submit-btn {
      display: inline-block;
      padding: 0;
      border: none;
      width: 300px;
      height: 40px;
      font-size: 18px;
      background: #ff6d6d;
      border-radius: 3px;
      line-height: 40px;
      color: white;
      text-align: center;
      cursor: pointer;
      display: block;
      margin: 0 auto; }
      .order-pay .pay-submit .pay-submit-btn:hover {
        background: #ff3a3a; }

.pay-end {
  background: white;
  border: 1px solid #cccccc; }
  .pay-end .pay-end-content {
    width: 630px;
    height: 500px;
    margin: 0 auto;
    background: url("../core/images/cart/end-img.png") no-repeat 0 120px; }
  .pay-end .pay-end-font {
    float: right;
    margin-top: 100px;
    width: 500px;
    height: 400px; }
    .pay-end .pay-end-font .pay-end-font-num {
      padding-top: 30px;
      height: 20px; }
      .pay-end .pay-end-font .pay-end-font-num h3 {
        float: left; }
      .pay-end .pay-end-font .pay-end-font-num a {
        float: right; }
      .pay-end .pay-end-font .pay-end-font-num span {
        color: #ff6d6d; }
      .pay-end .pay-end-font .pay-end-font-num div {
        float: right; }
    .pay-end .pay-end-font .pay-end-font-help {
      padding-top: 20px;
      font-size: 13px;
      color: #555555;
      line-height: 20px; }

.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }
  .pop-up .wrap {
    margin: 150px auto;
    width: 600px;
    border-radius: 8px;
    box-shadow: black 0 0 20px;
    background: white;
    font-size: 14px; }
  .pop-up .inner {
    border-radius: 8px;
    overflow: hidden; }
  .pop-up h3 {
    padding: 10px 20px;
    background: #ff6d6d;
    color: white; }
    .pop-up h3 .pop-title {
      color: white;
      font-size: 18px; }
    .pop-up h3 .close {
      float: right;
      color: white;
      cursor: pointer;
      font-weight: 100; }
      .pop-up h3 .close:hover {
        color: #555555; }
  .pop-up .pop-content {
    width: 480px;
    margin: 20px auto 40px; }
  .pop-up .pop-btn {
    margin-top: 20px;
    text-align: right; }
  .pop-up .pop-confirm {
    display: inline-block;
    padding: 0;
    border: none;
    width: 60px;
    height: 30px;
    font-size: 16px;
    background: #ff6d6d;
    border-radius: 3px;
    line-height: 30px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .pop-up .pop-confirm:hover {
      background: #ff3a3a; }
  .pop-up .pop-cancel {
    margin-left: 10px;
    display: inline-block;
    padding: 0;
    border: none;
    width: 60px;
    height: 30px;
    font-size: 16px;
    background: #cccccc;
    border-radius: 3px;
    line-height: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    color: black; }
    .pop-up .pop-cancel:hover {
      background: #bbb; }
  .pop-up .pop-address-title {
    padding-bottom: 10px; }
  .pop-up .pop-address-value {
    padding-bottom: 20px; }
  .pop-up .invest-province-select,
  .pop-up .invest-city-select,
  .pop-up .invest-country-select {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 30px;
    margin-right: 4px; }
    .pop-up .invest-province-select i,
    .pop-up .invest-province-select a,
    .pop-up .invest-city-select i,
    .pop-up .invest-city-select a,
    .pop-up .invest-country-select i,
    .pop-up .invest-country-select a {
      font-size: 14px; }
    .pop-up .invest-province-select i,
    .pop-up .invest-city-select i,
    .pop-up .invest-country-select i {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      line-height: 25px;
      text-align: center;
      font-size: 12px;
      color: white; }
    .pop-up .invest-province-select a,
    .pop-up .invest-city-select a,
    .pop-up .invest-country-select a {
      display: block;
      text-decoration: none;
      text-align: center; }
    .pop-up .invest-province-select .select-view,
    .pop-up .invest-city-select .select-view,
    .pop-up .invest-country-select .select-view {
      border: 1px solid #cccccc;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: white;
      border-radius: 0;
      line-height: 30px; }
      .pop-up .invest-province-select .select-view:hover,
      .pop-up .invest-city-select .select-view:hover,
      .pop-up .invest-country-select .select-view:hover {
        background: #cccccc; }
      .pop-up .invest-province-select .select-view span,
      .pop-up .invest-city-select .select-view span,
      .pop-up .invest-country-select .select-view span {
        color: black; }
    .pop-up .invest-province-select ul,
    .pop-up .invest-city-select ul,
    .pop-up .invest-country-select ul {
      position: absolute;
      z-index: 1;
      display: none;
      overflow: scroll;
      max-height: 295px;
      top: 106%;
      left: 0;
      border: 1px solid black;
      width: 110px;
      background: white;
      list-style: none; }
    .pop-up .invest-province-select li,
    .pop-up .invest-city-select li,
    .pop-up .invest-country-select li {
      padding: 3px 0; }
      .pop-up .invest-province-select li a,
      .pop-up .invest-city-select li a,
      .pop-up .invest-country-select li a {
        color: black; }
      .pop-up .invest-province-select li:hover,
      .pop-up .invest-city-select li:hover,
      .pop-up .invest-country-select li:hover {
        background: #cccccc; }
        .pop-up .invest-province-select li:hover a,
        .pop-up .invest-city-select li:hover a,
        .pop-up .invest-country-select li:hover a {
          color: white; }
  .pop-up .pop-address-name,
  .pop-up .pop-address-phone {
    width: 240px;
    height: 26px; }
  .pop-up .pop-address-address {
    width: 470px;
    height: 26px; }
  .pop-up .pop-error {
    color: #ff6d6d; }

/*# sourceMappingURL=../../maps/buy/buy.css.map */
