.idea/
.gradle/
.gradle/*
build/
out/
pgt.iml
b2c_store/b2c_store.iml
p2p_store/p2p_store.iml
core/core.iml
admin/admin.iml
mobile/mobile.iml
.idea
p2p_store/src/main/webapp/node_modules
b2c_store/src/main/webapp/node_modules
pgt.ipr
pgt.iws
bin/
src/main/webapp/resources/.idea/workspace.xml
b2c_store/src/main/webapp/resources/.idea/workspace.xml
src/main/webapp/resources/.idea/
src/main/webapp/.idea/
.project
.classpath
src/main/webapp/node_modules/
elasticsearch-2.0.0/
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
.DS_Store
server/
.settings/
/.settings/org.eclipse.core.resources.prefs
/cache
/elasticsearch-2.1.0/
/elasticsearch_release/
/libs/HdrHistogram-2.1.6.jar
/libs/antlr-2.7.7.jar
/libs/aopalliance-1.0.jar
/libs/c3p0-0.9.5.1.jar
/libs/classmate-1.0.0.jar
/libs/commons-beanutils-1.8.3.jar
/libs/commons-cli-1.3.1.jar
/libs/commons-codec-1.10.jar
/libs/commons-collections-3.2.2.jar
/libs/commons-fileupload-1.3.1.jar
/libs/commons-io-2.2.jar
/libs/commons-lang3-3.3.2.jar
/libs/commons-logging-1.2.jar
/libs/compress-lzf-1.0.2.jar
/libs/dom4j-1.6.1.jar
/libs/ehcache-core-2.6.11.jar
/libs/elasticsearch-2.1.0.jar
/libs/flyway-core-3.2.1.jar
/libs/freemarker-2.3.23.jar
/libs/gson-2.4.jar
/libs/guava-18.0.jar
/libs/hamcrest-core-1.3.jar
/libs/hibernate-commons-annotations-4.0.4.Final.jar
/libs/hibernate-core-4.3.1.Final.jar
/libs/hibernate-jpa-2.1-api-1.0.0.Final.jar
/libs/hibernate-validator-5.1.3.Final.jar
/libs/hppc-0.7.1.jar
/libs/httpclient-4.4.jar
/libs/httpcore-4.4.jar
/libs/jackson-annotations-2.6.3.jar
/libs/jackson-core-2.6.3.jar
/libs/jackson-databind-2.6.3.jar
/libs/jackson-dataformat-cbor-2.6.2.jar
/libs/jackson-dataformat-smile-2.6.2.jar
/libs/jackson-dataformat-yaml-2.6.2.jar
/libs/jandex-1.1.0.Final.jar
/libs/javassist-3.18.1-GA.jar
/libs/jboss-logging-3.1.3.GA.jar
/libs/jboss-logging-annotations-1.2.0.Beta1.jar
/libs/jboss-transaction-api_1.2_spec-1.0.0.Final.jar
/libs/jdom-2.0.2.jar
/libs/jetty-http-9.3.6.v20151106.jar
/libs/jetty-io-9.3.6.v20151106.jar
/libs/jetty-security-9.3.6.v20151106.jar
/libs/jetty-server-9.3.6.v20151106.jar
/libs/jetty-servlet-9.3.6.v20151106.jar
/libs/jetty-util-9.3.6.v20151106.jar
/libs/jetty-webapp-9.3.6.v20151106.jar
/libs/jetty-xml-9.3.6.v20151106.jar
/libs/joda-convert-1.2.jar
/libs/joda-time-2.8.2.jar
/libs/json-20131018.jar
/libs/jsr166e-1.1.0.jar
/libs/jstl-1.2.jar
/libs/junit-4.12.jar
/libs/liquibase-core-3.4.1.jar
/libs/logback-classic-1.1.3.jar
/libs/logback-core-1.1.3.jar
/libs/lucene-analyzers-common-5.3.1.jar
/libs/lucene-backward-codecs-5.3.1.jar
/libs/lucene-core-5.3.1.jar
/libs/lucene-grouping-5.3.1.jar
/libs/lucene-highlighter-5.3.1.jar
/libs/lucene-join-5.3.1.jar
/libs/lucene-memory-5.3.1.jar
/libs/lucene-misc-5.3.1.jar
/libs/lucene-queries-5.3.1.jar
/libs/lucene-queryparser-5.3.1.jar
/libs/lucene-sandbox-5.3.1.jar
/libs/lucene-spatial-5.3.1.jar
/libs/lucene-spatial3d-5.3.1.jar
/libs/lucene-suggest-5.3.1.jar
/libs/mchange-commons-java-0.2.10.jar
/libs/modelmapper-0.7.5.jar
/libs/mybatis-3.2.8.jar
/libs/mybatis-ehcache-1.0.0.jar
/libs/mybatis-generator-core-1.3.2.jar
/libs/mybatis-spring-1.2.3.jar
/libs/mysql-connector-java-5.1.36.jar
/libs/netty-3.10.5.Final.jar
/libs/rome-1.5.1.jar
/libs/rome-utils-1.5.1.jar
/libs/shiro-core-1.2.4.jar
/libs/slf4j-api-1.7.7.jar
/libs/snakeyaml-1.15.jar
/libs/spatial4j-0.4.1.jar
/libs/spring-aop-4.1.6.RELEASE.jar
/libs/spring-beans-4.2.2.RELEASE.jar
/libs/spring-context-4.1.6.RELEASE.jar
/libs/spring-core-4.2.2.RELEASE.jar
/libs/spring-dao-2.0.8.jar
/libs/spring-expression-4.1.6.RELEASE.jar
/libs/spring-jdbc-4.2.2.RELEASE.jar
/libs/spring-oxm-4.2.2.RELEASE.jar
/libs/spring-security-core-4.0.2.RELEASE.jar
/libs/spring-security-crypto-4.0.2.RELEASE.jar
/libs/spring-security-web-4.0.2.RELEASE.jar
/libs/spring-session-1.0.2.RELEASE.jar
/libs/spring-test-4.2.2.RELEASE.jar
/libs/spring-tx-4.2.2.RELEASE.jar
/libs/spring-web-4.1.6.RELEASE.jar
/libs/spring-webmvc-4.1.6.RELEASE.jar
/libs/standard-1.1.2.jar
/libs/t-digest-3.0.jar
/libs/tomcat-annotations-api-8.0.27.jar
/libs/tomcat-api-8.0.27.jar
/libs/tomcat-catalina-8.0.27.jar
/libs/tomcat-coyote-8.0.27.jar
/libs/tomcat-el-api-8.0.27.jar
/libs/tomcat-jni-8.0.27.jar
/libs/tomcat-jsp-api-8.0.27.jar
/libs/tomcat-juli-8.0.27.jar
/libs/tomcat-servlet-api-8.0.27.jar
/libs/tomcat-util-8.0.27.jar
/libs/tomcat-util-scan-8.0.27.jar
/libs/umeditor-fragment-0.0.2.jar
/libs/validation-api-1.1.0.Final.jar
/libs/xml-apis-1.0.b2.jar
/mobile/*.iml
