.n-all {
  overflow: hidden;
  width: 300px;
  height: 3600px; }

.n-header {
  color: #000;
  width: 300px;
  height: 38px; }
  .n-header .n-header-left {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left; }
    .n-header .n-header-left img {
      width: 30px;
      height: 30px; }

.n-content {
  color: #000;
  width: 300px; }
  .n-content .n-box1 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    margin-top: 5px;
    padding-top: 5px;
    width: 300px;
    position: relative; }
    .n-content .n-box1 img {
      width: 180px;
      height: 180px;
      margin-left: 60px; }
    .n-content .n-box1 .n-box1-font {
      text-align: center; }
    .n-content .n-box1 .n-box1-font1 {
      color: #d43139;
      text-align: center; }
    .n-content .n-box1 .n-box1-img {
      position: absolute;
      top: 20px;
      right: 20px; }
      .n-content .n-box1 .n-box1-img img {
        width: 10px;
        height: 10px; }
    .n-content .n-box1 .n-box1-img1 {
      position: absolute;
      top: 60px;
      right: 15px; }
      .n-content .n-box1 .n-box1-img1 img {
        width: 20px;
        height: 20px; }

.n-footer {
  margin-top: 10px;
  background: white;
  height: 70px;
  width: 300px; }
  .n-footer .n-btn0 {
    width: 300px;
    height: 30px; }
  .n-footer .n-btn {
    padding-left: 30px;
    float: left; }
  .n-footer .n-btn1 {
    padding-right: 30px;
    float: right; }
  .n-footer .n-btn2 {
    margin-left: 100px;
    text-align: center;
    width: 100px;
    padding: 10px 30px;
    background: #d43139; }

.n-box1 a:link,
.n-box1 a:visited {
  color: #000; }

.n-content a:link,
.n-content a:visited {
  background: none; }
