@import 'commonMixin';
@import 'globleVariable';


body {
  font-family: "宋体", "Microsoft YaHei", Verdana, Arial, sans-serif;
  font-size: 12px;
}
/*headline*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.67em 0;
  font-family: "Microsoft YaHei", "黑体", Verdana, Arial, sans-serif;
}

h2 {
  font-size: 25px;
}

%division-title {
  font-size: 18px;
  color: $middleGray;
}

%detail-title {
  font-size: 20px;
  color: $middleGray;
}

%detail-vice-tittle {
  font-size: 15px;
  color: $viceColor;
}

/*paragraph*/
p {
  margin: 0.67em 0;
}

%footer-p {
  color: $ashGray;
}


/*link*/
a {
  cursor: pointer;
}
%header-a {
  color: $middleGray;
  text-decoration: none;

  &:hover {
    color: $viceColor;
  }
}

%menu-a {
  color: $lightGray;
  text-decoration: none;
  font-size: 18px;
}

%nav-a {
  color: $middleGray;
  text-decoration: none;
  font-size: 18px;

  &:hover {
    color: $viceColor;
    padding-bottom: 2px;
    border-bottom: 2px solid $viceColor;
  }
}

%product-nav-a {
  color: $middleGray;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: $viceColor;
  }
}

%bread-nav-a {
  color: $middleGray;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: $viceColor;
  }
}

%footer-nav-a {
  color: $ashGray;
  text-decoration: none;

  &:hover {
    color: white;
  }
}

%product-link {
  color: $middleGray;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: $viceColor;
  }
}

%similar-link {
  color: $middleGray;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    color: $viceColor;
  }
}

//%orderby-selection-focus {
//  color: white;
//  font-size: 16px;
//  text-decoration: none;
//  background: $viceColor;
//}
//%orderby-selection-blur {
//  color: $middleGray;
//  font-size: 16px;
//  text-decoration: none;
//}

%order-by-link {
  color: $middleGray;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    color: $viceColor;
  }
}

%filter-selection-focus {
  padding: 3px;
  font-size: 14px;
  color: $viceColor;
  border-bottom: 2px solid $viceColor;

}

%filter-selection-blur {
  color: $middleGray;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: $viceColor;
  }
}

%vice-btn {
  padding: 5px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  background: $viceColor;
  border: none;
}

%page-focus {
  padding: 5px;
  border: 1px solid $viceColor;
  color: white;
  font-size: 16px;
  text-decoration: none;
  background: $viceColor;
}

%page-blur {
  padding: 5px;
  color: $middleGray;
  font-size: 16px;
  text-decoration: none;
}

/*btn*/
input {
  &:focus {
    outline: none;
  }
}

%dark-btn {
  padding: 2px 6px 3px;
  border: none;
  color: white;
  line-height: 1.5;
  background: $viceColor;
  border-radius: 3px;
  &:hover {
    background: $viceHoverColor;
  }
}

%light-btn {
  padding: 1px 5px 2px;
  border:1px solid $viceColor;
  border-radius: 3px;
  color: $viceColor;
  line-height: 1.5;
  background: white;
  &:hover {
    color: $viceHoverColor;
  }
}

%link-btn {
  text-decoration: none;
  color: $blueColor;
  &:hover {
    color: $viceColor;
  }
}

/*span*/
span {
  color: $middleGray;
}

%asdie-price-head-span {
  font-size: 15px;
}

%aside-pirce-span {
  font-size: 18px;
  color: $emColor;
}

%list-price-span {
  font-size: 22px;
  color: $emColor;
}

/*商品详情绝当价*/
%our-cost {
  font-size: 25px;
  color: $emColor;
}

.clear {
  clear: both;
  margin-bottom: $colSpace;
}

.clear-float {
  clear: both;
  margin-bottom: $colSpace;
}