@import "globleVariable";
@import "commonMixin";

.footer {
  margin-top: 100px;
  height: 30px;
  text-align: center;

  span {
    font-size: 12px;
    padding-left: 20px;
    color: $middleGray;
  }
}