@import "commonMixin";
@import "globleVariable";
@import "component";

.footer {
  background: $darkGray;
}

.goods-box {
  background: $ashGray;
}

.us {
  position: relative;
  @include bfc;
}

/*our-goods
************************************************/
.our-goods {
  margin: 0 auto;
  padding: $colSpace 0;
  @include wh($c11, 70px);
}

.our-good {
  float: left;
  @include wh(20%, 70px);


  .icon-box {
    float: left;
    @include wh(70px, 100%);
    border-radius: 50px;
    background: $viceColor;
    line-height: 70px;
    text-align: center;
  }

  i {
    color: white;
    font-size: 35px;
  }
}

/*2维码*/
.two-dimension {
  opacity: 0;
  //transition: opacity 0.1s linear;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)\9;
  position: absolute;
  top: 0;
  left: 100px;
}

.our-app a:hover {
  .two-dimension {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100)\9;
    transition: opacity 1s linear;
  }
}



.good-text {
  margin-left: 80px;
  padding-top: 10px;
  h4,
  p {
    @include o;
    font-size: 14px;
  }
  p {
    color: $middleGray;
  }
}

/*about-us
************************************************/
.about-us {
  margin: 0 auto;
  @include bfc;
  padding: $colSpace 0;
  width: $c11;

  h3 {
    color: $ashGray;
  }

  a {
    @extend %footer-nav-a;
  }

  p {
    @extend %footer-p;
  }

  ul {
    float: left;
    @include o;
    width: 15%;
    list-style: none;
  }

  li {
    padding: 1px 0;
  }

  .us {
    margin-left: 60%;
  }

  .our-app {
    float: right;
    width: 50%;
  }

  .apple-dimension,
  .android-dimension,
  .online-server,
  .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;

    img {
      width: 30%;
    }
  }
}

/*approve-box
************************************************/
.approve-box {
  background: #333333;
  padding: $colSpace 0 5px;
  text-align: center;

  p {
    @extend %footer-p;
  }
}

.approve {
  @include bfc;
  margin: 0 auto;
  width: 240px;

  a {
    float: left;
    padding-right: $colSpace;
    @include wh(100px, 30px);
  }

  img {
    @include wh(100%, 100%);
  }
}

/*fixed-aside
*******************************************************/
//.fixed-aside-1 {
//  @include fixed-aside-one;
//}

//小土豪代码
body {
  .side-bar{
    z-index: 3;
    width: 345px;
    background-color: #000;
    padding-top: 100px;
    position: fixed;
    right: -300px;
    top: 0;
  }

  .right a:link,
  .right a:visited {
    color: white;
  }

  .right a:hover,
  .right a:active {
    color: white;
    background: #d43139;
    text-decoration: none;
    border: none;
  }
  .right1-2,
  .right1 {
    padding: 4px 0;
    margin-top: 20px;
    display: block;
    font-size: 1px;
    text-align: center;
    width: 45px;

    position: relative;
  }
  .right-b{
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  .right2{
    font-size: 10px;
    color: #000;
    position: absolute;
    top: 0;
    left: -70px;
    display: none;
    width: 77px;
    height: 33px;
    z-index: 3;
  }
  .right2 .img-search{
    float: right;
    width: 7px;
    height: 13px;
    padding: 10px 0 0 0;
  }
  .right2 span{
    line-height: 30px;
    color: white;
    background: #494949;
    text-align: center;
    float: left;
    width: 70px;
    height: 33px;
  }
  .right1-2:hover >.right2,
  .right1:hover >.right2{
    display: block;
  }
  .right1-2 img,
  .right1 img {
    text-align: center;
    padding-left: 13px;
    padding-bottom: 5px;
    display: block;
    width: 20px;
    height: 20px;
  }
  .right-menu{
    overflow: scroll;
    margin-top: 65px;
    background: #fff;
    width: 300px;
    float: right;
  }
  .right-a{
    float: left;
    width: 45px;
  }



}


