.pgt-date-divide {
    margin-left: -20px;
    width: 60px !important;
    line-height: 33px;
}

.pgt-date-divide span {
    font-size: 14px;
}

.pgt-time-tittle {
    line-height: 33px;
    text-align: left;
    font-size: 14px;
}

.pgt-begin-date {
    margin-left: -60px;
}

.pgt-time {
    margin-left: -42px;
}