/*import
**************************************************************************************************************************************************/
.filter-favorite-status, .filter-order-status, .page-box {
  *zoom: 1; }
  .filter-favorite-status:after, .filter-order-status:after, .page-box:after, .filter-favorite-status:before, .filter-order-status:before, .page-box:before {
    content: " ";
    display: table;
    clear: both; }

.filter-favorite-status, .filter-order-status, .page-box {
  *zoom: 1; }
  .filter-favorite-status:after, .filter-order-status:after, .page-box:after, .filter-favorite-status:before, .filter-order-status:before, .page-box:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*style
**************************************************************************************************************************************************/
.filter-favorite-status {
  padding-top: 50px; }
  .filter-favorite-status li {
    float: left;
    border-bottom: 2px solid #cccccc;
    width: 110px;
    height: 25px;
    text-align: center; }
    .filter-favorite-status li a {
      display: block;
      width: 109px;
      border-right: 1px solid #cccccc;
      color: black;
      font-size: 18px; }
  .filter-favorite-status .filter-favorite-choose {
    border-bottom: 2px solid #c90304; }
    .filter-favorite-status .filter-favorite-choose a {
      color: #c90304; }
  .filter-favorite-status .filter-favorite-end a {
    border-right: none; }

.filter-order-status {
  padding: 15px 0 0 15px; }
  .filter-order-status li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #cccccc; }
  .filter-order-status a {
    padding: 3px 7px;
    color: black; }
  .filter-order-status .filter-order-choose {
    border-radius: 4px;
    background: #eaedf4; }
  .filter-order-status .filter-order-end {
    border-right: none; }

.favorite-list {
  padding-top: 22px; }
  .favorite-list table {
    width: 100%;
    table-layout: fixed;
    font-size: 14px; }
  .favorite-list .favorite-list-head {
    background: #eaedf4;
    height: 32px; }
  .favorite-list .favorite-list-item {
    height: 129px;
    border-bottom: 1px solid #cccccc; }
  .favorite-list .col-1 {
    width: 120px; }
  .favorite-list .col-2 {
    width: 280px; }
  .favorite-list .col-3 {
    width: 80px; }
  .favorite-list .col-4 {
    width: 160px; }
  .favorite-list .col-5 {
    width: 120px; }
  .favorite-list th,
  .favorite-list td {
    vertical-align: middle;
    text-align: center; }
  .favorite-list .favorite-img a {
    display: block;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    text-align: center; }
    .favorite-list .favorite-img a:hover {
      border-color: #86b4ed;
      box-shadow: 0 0 2px 1px #86b4ed; }
  .favorite-list .favorite-img img {
    width: 100%;
    height: 100%; }
  .favorite-list .favorite-base-info {
    text-align: left;
    text-indent: 15px; }
    .favorite-list .favorite-base-info p {
      line-height: 30px;
      color: #555555;
      width: 280px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .favorite-list .favorite-base-info a {
      color: black; }
      .favorite-list .favorite-base-info a:hover {
        color: #c90304; }
  .favorite-list .will-pay {
    color: #c90304; }
  .favorite-list .favorite-handle .pay-now {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    width: 90px;
    height: 25px;
    font-size: 14px;
    background: #c90304;
    border-radius: 3px;
    line-height: 25px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .favorite-list .favorite-handle .pay-now .color-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 25px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transition: transform .3s; }
    .favorite-list .favorite-handle .pay-now:hover {
      background: #970203; }
      .favorite-list .favorite-handle .pay-now:hover .color-hover {
        transform: scaleX(1);
        transition: transform .3s; }

td p {
  line-height: 30px; }

.page-box {
  padding-top: 20px; }
  .page-box ol {
    float: right;
    padding-right: 20px; }
  .page-box li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center; }
  .page-box a {
    display: block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0 10px;
    height: 30px;
    color: #555555; }
    .page-box a:hover {
      border-color: #c90304;
      color: white;
      background: #c90304; }
  .page-box .current-page,
  .page-box .current-page:hover {
    border-color: white;
    background: white;
    color: #c90304;
    font-size: 18px;
    font-weight: 900;
    cursor: default; }

/*# sourceMappingURL=../../../maps/my-account/my-favorite/my-favorite.css.map */
