/*import
**************************************************************************************************************************************************/
.header .top-content {
  *zoom: 1; }
  .header .top-content:after, .header .top-content:before {
    content: " ";
    display: table;
    clear: both; }

.header .top-content {
  *zoom: 1; }
  .header .top-content:after, .header .top-content:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.header .top-content {
  *zoom: 1; }
  .header .top-content:after, .header .top-content:before {
    content: " ";
    display: table;
    clear: both; }

.header .top-content {
  *zoom: 1; }
  .header .top-content:after, .header .top-content:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

.header {
  background: white; }
  .header .top-banner {
    display: block;
    height: 80px; }
  .header .top {
    height: 37px;
    line-height: 37px;
    background: #f5f5f5;
    font-size: 12px;
    color: #6c6c6c; }
    .header .top * {
      vertical-align: middle; }
  .header .top-content {
    margin: 0 auto;
    width: 1200px; }
  .header .top-welcome {
    float: left;
    width: 50%;
    text-align: left; }
  .header .top-welcome-phone-title {
    padding-left: 20px; }
  .header .top-welcome-phone-value {
    padding-left: 5px; }
  .header .top-user {
    float: right;
    width: 50%;
    text-align: right; }
    .header .top-user a {
      color: #6c6c6c;
      margin-left: 5px; }
      .header .top-user a:hover {
        color: #c90304; }
  .header .top-user-register {
    padding-left: 10px; }
  .header .head {
    margin: 0 auto;
    width: 1200px;
    height: 110px; }
  .header .logo,
  .header .hot-left,
  .header .search,
  .header .hot-right {
    float: left;
    height: 110px; }
  .header .logo {
    width: 230px;
    background: url("../core/images/header/logo-red.jpg") no-repeat left center; }
  .header .logo-link {
    display: block;
    height: 100%; }
  .header .hot-left {
    width: 150px; }
  .header .search {
    width: 560px; }
  .header .search-content {
    float: right;
    margin-top: 36px;
    border: 1px solid #a9b7b7;
    border-radius: 3px;
    overflow: hidden; }
  .header .search-input-text {
    float: right;
    border: none;
    border-right: 1px solid #a9b7b7;
    padding: 0 10px;
    width: 400px;
    height: 37px;
    font-size: 14px;
    font-weight: 400; }
  .header .search-input-submit {
    float: right;
    border: none;
    width: 37px;
    height: 37px;
    background: url("../core/images/header/icon-search.png") no-repeat center center; }
    .header .search-input-submit:hover {
      background: #a9b7b7 url("../core/images/header/icon-search-hover.png") no-repeat center center; }
  .header .hot-right {
    margin-left: 100px;
    width: 160px; }
  .header .nav {
    background: #272727; }
  .header .nav-content {
    margin: 0 auto;
    width: 1200px;
    height: 54px; }
  .header .menu {
    position: relative;
    z-index: 1;
    float: left;
    width: 230px;
    height: 54px; }
  .header .menu-title {
    line-height: 54px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: white;
    cursor: pointer; }
  .header .menu-list {
    position: absolute;
    display: none;
    width: 230px;
    top: 54px;
    left: 0;
    background: url("../core/images/opacity/opacity_white_9.png") repeat; }
  .header .menu-item {
    margin: 0 15px;
    padding: 15px 0 15px 40px;
    border-bottom: 1px dashed #cccccc; }
  .header .menu-item-title {
    color: #6c6c6c; }
  .header .menu-item-sub-box {
    padding-top: 5px;
    line-height: 1.2; }
  .header .menu-item-sub {
    font-size: 14px;
    color: #6c6c6c; }
  .header .nav-list {
    position: relative;
    float: left; }
  .header .nav-item-hover {
    position: absolute;
    z-index: 1;
    background: #414141;
    transition: all .3s; }
  .header .nav-item {
    position: relative;
    z-index: 2;
    float: left; }
  .header .nav-item-link {
    display: block;
    padding: 0 30px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    font-weight: 400;
    color: white; }

/*  footer begin
******************************************************************************/
.footer {
  width: 100%;
  background: #3b3b3b; }

.footer-main {
  margin: 0 auto;
  width: 1200px;
  height: 245px; }

.footer-main-left {
  float: left;
  width: 500px;
  height: 80px; }
  .footer-main-left .footer-title {
    padding: 30px 0 0 40px;
    font-size: 16px;
    color: #e6e6e6; }
  .footer-main-left .footer-help {
    padding-top: 20px;
    height: 160px;
    font-size: 14px;
    color: #909090; }
    .footer-main-left .footer-help ul {
      float: left;
      padding-left: 40px; }
    .footer-main-left .footer-help li {
      padding-top: 10px;
      display: block;
      text-align: center; }
      .footer-main-left .footer-help li a {
        color: #909090; }
        .footer-main-left .footer-help li a:hover {
          color: #e6e6e6; }

.footer-main-right {
  float: right;
  margin-top: 70px;
  width: 340px;
  height: 130px;
  background: #3e3e3e;
  border: 1px solid #5c5c5c; }
  .footer-main-right p {
    margin: 10px 0;
    padding-left: 45px;
    color: #909090;
    font-size: 14px; }
  .footer-main-right .footer-main-right-title {
    padding: 10px 25px;
    color: #e6e6e6;
    font-size: 16px; }
  .footer-main-right .footer-main-right-p1 {
    background: url("../core/images/footer/phone.png") no-repeat 25px 0; }
  .footer-main-right .footer-main-right-p2 {
    background: url("../core/images/footer/e-mail.png") no-repeat 25px 0; }
  .footer-main-right .footer-main-right-p3 {
    background: url("../core/images/footer/add.png") no-repeat 25px 0; }

.footer-bottom {
  width: 100%;
  background: #333; }
  .footer-bottom .footer-bottom-mid {
    margin: 0 auto;
    width: 1200px;
    height: 35px;
    color: #909090;
    font-size: 12px;
    line-height: 35px;
    text-align: center; }
  .footer-bottom .footer-bottom-img {
    padding: 10px 0 0  450px;
    height: 50px; }
    .footer-bottom .footer-bottom-img img {
      float: left;
      margin-left: 10px; }

/*    footer end
  *********************************************************************/
/*style
**************************************************************************************************************************************************/
body {
  background: #f5f5f5; }

.head-content {
  overflow: hidden; }
  .head-content a {
    float: right;
    margin: 50px 70px 0 0;
    padding-bottom: 20px;
    font-size: 20px;
    color: #000; }
    .head-content a:hover {
      color: #ff4040;
      background: url("../core/images/guide-pages/xian2.png") no-repeat 4px 30px; }
  .head-content .head-hover {
    color: #ff4040;
    background: url("../core/images/guide-pages/xian.png") no-repeat 4px 30px; }
    .head-content .head-hover:hover {
      background: url("../core/images/guide-pages/xian.png") no-repeat 4px 30px; }

.content {
  margin: 65px auto;
  width: 1200px; }
  .content .b2c-title {
    margin-top: 85px;
    margin-bottom: 65px;
    padding-left: 315px;
    font-size: 40px;
    color: #ff4040; }
    .content .b2c-title img {
      margin-bottom: 10px; }
  .content p {
    margin: 20px 0;
    font-size: 20px;
    color: #666;
    text-align: center; }
  .content .content-btn {
    margin: -50px 50px 0 0;
    float: right;
    padding: 8px 16px;
    border: 1px solid #ff4040;
    font-size: 16px;
    color: #ff4040; }
    .content .content-btn:hover {
      background: #ff4040;
      color: white; }
  .content .content-tender {
    margin-top: 65px;
    padding: 30px;
    width: 1140px;
    height: 880px;
    background: #ebebeb; }
    .content .content-tender .content-tender-box {
      position: relative;
      float: left;
      margin: 7px 6px;
      width: 270px;
      height: 430px; }
      .content .content-tender .content-tender-box .tender-img-border {
        border: 1px solid #ff4040; }
      .content .content-tender .content-tender-box img {
        width: 268px;
        height: 330px;
        border: 1px solid #ccc; }
      .content .content-tender .content-tender-box .tender-p-border {
        border: 1px solid #ff4040; }
      .content .content-tender .content-tender-box p {
        margin: 0;
        margin-top: 15px;
        padding: 20px;
        border: 1px solid #ccc;
        height: 40px;
        font-size: 16px;
        text-align: left;
        color: #343434;
        background: white; }
      .content .content-tender .content-tender-box .content-tender-img-border,
      .content .content-tender .content-tender-box .content-tender-img {
        position: absolute;
        right: 130px;
        bottom: 81px;
        width: 12px;
        height: 9px;
        background: url("../core/images/guide-pages/h-jiantou.png") no-repeat; }
      .content .content-tender .content-tender-box .content-tender-img-border {
        background: url("../core/images/guide-pages/r-jiantou.png") no-repeat; }
      .content .content-tender .content-tender-box .content-tender-left-img-border,
      .content .content-tender .content-tender-box .content-tender-left-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 72px;
        height: 72px;
        background: url("../core/images/guide-pages/jinxuan.png") no-repeat; }
      .content .content-tender .content-tender-box .content-tender-left-img-border {
        background: url("../core/images/guide-pages/tuijian.png") no-repeat; }

.content-banner {
  overflow: hidden;
  display: block;
  margin: 0 auto;
  width: 1440px;
  height: 400px; }

.content-product {
  margin-top: 65px;
  position: relative;
  height: 850px; }
  .content-product .content-product-box {
    float: left;
    padding: 80px;
    width: 440px;
    height: 265px;
    background: white; }
    .content-product .content-product-box .content-product-box-left,
    .content-product .content-product-box .content-product-box-right {
      float: left;
      margin-left: 20px;
      width: 200px;
      height: 265px; }
      .content-product .content-product-box .content-product-box-left img,
      .content-product .content-product-box .content-product-box-right img {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc; }
      .content-product .content-product-box .content-product-box-left p,
      .content-product .content-product-box .content-product-box-right p {
        margin: 0;
        margin-top: 10px;
        font-size: 15px; }
        .content-product .content-product-box .content-product-box-left p span,
        .content-product .content-product-box .content-product-box-right p span {
          color: #ff4040; }
    .content-product .content-product-box .content-product-box-left {
      margin-left: 0;
      margin-right: 20px; }
  .content-product .box-bg {
    background: #e6e6e6; }
  .content-product .content-product-img1 {
    position: absolute;
    top: 425px;
    left: 600px;
    margin-top: -109px;
    margin-left: -109px;
    width: 217px;
    height: 217px;
    background: url("../core/images/guide-pages/juezt.png") no-repeat; }
  .content-product .content-product-img2 {
    position: absolute;
    top: 420px;
    left: 280px;
    width: 211px;
    height: 11px;
    background: url("../core/images/guide-pages/lin3.png") no-repeat; }
  .content-product .content-product-img3 {
    position: absolute;
    top: 420px;
    left: 706px;
    width: 211px;
    height: 11px;
    background: url("../core/images/guide-pages/lin1.png") no-repeat; }
  .content-product .content-product-img4 {
    position: absolute;
    top: 530px;
    left: 595px;
    width: 11px;
    height: 211px;
    background: url("../core/images/guide-pages/lin2.png") no-repeat; }
  .content-product .content-product-img5 {
    position: absolute;
    top: 110px;
    left: 595px;
    width: 11px;
    height: 211px;
    background: url("../core/images/guide-pages/lin4.png") no-repeat; }

/*banner
*******************************************************/
.banner-box {
  position: relative;
  height: 561px; }

.banner {
  width: 100%;
  height: 100%; }
  .banner a {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; }

.banner-nav {
  position: absolute;
  right: 15%;
  bottom: 3%; }
  .banner-nav li {
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 8px;
    border-radius: 3px;
    background: #6c6c6c;
    text-indent: -5000px;
    cursor: pointer; }
  .banner-nav .banner-nav-current {
    background: white; }

/* banner end
*********************************************************/

/*# sourceMappingURL=../../maps/guide-pages/guide-pages.css.map */
