@import '../core/scss/variable';
@import '../core/scss/commomExtend';
@import '../core/scss/commonMixin';
@import '../core/scss/components';
@import '../core/scss/part';
@import '../core/scss/reset';
@import '../core/scss/generalStyle';

/*
**************************************************************************************************************************************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  @include wh(100%, 100px);
  background: white;

  .header-inner {
    margin: 0 auto;
    @include wh(1200px, 100%);
  }

  .logo,
  .nav,
  .search {
    float: left;
  }

  .logo {
    @include wh(242px, 100%);
    background: url("../core/images/header/logo-red.jpg") no-repeat left center;

    a {
      display: block;
      @include wh(100%, 100%);
    }
  }

  .nav {
    @extend %clear;

    li {
      float: left;
      padding: 0 23px;
    }

    a {
      font-size: 22px;
      line-height: 100px;
      color: black;

      &:hover {
        color: $main;
      }
    }
  }

  .search {
    padding-top: 30px;

    input {
      border: 1px solid $gray-light;
      padding: 10px;
      @include wh(260px);
      line-height: 20px;
      font-size: 14px;
      background: $gray-lighter;
      transition: width .2s linear;

      &:focus {
        @include wh(300px);
        background: white;
        transition: width .2s linear;
      }
    }
  }

  .status {
    float: right;
  }
}

.banner-bg {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: -1;
  @include wh(100%, 650px);


  li {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(100%, 100%);
    background: no-repeat center center;
  }
}

.banner {
  padding-top: 100px;

  ul {
    @include wh(100%, 650px);

    li {
      @include wh(100%, 100%);
      display: none;
    }

    .banner-current {
      display: block;
    }

    a {
      display: block;
      position: absolute;
      @include wh(100%, 100%);
    }
  }

  ol {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);


    li {
      float: left;
      margin-right: 5px;
      @include wh(30px, 8px);
      border-radius: 3px;
      background: white;
      text-indent: -5000px;
      cursor: pointer;
    }

    .banner-nav-current {
      background: $main;
    }
  }
}

.advantage {
  @extend %clear;
  background: white;

  .advantage-inner {
    margin: 30px auto 0 ;
    @include wh($mainWidth, 430px);
    text-align: center;
    background: url("../core/images/index/red-line-left.png") no-repeat left 5px;
  }

  h2 {
    font-size: 40px;
    color: $main;
    background: url("../core/images/index/red-line-right.png") no-repeat right 5px;
  }

  ul {
    @extend %clear;
    padding: 30px 0 22px;
  }

  li {
    float: left;
    margin: 0 ($mainWidth - 260px * 4) / 8;
  }

  $list-color: #9bd6fe #fec63b #fa7862 #4ddfca;

  @for $i from 1 through 4 {
    .advantage-li-#{$i} {
      background: nth($list-color, $i);
    }
  }

  a {
    display: block;
    @include wh(260px, 300px);
    background: no-repeat bottom center;
  }
}

