@import "../core/scss/normalize";
@import "../core/scss/commonMixin";
@import "../core/scss/globleVariable";
@import "../core/scss/fontGeneral";
@import "../core/scss/header-main";
@import "../core/scss/footer-main";
@import "../core/scss/component";

//user foundation_icons
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons";
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons_ie7";

/*header menulist should be hidden
****************************************************/
.menu-list {
  display: none;
}
.menu:hover {
  .menu-list {
    display: block;
  }
}

.top-banner-box {
  display: none;
}

.d-btn {
  @extend %dark-btn;
}

/*no-result
****************************************************/
.no-result {
  padding: 70px 0 70px 150px;
  background: url("../core/images/productList/warning.png") no-repeat 100px center;

  p {
    color: $viceColor;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #0286ce;
    &:hover {
      color: $viceColor;
    }
  }
}

/*similar-box
****************************************************/
.recommend {
  margin: $colSpace auto;
  width: $mainWidth;
  background: white;
  @include bfc;

  .tab {
    border: 1px solid $ashGray;
    border-bottom: none;
    @include tab;

    h2 {
      font-size: 20px;
    }
  }
}

.similar-box {
  @include row-list($mainWidth - 60px);
  margin-top: $colSpace;
}

/*for js
****************************************************/
.filter-box {
  .filter-selection-focus {
    @extend %filter-selection-focus;
  }
}
