/*color*/
/*col*/
.a2 {
  margin: 0;
  padding: 10px;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  background: white;
  color: blue;
  font-size: 12px; }

.a3, div a .content {
  margin: 0;
  padding: 10px;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  background: white;
  color: blue;
  font-size: 12px; }

#div {
  font-size: 11px;
  background-color: #f0f0f0;
  background-position: 0 0;
  background-repeat: no-repeat; }
  #div a {
    font-size: 12px; }
    #div a span {
      font-size: 13px; }
  #div i {
    font-size: 14px; }
  #div:hover {
    font-size: 15px; }
  #div:focus {
    font-size: 16px; }
  #div:active {
    font-size: 17px; }

h1 {
  width: 80px; }

h2 {
  width: 180px; }

h3 {
  width: 280px; }

h4, table {
  width: 360px; }

h5 {
  overflow: hidden;
  _zoom: 1;
  margin-top: -80px;
  width: 15px;
  height: 40px;
  background: black;
  font-size: 16px;
  line-height: 40px; }

h6 {
  overflow: hidden;
  _zoom: 1;
  margin-top: -80px;
  width: 20px;
  height: 40px;
  background: black;
  font-size: 16px;
  line-height: 40px; }

table {
  color: white; }
