@import '../core/scss/globleVariable';

$lightGray: #f0f0f0;

@mixin ifc() {
  line-height: 20px;
  font-size: 12px;
}

@mixin bfc($width:20px, $height:40px, $colOr: black) {
  overflow: hidden;
  _zoom: 1;
  margin-top: 0 - (2 * $height);
  width: $width;
  height: $height;
  background: $colOr;
  font-size: 16px;
  line-height: $height;
}

%dark-btn {
  margin: 0;
  padding: 10px;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  background: white;
  color: blue;
  font-size:12px;
}

%light-btn {
  margin: 0;
  padding: 10px;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  background: white;
  color: blue;
  font-size:12px;
}




#div {
  font-size: 11px;
  a {
    font-size: 12px;

    span {
      font-size: 13px;
    }
  }

  i {
    font-size: 14px;
  }

  &:hover {
    font-size: 15px;
  }
  &:focus {
    font-size: 16px;
  }
  &:active {
    font-size: 17px;
  }

  background: {
    color: $lightGray;
    position: 0 0;
    repeat: no-repeat;
  }
}

h1 {
  width: $c1;
}
h2 {
  width: $c2;
}
h3 {
  width: $c3;
}
h4 {
  width: $c4 - $colSpace;
}
h5 {
  @include bfc(15px);
}
h6 {
  @include bfc;
}
table {
  @extend h4;
  color: white;
}
.a2 {
  @extend %dark-btn;
}
.a3 {
  @extend %light-btn;
}


div {
  a {
    .content {
      @extend %light-btn;
    }
  }
}
