/*import
**************************************************************************************************************************************************/
.already-binding .already-row-1,
.already-binding .already-row-2,
.already-binding .already-row-3,
.already-binding .already-row-4,
.already-binding .already-row-5,
.already-binding .already-row-6,
.already-binding .already-row-7,
.already-binding .already-row-8 {
  *zoom: 1; }
  .already-binding .already-row-1:after,
  .already-binding .already-row-2:after,
  .already-binding .already-row-3:after,
  .already-binding .already-row-4:after,
  .already-binding .already-row-5:after,
  .already-binding .already-row-6:after,
  .already-binding .already-row-7:after,
  .already-binding .already-row-8:after, .already-binding .already-row-1:before,
  .already-binding .already-row-2:before,
  .already-binding .already-row-3:before,
  .already-binding .already-row-4:before,
  .already-binding .already-row-5:before,
  .already-binding .already-row-6:before,
  .already-binding .already-row-7:before,
  .already-binding .already-row-8:before {
    content: " ";
    display: table;
    clear: both; }

.info-import .row1 {
  overflow: hidden; }

.already-binding .already-row-1,
.already-binding .already-row-2,
.already-binding .already-row-3,
.already-binding .already-row-4,
.already-binding .already-row-5,
.already-binding .already-row-6,
.already-binding .already-row-7,
.already-binding .already-row-8 {
  *zoom: 1; }
  .already-binding .already-row-1:after,
  .already-binding .already-row-2:after,
  .already-binding .already-row-3:after,
  .already-binding .already-row-4:after,
  .already-binding .already-row-5:after,
  .already-binding .already-row-6:after,
  .already-binding .already-row-7:after,
  .already-binding .already-row-8:after, .already-binding .already-row-1:before,
  .already-binding .already-row-2:before,
  .already-binding .already-row-3:before,
  .already-binding .already-row-4:before,
  .already-binding .already-row-5:before,
  .already-binding .already-row-6:before,
  .already-binding .already-row-7:before,
  .already-binding .already-row-8:before {
    content: " ";
    display: table;
    clear: both; }

.info-import .row1 {
  overflow: hidden; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*style
**************************************************************************************************************************************************/
.will-binding .will-row-1 {
  padding: 75px 0 45px;
  border-bottom: 1px dotted #cccccc;
  text-align: center;
  font-size: 20px;
  color: #207c40; }

.will-binding .will-row-2 {
  padding: 44px 0 0 72px;
  font-size: 18px;
  font-weight: 700; }

.will-binding .will-row-3 {
  padding: 63px 0 0 88px; }
  .will-binding .will-row-3 .yeepay-binding {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    width: 100px;
    height: 32px;
    font-size: 16px;
    background: #2ba455;
    border-radius: 3px;
    line-height: 32px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .will-binding .will-row-3 .yeepay-binding .color-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 32px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transition: transform .3s; }
    .will-binding .will-row-3 .yeepay-binding:hover {
      background: #207c40; }
      .will-binding .will-row-3 .yeepay-binding:hover .color-hover {
        transform: scaleX(1);
        transition: transform .3s; }
  .will-binding .will-row-3 .yeepay-tips {
    padding-left: 32px;
    font-size: 14px;
    color: #cccccc; }

.already-binding {
  color: #555555; }
  .already-binding .already-row-1 {
    padding: 80px 0 50px 190px;
    border-bottom: 1px dotted #cccccc;
    font-size: 20px; }
    .already-binding .already-row-1 .yeepay-username {
      color: #207c40; }
    .already-binding .already-row-1 .yeepay-goto {
      margin-left: 65px;
      position: relative;
      display: inline-block;
      padding: 0;
      border: none;
      width: 100px;
      height: 32px;
      font-size: 16px;
      background: #2ba455;
      border-radius: 3px;
      line-height: 32px;
      color: white;
      text-align: center;
      cursor: pointer; }
      .already-binding .already-row-1 .yeepay-goto .color-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 32px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.2);
        transform: scaleX(0);
        transition: transform .3s; }
      .already-binding .already-row-1 .yeepay-goto:hover {
        background: #207c40; }
        .already-binding .already-row-1 .yeepay-goto:hover .color-hover {
          transform: scaleX(1);
          transition: transform .3s; }
  .already-binding .already-title {
    float: left;
    width: 280px;
    text-align: right; }
  .already-binding .already-value {
    float: left;
    padding-left: 45px; }
  .already-binding .already-row-2 {
    padding-top: 33px;
    font-size: 20px; }
  .already-binding .yeepay-shift-into {
    margin-left: 57px;
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    width: 57px;
    height: 28px;
    font-size: 14px;
    background: #c90304;
    border-radius: 3px;
    line-height: 28px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .already-binding .yeepay-shift-into .color-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 57px;
      height: 28px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transition: transform .3s; }
    .already-binding .yeepay-shift-into:hover {
      background: #970203; }
      .already-binding .yeepay-shift-into:hover .color-hover {
        transform: scaleX(1);
        transition: transform .3s; }
  .already-binding .yeepay-shift-out {
    margin-left: 23px;
    font-size: 14px; }
  .already-binding .already-row-3 {
    padding-top: 63px; }
  .already-binding .already-row-4 {
    padding-top: 23px; }
  .already-binding .already-row-5 {
    padding: 23px 0 35px;
    border-bottom: 1px dotted #cccccc; }
  .already-binding .yeepay-un-binding {
    margin-left: 55px;
    font-size: 14px; }
  .already-binding .already-row-6 {
    padding-top: 42px; }
  .already-binding .already-row-7,
  .already-binding .already-row-8 {
    padding-top: 23px; }

.info-import {
  padding-top: 40px;
  color: #555555; }
  .info-import .row1 {
    height: 40px;
    line-height: 35px; }
  .info-import .row-title {
    float: left;
    width: 280px;
    text-align: right; }
  .info-import .row-text {
    float: left;
    padding-left: 45px; }
  .info-import .input-text {
    border: 1px solid #cccccc;
    width: 200px;
    height: 25px; }
    .info-import .input-text:focus {
      border-color: #207c40; }
  .info-import label {
    padding-right: 20px; }
  .info-import .row-tips {
    padding-left: 25px;
    font-size: 14px;
    color: #c90304; }
  .info-import .row2 {
    padding: 25px 0 0 325px; }
  .info-import .yeepay-btn {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    width: 100px;
    height: 32px;
    font-size: 16px;
    background: #2ba455;
    border-radius: 3px;
    line-height: 32px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .info-import .yeepay-btn .color-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 32px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transition: transform .3s; }
    .info-import .yeepay-btn:hover {
      background: #207c40; }
      .info-import .yeepay-btn:hover .color-hover {
        transform: scaleX(1);
        transition: transform .3s; }

/*# sourceMappingURL=../../../maps/my-account/my-property/my-property.css.map */
