/*import
**************************************************************************************************************************************************/
@import '../../core/scss/variable',
'../../core/scss/commomExtend',
'../../core/scss/commonMixin',
'../../core/scss/components';

/*style
**************************************************************************************************************************************************/
$yeepay: #2ba455;
$yeepay-dark: darken($yeepay, 10%);

.will-binding {
  .will-row-1 {
    padding: 75px 0 45px;
    border-bottom: 1px dotted $gray-light;
    text-align: center;
    font-size: 20px;
    color: $yeepay-dark;
  }

  .will-row-2 {
    padding: 44px 0 0 72px;
    font-size: 18px;
    font-weight: 700;
  }

  .will-row-3 {
    padding: 63px 0 0 88px;

    .yeepay-binding {
      @include color-btn(100px, 32px, 3px, 16px, $yeepay, $yeepay-dark);
    }

    .yeepay-tips {
      padding-left: 32px;
      font-size: 14px;
      color: $gray-light;
    }
  }
}


.already-binding {
  color: $gray;

  .already-row-1,
  .already-row-2,
  .already-row-3,
  .already-row-4,
  .already-row-5,
  .already-row-6,
  .already-row-7,
  .already-row-8 {
    @extend %clear;
  }

  .already-row-1 {
    padding: 80px 0 50px 190px;
    border-bottom: 1px dotted $gray-light;
    font-size: 20px;

    .yeepay-username {
      color: $yeepay-dark;
    }

    .yeepay-goto {
      margin-left: 65px;
      @include color-btn(100px, 32px, 3px, 16px, $yeepay, $yeepay-dark);
    }
  }

  .already-title {
    float: left;
    width: 280px;
    text-align: right;
  }

  .already-value {
    float: left;
    padding-left: 45px;
  }

  .already-row-2 {
    padding-top: 33px;
    font-size: 20px;
  }

  .yeepay-shift-into {
    margin-left: 57px;
    @include color-btn(57px, 28px, 3px, 14px, $main, $main-dark);
  }

  .yeepay-shift-out {
    margin-left: 23px;
    font-size: 14px;
  }

  .already-row-3 {
    padding-top: 63px;
  }

  .already-row-4 {
    padding-top: 23px;
  }

  .already-row-5 {
    padding: 23px 0 35px;
    border-bottom:  1px dotted $gray-light;
  }

  .yeepay-un-binding {
    margin-left: 55px;
    font-size: 14px;
  }

  .already-row-6 {
    padding-top: 42px;
  }


  .already-row-7,
  .already-row-8 {
    padding-top: 23px;
  }
}