@charset "UTF-8";
/*import
**************************************************************************************************************************************************/
.header .nav, .about-us, .approve, .recommend-box ul, .recommend-box .recommend-progress, .recommend-box .recommend-join, .invest .invest-info, .invest .data-row-2, .invest .data-row-3, .detail-content, .detail-content .tab, .content-item-list .item-row-1,
.content-item-list .item-row-2,
.content-item-list .item-row-3,
.content-item-list .item-row-4,
.content-item-list .item-row-5,
.content-item-list .item-row-6,
.content-item-list .item-row-7,
.content-item-list .item-row-8, .content-question .ask-head, .content-discuss .ask-head, .content-question .each-question, .content-discuss .each-question, .content-joiner {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .recommend-box ul:after, .recommend-box .recommend-progress:after, .recommend-box .recommend-join:after, .invest .invest-info:after, .invest .data-row-2:after, .invest .data-row-3:after, .detail-content:after, .detail-content .tab:after, .content-item-list .item-row-1:after,
  .content-item-list .item-row-2:after,
  .content-item-list .item-row-3:after,
  .content-item-list .item-row-4:after,
  .content-item-list .item-row-5:after,
  .content-item-list .item-row-6:after,
  .content-item-list .item-row-7:after,
  .content-item-list .item-row-8:after, .content-question .ask-head:after, .content-discuss .ask-head:after, .content-question .each-question:after, .content-discuss .each-question:after, .content-joiner:after, .header .nav:before, .about-us:before, .approve:before, .recommend-box ul:before, .recommend-box .recommend-progress:before, .recommend-box .recommend-join:before, .invest .invest-info:before, .invest .data-row-2:before, .invest .data-row-3:before, .detail-content:before, .detail-content .tab:before, .content-item-list .item-row-1:before,
  .content-item-list .item-row-2:before,
  .content-item-list .item-row-3:before,
  .content-item-list .item-row-4:before,
  .content-item-list .item-row-5:before,
  .content-item-list .item-row-6:before,
  .content-item-list .item-row-7:before,
  .content-item-list .item-row-8:before, .content-question .ask-head:before, .content-discuss .ask-head:before, .content-question .each-question:before, .content-discuss .each-question:before, .content-joiner:before {
    content: " ";
    display: table;
    clear: both; }

.header .nav, .about-us, .approve, .recommend-box ul, .recommend-box .recommend-progress, .recommend-box .recommend-join, .invest .invest-info, .invest .data-row-2, .invest .data-row-3, .detail-content, .detail-content .tab, .content-item-list .item-row-1,
.content-item-list .item-row-2,
.content-item-list .item-row-3,
.content-item-list .item-row-4,
.content-item-list .item-row-5,
.content-item-list .item-row-6,
.content-item-list .item-row-7,
.content-item-list .item-row-8, .content-question .ask-head, .content-discuss .ask-head, .content-question .each-question, .content-discuss .each-question, .content-joiner {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .recommend-box ul:after, .recommend-box .recommend-progress:after, .recommend-box .recommend-join:after, .invest .invest-info:after, .invest .data-row-2:after, .invest .data-row-3:after, .detail-content:after, .detail-content .tab:after, .content-item-list .item-row-1:after,
  .content-item-list .item-row-2:after,
  .content-item-list .item-row-3:after,
  .content-item-list .item-row-4:after,
  .content-item-list .item-row-5:after,
  .content-item-list .item-row-6:after,
  .content-item-list .item-row-7:after,
  .content-item-list .item-row-8:after, .content-question .ask-head:after, .content-discuss .ask-head:after, .content-question .each-question:after, .content-discuss .each-question:after, .content-joiner:after, .header .nav:before, .about-us:before, .approve:before, .recommend-box ul:before, .recommend-box .recommend-progress:before, .recommend-box .recommend-join:before, .invest .invest-info:before, .invest .data-row-2:before, .invest .data-row-3:before, .detail-content:before, .detail-content .tab:before, .content-item-list .item-row-1:before,
  .content-item-list .item-row-2:before,
  .content-item-list .item-row-3:before,
  .content-item-list .item-row-4:before,
  .content-item-list .item-row-5:before,
  .content-item-list .item-row-6:before,
  .content-item-list .item-row-7:before,
  .content-item-list .item-row-8:before, .content-question .ask-head:before, .content-discuss .ask-head:before, .content-question .each-question:before, .content-discuss .each-question:before, .content-joiner:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.header .nav, .about-us, .approve, .recommend-box ul, .recommend-box .recommend-progress, .recommend-box .recommend-join, .invest .invest-info, .invest .data-row-2, .invest .data-row-3, .detail-content, .detail-content .tab, .content-item-list .item-row-1,
.content-item-list .item-row-2,
.content-item-list .item-row-3,
.content-item-list .item-row-4,
.content-item-list .item-row-5,
.content-item-list .item-row-6,
.content-item-list .item-row-7,
.content-item-list .item-row-8, .content-question .ask-head, .content-discuss .ask-head, .content-question .each-question, .content-discuss .each-question, .content-joiner {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .recommend-box ul:after, .recommend-box .recommend-progress:after, .recommend-box .recommend-join:after, .invest .invest-info:after, .invest .data-row-2:after, .invest .data-row-3:after, .detail-content:after, .detail-content .tab:after, .content-item-list .item-row-1:after,
  .content-item-list .item-row-2:after,
  .content-item-list .item-row-3:after,
  .content-item-list .item-row-4:after,
  .content-item-list .item-row-5:after,
  .content-item-list .item-row-6:after,
  .content-item-list .item-row-7:after,
  .content-item-list .item-row-8:after, .content-question .ask-head:after, .content-discuss .ask-head:after, .content-question .each-question:after, .content-discuss .each-question:after, .content-joiner:after, .header .nav:before, .about-us:before, .approve:before, .recommend-box ul:before, .recommend-box .recommend-progress:before, .recommend-box .recommend-join:before, .invest .invest-info:before, .invest .data-row-2:before, .invest .data-row-3:before, .detail-content:before, .detail-content .tab:before, .content-item-list .item-row-1:before,
  .content-item-list .item-row-2:before,
  .content-item-list .item-row-3:before,
  .content-item-list .item-row-4:before,
  .content-item-list .item-row-5:before,
  .content-item-list .item-row-6:before,
  .content-item-list .item-row-7:before,
  .content-item-list .item-row-8:before, .content-question .ask-head:before, .content-discuss .ask-head:before, .content-question .each-question:before, .content-discuss .each-question:before, .content-joiner:before {
    content: " ";
    display: table;
    clear: both; }

.header .nav, .about-us, .approve, .recommend-box ul, .recommend-box .recommend-progress, .recommend-box .recommend-join, .invest .invest-info, .invest .data-row-2, .invest .data-row-3, .detail-content, .detail-content .tab, .content-item-list .item-row-1,
.content-item-list .item-row-2,
.content-item-list .item-row-3,
.content-item-list .item-row-4,
.content-item-list .item-row-5,
.content-item-list .item-row-6,
.content-item-list .item-row-7,
.content-item-list .item-row-8, .content-question .ask-head, .content-discuss .ask-head, .content-question .each-question, .content-discuss .each-question, .content-joiner {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .recommend-box ul:after, .recommend-box .recommend-progress:after, .recommend-box .recommend-join:after, .invest .invest-info:after, .invest .data-row-2:after, .invest .data-row-3:after, .detail-content:after, .detail-content .tab:after, .content-item-list .item-row-1:after,
  .content-item-list .item-row-2:after,
  .content-item-list .item-row-3:after,
  .content-item-list .item-row-4:after,
  .content-item-list .item-row-5:after,
  .content-item-list .item-row-6:after,
  .content-item-list .item-row-7:after,
  .content-item-list .item-row-8:after, .content-question .ask-head:after, .content-discuss .ask-head:after, .content-question .each-question:after, .content-discuss .each-question:after, .content-joiner:after, .header .nav:before, .about-us:before, .approve:before, .recommend-box ul:before, .recommend-box .recommend-progress:before, .recommend-box .recommend-join:before, .invest .invest-info:before, .invest .data-row-2:before, .invest .data-row-3:before, .detail-content:before, .detail-content .tab:before, .content-item-list .item-row-1:before,
  .content-item-list .item-row-2:before,
  .content-item-list .item-row-3:before,
  .content-item-list .item-row-4:before,
  .content-item-list .item-row-5:before,
  .content-item-list .item-row-6:before,
  .content-item-list .item-row-7:before,
  .content-item-list .item-row-8:before, .content-question .ask-head:before, .content-discuss .ask-head:before, .content-question .each-question:before, .content-discuss .each-question:before, .content-joiner:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*part
**************************************************************************************************************************************************/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0 2px #eeeeee;
  border-bottom: 1px solid #cccccc \9;
  width: 100%;
  height: 100px;
  background: white; }
  .header .header-inner {
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
  .header .logo,
  .header .nav,
  .header .search {
    float: left; }
  .header .logo {
    width: 242px;
    height: 100%;
    background: url("../core/images/header/logo-red.jpg") no-repeat left center; }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%; }
  .header .nav li {
    float: left;
    padding: 0 23px; }
  .header .nav a {
    font-size: 22px;
    line-height: 100px;
    color: black; }
    .header .nav a:hover {
      color: #ff6d6d; }
  .header .search {
    padding-top: 30px; }
    .header .search input {
      border: 1px solid #cccccc;
      padding: 10px;
      width: 260px;
      line-height: 20px;
      font-size: 14px;
      background: #fefefe;
      transition: width .2s linear; }
      .header .search input:focus {
        width: 300px;
        background: white;
        transition: width .2s linear; }
  .header .status {
    float: right;
    width: 234px;
    height: 100px;
    line-height: 100px;
    text-align: right; }
  .header .status-help-center,
  .header .status-register-btn {
    margin-left: 20px; }
  .header .status-help-center,
  .header .status-login-btn,
  .header .status-register-btn,
  .header .status-help-center {
    vertical-align: middle; }
    .header .status-help-center:hover,
    .header .status-login-btn:hover,
    .header .status-register-btn:hover,
    .header .status-help-center:hover {
      color: #ff6d6d; }
  .header .status-my-account {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px; }
  .header .status-my-account-detail {
    position: absolute;
    display: none;
    width: 100px;
    top: 55px;
    right: -60px;
    line-height: 25px;
    background: white; }
    .header .status-my-account-detail li {
      text-align: center; }
    .header .status-my-account-detail a {
      background: #ff6d6d;
      color: white;
      display: block; }
      .header .status-my-account-detail a:hover {
        background: #ff6d6d; }
  .header .status-user-face-box {
    float: left;
    width: 100%;
    height: 100%; }
  .header .status-user-face {
    width: 100%;
    height: 100%; }

.footer {
  background: #3f3f3f; }

.goods-box {
  background: #cccccc; }

.us {
  position: relative; }

/*our-goods
  ************************************************/
.our-goods {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px;
  height: 70px; }

.our-good {
  float: left;
  width: 20%;
  height: 70px; }
  .our-good .icon-box {
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #ff6d6d;
    line-height: 70px;
    text-align: center; }
  .our-good i {
    color: white;
    font-size: 35px; }

/*2维码*/
.two-dimension {
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) \9;
  position: absolute;
  top: 0;
  left: 100px; }

.our-app a:hover .two-dimension {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) \9;
  transition: opacity 1s linear; }

.good-text {
  margin-left: 80px;
  padding-top: 10px; }
  .good-text h4 {
    color: black;
    font-size: 16px; }
  .good-text p {
    padding-top: 5px;
    color: #000;
    font-size: 14px; }

/*about-us
  ************************************************/
.about-us {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px; }
  .about-us h3 {
    padding-bottom: 10px;
    color: #cccccc; }
  .about-us a {
    color: #cccccc;
    font-size: 13px; }
    .about-us a:hover {
      color: white; }
  .about-us p {
    color: #cccccc;
    font-size: 13px;
    line-height: 1.6; }
  .about-us ul {
    float: left;
    width: 15%;
    list-style: none; }
  .about-us li {
    padding: 2px 0; }
  .about-us .us {
    margin-left: 60%; }
  .about-us .our-app {
    float: right;
    width: 50%; }
  .about-us .apple-dimension,
  .about-us .android-dimension,
  .about-us .online-server,
  .about-us .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center; }
    .about-us .apple-dimension .app-icon,
    .about-us .android-dimension .app-icon,
    .about-us .online-server .app-icon,
    .about-us .online-server .app-icon {
      margin-bottom: 5px;
      width: 40px;
      height: 40px; }

/*approve-box
  ************************************************/
.approve-box {
  background: #333333;
  padding: 20px 0 5px;
  text-align: center; }
  .approve-box p {
    padding-top: 5px;
    color: #cccccc;
    font-size: 13px; }

.approve {
  margin: 0 auto;
  width: 240px; }
  .approve a {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 30px; }
  .approve img {
    width: 100%;
    height: 100%; }

.recommend-box {
  margin-top: 20px;
  padding-bottom: 57px;
  background: #eaeaea; }
  .recommend-box .recommend {
    margin: 0 auto;
    width: 1040px; }
  .recommend-box .recommend-head {
    height: 75px;
    line-height: 75px; }
  .recommend-box h3 {
    float: left;
    padding-left: 40px;
    font-size: 20px; }
  .recommend-box .recommend-change {
    float: right;
    margin-top: 30px;
    line-height: 1;
    color: #555555; }
    .recommend-box .recommend-change:hover {
      color: #ff6d6d; }
  .recommend-box li {
    position: relative;
    top: 0;
    float: left;
    border: 1px solid #cccccc;
    width: 248px;
    background: white;
    margin-right: 13.33333px;
    transition: all .4s; }
    .recommend-box li:hover {
      top: -5px;
      transition: all 1s;
      box-shadow: 0 10px 15px #555555; }
  .recommend-box .recommend-item-end {
    margin-right: 0; }
  .recommend-box .recommend-img-box {
    display: block;
    margin: 8px auto 0;
    width: 234px;
    height: 234px; }
    .recommend-box .recommend-img-box img {
      width: 100%;
      height: 100%; }
  .recommend-box h4 {
    padding-top: 20px;
    text-align: center; }
    .recommend-box h4 a {
      color: black; }
      .recommend-box h4 a:hover {
        color: #ff6d6d; }
  .recommend-box .recommend-progress-bar {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 10px;
    background: #cccccc;
    border-radius: 5px;
    float: left;
    margin: 25px 10px 0 20px; }
    .recommend-box .recommend-progress-bar .inner {
      position: absolute;
      top: 0;
      left: 0;
      background: #b2d0f4;
      border-radius: 5px;
      height: 10px; }
  .recommend-box .recommend-progress-text {
    float: left;
    padding-top: 12px;
    line-height: 1.2; }
  .recommend-box .recommend-join {
    padding: 13px 20px 17px; }
  .recommend-box .recommend-time {
    float: left; }
  .recommend-box .recommend-people {
    float: right; }

/*style
**************************************************************************************************************************************************/
.detail-content .tab a:hover, .detail-content .tab a.tab-choose {
  color: #ff6d6d;
  padding-bottom: 4px;
  border-bottom: 2px solid #ff6d6d; }

body {
  background: #f2f2f2; }

.anchor {
  position: relative;
  top: -100px; }

.invest {
  margin: 100px auto 0;
  width: 1040px; }
  .invest .invest-head {
    padding-top: 45px;
    font-size: 30px;
    font-family: '黑体', serif; }
  .invest .invest-sub-head {
    padding-top: 10px;
    color: #ff6d6d; }
  .invest .invest-info {
    padding-top: 24px; }
  .invest .invest-img {
    float: left; }
    .invest .invest-img img {
      display: block;
      width: 670px;
      height: 400px; }
  .invest .invest-handle {
    float: right;
    border: 1px solid #cccccc;
    width: 340px;
    height: 132px;
    background: white; }
  .invest .invest-handle-group {
    margin: 0 auto;
    width: 287px;
    height: 80px;
    border-bottom: 1px dotted #cccccc; }
  .invest .invest-share-group {
    margin: 10px auto 0;
    width: 287px;
    height: 80px; }
  .invest .invest-add-favorite {
    float: left;
    display: inline-block;
    padding: 0;
    border: none;
    width: 131px;
    height: 43px;
    font-size: 16px;
    background: #ff6d6d;
    border-radius: 3px;
    line-height: 43px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 16px; }
    .invest .invest-add-favorite:hover {
      background: #ff3a3a; }
  .invest .invest-scan-count {
    float: right;
    display: inline-block;
    padding: 0;
    border: none;
    width: 131px;
    height: 43px;
    font-size: 16px;
    background: #86b4ed;
    border-radius: 3px;
    line-height: 43px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 16px; }
    .invest .invest-scan-count:hover {
      background: #86b4ed; }
  .invest .invest-data {
    position: relative;
    float: right;
    margin-top: 25px;
    border: 1px solid #cccccc;
    padding: 35px 0 0 30px;
    width: 310px;
    height: 205px;
    background: white; }
  .invest .invest-status {
    position: absolute;
    top: 21px;
    right: -13px;
    width: 81px;
    height: 40px;
    background: url("../core/images/detail/detail_invest_status.png") no-repeat 0 0;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: white; }
  .invest .data-row-1 {
    font-size: 18px; }
  .invest .data-row-2 {
    padding-top: 25px; }
  .invest .progress-circle {
    float: right;
    margin-right: 30px;
    width: 115px;
    height: 115px; }
  .invest .cost-box {
    font-size: 25px; }
  .invest .cost {
    color: #ff6d6d; }
  .invest .invest-surplus-count {
    padding-top: 15px; }
  .invest .invest-begin-time {
    padding-top: 15px; }
  .invest .invest-end-time {
    padding-top: 5px; }
  .invest .data-row-3 {
    padding-top: 15px; }
  .invest .joiner-count {
    float: left;
    width: 150px; }
  .invest .surplus-time {
    float: left;
    padding-top: 3px;
    font-size: 12px; }
  .invest .item-nav {
    position: relative;
    padding: 15px 0;
    overflow: hidden; }
    .invest .item-nav:hover .item-nav-left,
    .invest .item-nav:hover .item-nav-right {
      display: block;
      opacity: .4; }
    .invest .item-nav .item-nav-left {
      display: none;
      position: absolute;
      top: 40%;
      left: 0;
      width: 50px;
      height: 75px;
      background: url("../core/images/detail/turn-left.png"); }
    .invest .item-nav .item-nav-right {
      display: none;
      position: absolute;
      top: 40%;
      right: 0;
      width: 50px;
      height: 75px;
      background: url("../core/images/detail/turn-right.png"); }
    .invest .item-nav ul {
      position: relative;
      width: 10000px; }
    .invest .item-nav li {
      float: left;
      margin-right: 20px; }
    .invest .item-nav a {
      display: block; }
    .invest .item-nav img {
      display: block;
      width: 245px;
      height: 245px; }
  .invest .what-is-this {
    display: block;
    width: 1040px;
    height: 175px; }

.detail-content {
  margin: 0 auto;
  padding-top: 25px;
  width: 1040px; }
  .detail-content .tab {
    border: 1px solid #cccccc;
    border-bottom: none;
    height: 55px;
    background: white; }
    .detail-content .tab li {
      float: left;
      padding: 0 30px; }
    .detail-content .tab a {
      color: black;
      font-size: 18px;
      line-height: 55px; }
    .detail-content .tab .tab-item-count {
      padding: 0 5px;
      border-radius: 12px;
      background: #fe6458;
      color: white; }
  .detail-content .content-box > div {
    display: none; }
  .detail-content .content-box .content-choose {
    display: block; }

.content-item-list .zoomThumbActive {
  outline: 2px solid #b2d0f4; }

.content-item-list .each-item {
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  height: 530px;
  background: white; }

.content-item-list .item-img-box {
  float: left;
  padding: 13px 0 0 13px;
  width: 400px; }

.content-item-list .middle-img-box {
  position: relative;
  display: block;
  width: 400px;
  height: 400px; }
  .content-item-list .middle-img-box a {
    display: block; }

.content-item-list .middle-img {
  display: block;
  width: 400px;
  height: 400px; }

.content-item-list .small-img-box {
  padding: 13px 2px 2px 2px;
  margin: 0 -2px;
  overflow: hidden; }
  .content-item-list .small-img-box .thumblist {
    width: 400px; }
  .content-item-list .small-img-box ul {
    width: 10000px; }
  .content-item-list .small-img-box li {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 13.33333px; }
    .content-item-list .small-img-box li:hover {
      outline: 2px solid #ffa0a0; }
  .content-item-list .small-img-box .item-samll-end {
    margin-right: 0; }
  .content-item-list .small-img-box a {
    display: block;
    width: 100%;
    height: 100%; }

.content-item-list .small-img {
  width: 100%;
  height: 100%; }

.content-item-list .item-info-box {
  float: left;
  padding-left: 50px; }

.content-item-list .col-title {
  float: left;
  width: 135px; }

.content-item-list .col-content {
  float: left;
  width: 400px; }

.content-item-list .item-row-1,
.content-item-list .item-row-2,
.content-item-list .item-row-3,
.content-item-list .item-row-4,
.content-item-list .item-row-5,
.content-item-list .item-row-6,
.content-item-list .item-row-7,
.content-item-list .item-row-8 {
  padding-top: 28px; }

.content-item-list .item-row-2,
.content-item-list .item-row-3 {
  line-height: 1.5; }

.content-item-list .item-cost {
  color: #ff3a3a;
  font-size: 22px;
  font-weight: 900; }

.content-item-list .item-buy-now {
  display: inline-block;
  padding: 0;
  border: none;
  width: 160px;
  height: 40px;
  font-size: 20px;
  background: #ff6d6d;
  border-radius: 0;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .content-item-list .item-buy-now:hover {
    background: #ff3a3a; }

.content-item-list .item-join-favorite {
  display: inline-block;
  padding: 0;
  border: none;
  width: 160px;
  height: 40px;
  font-size: 20px;
  background: #86b4ed;
  border-radius: 0;
  line-height: 40px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .content-item-list .item-join-favorite:hover {
    background: #5a98e6; }

.content-item-list .item-row-7 {
  position: relative; }

.content-item-list .plus-and-minus {
  position: absolute;
  width: 50px;
  height: 31px;
  top: 22px;
  left: 260px; }
  .content-item-list .plus-and-minus a {
    float: left;
    display: block;
    width: 50px;
    height: 15px;
    background: #ff6d6d;
    text-align: center;
    line-height: 15px;
    color: white; }
    .content-item-list .plus-and-minus a:hover {
      background: #ff3a3a; }

.content-item-list .item-buy-minus {
  margin-top: 1px; }

.content-item-list .zoomWindow {
  overflow: hidden;
  z-index: 9;
  border: 1px solid #cccccc; }

.content-item-list .zoomPup {
  background: rgba(255, 255, 255, 0.3); }

.content-invest-detail {
  border-top: 1px solid #cccccc; }
  .content-invest-detail img {
    display: block;
    width: 100%; }

.content-question, .content-discuss {
  border: 1px solid #cccccc;
  background: white; }
  .content-question .ask-question, .content-discuss .ask-question {
    margin: 0 auto;
    width: 942px; }
  .content-question .ask-head, .content-discuss .ask-head {
    line-height: 54px; }
  .content-question h3, .content-discuss h3 {
    float: left; }
  .content-question .ask-font-count, .content-discuss .ask-font-count {
    float: right; }
    .content-question .ask-font-count span, .content-discuss .ask-font-count span {
      font-size: 20px; }
  .content-question .ask-text textarea, .content-discuss .ask-text textarea {
    width: 100%; }
  .content-question .ask-btn, .content-discuss .ask-btn {
    padding-top: 12px;
    text-align: right; }
  .content-question .ask-submit, .content-discuss .ask-submit {
    display: inline-block;
    padding: 0;
    border: none;
    width: 80px;
    height: 25px;
    font-size: 16px;
    background: #ff6d6d;
    border-radius: 3px;
    line-height: 25px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .content-question .ask-submit:hover, .content-discuss .ask-submit:hover {
      background: #ff3a3a; }
  .content-question .question-list, .content-discuss .question-list {
    padding-top: 20px;
    margin: 0 auto;
    width: 942px; }
  .content-question .each-question, .content-discuss .each-question {
    border-top: 1px solid #cccccc;
    padding: 25px 0; }
  .content-question .user-face, .content-discuss .user-face {
    float: left;
    width: 90px; }
    .content-question .user-face img, .content-discuss .user-face img {
      width: 60px;
      height: 60px; }
  .content-question .question-and-answer, .content-discuss .question-and-answer {
    float: left;
    width: 690px; }
  .content-question .question-row-1, .content-discuss .question-row-1,
  .content-question .question-row-2, .content-discuss .question-row-2,
  .content-question .question-row-3, .content-discuss .question-row-3,
  .content-question .question-row-4, .content-discuss .question-row-4 {
    line-height: 2; }
  .content-question .question-row-1, .content-discuss .question-row-1,
  .content-question .question-row-3, .content-discuss .question-row-3 {
    font-weight: 700; }
  .content-question .question-row-2, .content-discuss .question-row-2 {
    color: #86b4ed; }
  .content-question .question-row-4, .content-discuss .question-row-4 {
    color: #ff6d6d; }
  .content-question .question-time, .content-discuss .question-time {
    float: right;
    padding-top: 12px;
    width: 150px; }

.content-joiner {
  border: 1px solid #cccccc;
  padding-bottom: 20px;
  background: white; }
  .content-joiner .touch-him {
    position: relative;
    float: left;
    margin: 20px 23px 0;
    width: 300px;
    height: 105px;
    background: #ededed; }
    .content-joiner .touch-him:hover .touch-him-opacity {
      transition: opacity 1s;
      opacity: .8; }
  .content-joiner .joiner-face {
    float: left;
    margin: 23px 0 0 33px;
    width: 70px;
    height: 70px;
    border-radius: 35px; }
  .content-joiner .joiner-info {
    float: left;
    width: 145px;
    padding-left: 25px; }
  .content-joiner .joiner-name {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 900; }
  .content-joiner .joiner-text {
    padding-top: 5px; }
  .content-joiner .touch-him-opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    color: white;
    line-height: 105px;
    font-size: 25px;
    opacity: 0; }
    .content-joiner .touch-him-opacity span {
      float: right;
      text-align: right;
      padding-right: 50px; }

.turn-right {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: 550px;
  width: 50px;
  height: 75px;
  background: url("../core/images/detail/turn-right.png"); }

.turn-left {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -610px;
  width: 50px;
  height: 75px;
  background: url("../core/images/detail/turn-left.png"); }

/*# sourceMappingURL=../../maps/detail/detail.css.map */
