.pgt-container {
    position: relative;
}
.pgt-img-upload {
    position: absolute;
    width: 300px;
    height: 400px;
    top: 30%;
    right: 5%;
}

.pgt-file-box {
    position: relative;
}
.pgt-file-btn {
    position: absolute;
    width: 84px;
    height: 34px;
    opacity: 0;
    cursor: pointer;
}

.pgt-each-img {
    float: left;
    position: relative;
    margin-right: 10px;
}
.pgt-handle-box {
    position: absolute;
    display: none;
}
.pgt-each-img:hover .pgt-handle-box {
    display: block;
}

.pgt-each-img p {
    max-width: 200px;
}

.pgt-category-img {
    height: 100px;
}