.pgt-thumbnail-img {
    height: 60px;
}

.pgt-advertisement-img {
    height: 150px;
}

.pgt-front-img {
    height: 150px;
}

.pgt-hero-img {
    height: 150px;
}

.pgt-main-img {
    height: 200px;
}
.pgt-expert-img {
    height: 150px;
}
.pgt-each-img {
    float: left;
    position: relative;
    margin-right: 10px;
}
.pgt-handle-box {
    position: absolute;
    display: none;
}
.pgt-each-img:hover .pgt-handle-box {
    display: block;
}

.pgt-each-img p {
    max-width: 200px;
}
.pgt-file-box {
    position: relative;
}
.pgt-file-btn {
    position: absolute;
    width: 84px;
    height: 34px;
    opacity: 0;
    cursor: pointer;
}