<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgt.tender.mapper.TenderCategoryMapper">
	<resultMap id="tenderCategoryResult" type="com.pgt.tender.bean.TenderCategory">
		<id column="ID" property="id"/>
		<result column="TENDER_ID" property="tenderId"/>
		<result column="CATEGORY_ID" property="categoryId"/>
	</resultMap>

	<select id="findTenderCategoryById" parameterType="int">
		SELECT * FROM TENDER_CATEGORY WHERE ID=#{id}
	</select>
	<insert id="createTenderCategory" parameterType="com.pgt.tender.bean.TenderCategory" keyProperty="id"
			useGeneratedKeys="true">
		INSERT INTO TENDER_CATEGORY(TENDER_ID,CATEGORY_ID) VALUES (#{tenderId},#{categoryId})
	</insert>
	<update id="updateTenderCategory" parameterType="com.pgt.tender.bean.TenderCategory" keyProperty="id">
		UPDATE TENDER_CATEGORY SET TENDER_ID=#{tenderId},CATEGORY_ID=#{categoryId};
	</update>
	<delete id="deleteTenderCategory" parameterType="int">
		DELETE FROM TENDER_CATEGORY WHERE ID=#{id}
	</delete>

</mapper>