/*color*/
//$mainColor: #39200c;
$mainColor: #d43139;
$viceColor: #d43139;
$emColor: #c20008;
$lightViceColor: rgba(255, 153, 0, .1);
$blueColor: #0286ce;
$viceHoverColor: #ce8221;
$blueHoverColor: #245a92;


$goldColor: #9d7d02;
$woodColor: #9d4c1d;
$jadeColor: #006727;
$watchColor: #183243;

$yeepayColor: #53d580;
$yeepayColor2: #1a9846;
$yeepayColor3: #3ec564;

$lightBlue: #fcfcff;
$dark: #1b1b1b;
$light: white;

$lightGray: #f8f8f8;
$ashGray: #cccccc;
$middleGray: #666666;
$darkGray: #3f3f3f;

/*col*/
$colWidth: 80px;
$colSpace: 20px;
$c1: $colWidth;
$c2: $colWidth * 2 + $colSpace * 1;
$c3: $colWidth * 3 + $colSpace * 2;
$c4: $colWidth * 4 + $colSpace * 3;
$c5: $colWidth * 5 + $colSpace * 4;
$c6: $colWidth * 6 + $colSpace * 5;
$c7: $colWidth * 7 + $colSpace * 6;
$c8: $colWidth * 8 + $colSpace * 7;
$c9: $colWidth * 9 + $colSpace * 8;
$c10: $colWidth * 10 + $colSpace * 9;
$c11: $colWidth * 11 + $colSpace * 10;
$c12: $colWidth * 12 + $colSpace * 11;

$mainWidth: $colWidth * 12 + $colSpace * 11;