@import "commonMixin";
@import "globleVariable";
@import "component";

$viceColor: #d43139;

/*all style
************************************************/
.header {

  border-bottom: 2px solid $mainColor;

  span,
  i,
  a,
  input {
    vertical-align: middle;
  }

  .cart {
    display: block;
    text-decoration: none;
  }
}


/*top-status
************************************************/
.top-box {
  background: $lightGray;
}

.top-status {
  margin: 0 auto;
  @include wh($mainWidth, 30px);

  li {
    @include be-nav(left);
    padding-top: 8px;
  }

  a {
    padding: 0 10px;
    @extend %header-a;
  }
}

.top-nav,
.will-login,
.have-login {
  @include bfc;
  float: right;
  @include o;
  list-style: none;
}

.top-nav {
  a {
    border-left: 1px solid $ashGray;
  }
}


/*top-bannner
************************************************/
.top-banner {
  background: #fff;
}

.top-banner-box {
  margin: 0 auto;
  @include wh($mainWidth, 70px);

  a {
    display: block;
    @include wh(100%, 100%);

    img {
      display: block;
      margin: 0 auto;
      height: 100%;
    }
  }
}

/*head-box
************************************************/
@-webkit-keyframes mylogo {
  0%{}
  10% {
    top: -9px;
  }
  20% {
    top: 18px;
  }
  30% {
    top: -5px
  }
  40% {
    top: 17px
  }
  50% {
    top: 0
  }
  60% {
    top: 16px
  }
  70% {
    top: 4px
  }
  80% {
    top: 15px
  }
  90% {
    top: 8px
  }
  100% {
    top: 15px
  }
}
@keyframes mylogo {
  0%{}
  10% {
    top: -9px;
  }
  20% {
    top: 18px;
  }
  30% {
    top: -5px
  }
  40% {
    top: 17px
  }
  50% {
    top: 0
  }
  60% {
    top: 16px
  }
  70% {
    top: 4px
  }
  80% {
    top: 15px
  }
  90% {
    top: 8px
  }
  100% {
    top: 15px
  }
}

.head-box {
  margin: 0 auto;
  padding-top: 25px;
  width: $mainWidth;
  @include bfc;

  .logo-box {
    float: left;
    margin-top: -25px;
    @include wh($c3, 115px);


    h1 {
      margin: 0;
      @include wh(100%, 115px);
      background: url("../core/images/header/logo-red.jpg") no-repeat 0 25px;
    }

    //a {
    //  display: block;
    //  padding-top: 15px;
    //  @include wh(100%, 85px);
    //  text-indent: -5000px;
    //
    //  @include light-hover(280px, .3s);
    //
    //  &:hover {
    //
    //    .golds {
    //      background-position: 0 140px;
    //      transition: background-position 5s linear 1.3s;
    //    }
    //  }
    //
    //  img {
    //    position: absolute;
    //    top: 10px;
    //    left: 0;
    //  }
    //
    //  .golds {
    //    position: absolute;
    //    top: 0;
    //    left: 22px;
    //    @include wh(40px, 45px);
    //    background: url("../core/images/header/golds.png") no-repeat 0 -200px;
    //  }
    //
    //  &:hover {
    //    img {
    //      -webkit-animation: mylogo 1s .5s;
    //      animation: mylogo 1s .5s;
    //    }
    //  }
    //}

    a {
      display: block;
      @include wh(100%, 115px);
      text-indent: -5000px;

      @include light-hover(280px, .3s);

      &:hover {

        .golds {
          background-position: 0 60px;
          transition: background-position 5s linear 1.3s;
        }
      }

      img {
        position: absolute;
        top: 15px;
        left: 0;
      }

      .golds {
        position: absolute;
        top: 0;
        left: 30px;
        @include wh(50px, 60px);
        background: url("../core/images/header/golds.png") no-repeat 0 -500px;
      }

      //&:hover {
      //  img {
      //    -webkit-animation: mylogo 1s .5s;
      //    animation: mylogo 1s .5s;
      //  }
      //}
    }
  }

  .search-box {
    float: left;
    margin-left: $colSpace;
    @include wh($c6, 100px);

    form {
      position: relative;
      margin-top: 15px;
      width: 100%;
    }

  }

  .search-text {
    @include wh(80%, 30px);
    padding: 3px 10px;
    border: 2px solid $mainColor;
    font-size: 18px;
    outline: none;

  }

  .search-sub {
    @include wh(15%, 40px);
    border: none;
    background: $mainColor;
    color: white;
    font-size: 18px;

  }

  .search-tips {
    position: absolute;
    display: none;
    @include o;
    border: 1px solid $mainColor;
    border-top: none;
    @include wh(486px, 100px);
    list-style: none;
    background: white;


    li {
      padding-left: 10px;
      font-size: 16px;
      height: 20px;

      &:hover {
        background: $lightGray;
      }
    }
  }

  .hot-words {
    padding-top: 5px;

    a {
      @extend %header-a;
      padding-right: 10px;
    }
  }

  .cart-box {
    float: left;
    margin-left: $colSpace;
    @include wh($c3, 100px);
  }

  .cart {
    margin: 15px auto;
    border: 1px solid $ashGray;
    padding: 10px 15px;
    @include wh(120px, 20px);
    background: $lightGray;
    font-size: 15px;

    &:hover {
      background: #eeeeee;
    }

    i {
      color: $viceColor;
    }
  }

  .cart-count {
    @include be-position(relative, 0, -15px);
    padding: 0 3px;
    background: $viceColor;
    color: white;
    border-radius: 10px;
  }
}


/*fixed-head-box
************************************************/
.fixed-head-box {
  position: fixed;
  display: none;
  z-index: 3;
  opacity: .99;
  @include wh(100%, 60px);
  top: 0;
  background: $lightGray;

  .fixed-head {
    margin: 0 auto;
    @include wh($mainWidth, 100%);
  }

  .logo-box {
    float: left;
    @include wh($c2, 100%);

    h1 {
      @include o;
      @include wh(100%, 100%);
    }

    a {
      display: block;
      margin-top: 10px;
      @include wh(100%, 40px);
    }

    img {
      height: 100%;
    }
  }

  .search-box {
    float: left;
    margin-left: $colSpace;
    @include wh($c7, 100%);

    form {
      position: relative;
      margin-top: 10px;
      width: 100%;
    }
  }

  .search-text {
    @include wh(80%, 30px);
    padding: 3px 10px;
    border: 2px solid $mainColor;
    font-size: 18px;
    outline: none;
    float: left;
  }

  .search-sub {
    @include wh(15%, 40px);
    border: none;
    background: $mainColor;
    color: white;
    font-size: 18px;
    float: left;
  }

  .search-tips {
    position: absolute;
    display: none;
    @include o;
    border: 1px solid $mainColor;
    border-top: none;
    @include wh(565px, 100px);
    list-style: none;
    background: white;


    li {
      padding-left: 10px;
      font-size: 16px;
      height: 20px;

      &:hover {
        background: $lightGray;
      }
    }
  }


  .cart-box {
    float: left;
    margin-left: $colSpace;
    @include wh($c3, 60px);

    span {
      color: white;
    }

    i {
      color: white;
    }

    .cart-count {
      @include be-position(relative, 0, -15px);
      padding: 0 3px;
      background: white;
      color: $viceColor;
      border-radius: 10px;
    }
  }

  .cart {
    margin: 9px auto 0;
    padding: 10px 15px;
    @include wh(120px, 20px);
    background: $viceColor;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      background: #ce8221;
    }


  }
}


/*nav-box
************************************************/
.nav-box {
  margin: 15px auto 0;
  @include wh($mainWidth, 45px);
}

.menu {
  @include be-position;
  z-index: 2;
  float: left;
  @include wh(220px, 45px);
  line-height: 45px;
}

.menu-head {
  display: block;
  @include wh(100%, 100%);
  background: $mainColor;
  line-height: 45px;
  text-decoration: none;
  text-align: center;

  span {
    @extend %menu-a;
  }
}

//小土豪代码
.menu {
  ul {
    @include o;
  }

  .menu-list {
    z-index: 3;
    width: 220px;
    height: 535px;
    position: absolute;
    top: 47px;
    left: 0;
    background-color: #3f3f3f;
    background: rgba(0, 0, 0, 0.7);
    list-style: none;

  }

  .menu-0 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }

  .menu-0-1 {
    padding-bottom: 10px;
    height: 95px;
  }

  .menu-h {
    font-size: 15px;
    padding-top: 10px;
    display: block;
    text-align: center;
    line-height: 40px;
  }

  .menu-1 {
    width: 160px;
    margin: 0 30px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
  }

  .menu-1 li {
    display: inline;
    border-right: 1px solid white;
    margin: 5px 0;
    padding: 0 8px;
    float: left;
    text-align: center;
    line-height: 12px;
  }

  .menu-1 .li-l {
    border: none;
  }

  .menu-1 li a {
    height: 12px;
  }

  .menu-0 a:link,
  .menu-0-1 a:link,
  .menu-0 a:visited,
  .menu-0-1 a:visited {
    color: white;
    text-decoration: none;
  }

  .menu-0 a:hover,
  .menu-0-1 a:hover,
  .menu-0 a:active,
  .menu-0-1 a:active {
    color: white;
    text-decoration: underline;
  }
}




.hottest {
  float: right;
  display: block;
  @include wh($c3, 45px);
  line-height: 45px;
  text-decoration: none;

  h1 {
    @include o;
    color: $viceColor;
  }

  &:hover {
    h1 {
      text-decoration: underline;
    }
  }
}

.nav {
  margin-left: $c2 + $colSpace;

  ul {
    @include o;
  }

  li {
    @include be-nav(left);
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
  }

  a {
    @extend %nav-a;
  }
}