/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
               '../core/scss/commomExtend',
               '../core/scss/commonMixin',
               '../core/scss/components',
               '../core/scss/part',
               '../core/scss/reset',
               '../core/scss/generalStyle';

/*part
**************************************************************************************************************************************************/
@include header;
@include footer;

/*style
**************************************************************************************************************************************************/
.banner-bg {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: -1;
  @include wh(100%, 650px);


  li {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(100%, 100%);
    background: no-repeat center center;
  }
}

.banner {
  padding-top: 100px;

  ul {
    @include wh(100%, 650px);

    li {
      @include wh(100%, 100%);
      display: none;
    }

    .banner-current {
      display: block;
    }

    a {
      display: block;
      position: absolute;
      @include wh(100%, 100%);
    }
  }

  ol {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);


    li {
      float: left;
      margin-right: 5px;
      @include wh(30px, 8px);
      border-radius: 3px;
      background: white;
      text-indent: -5000px;
      cursor: pointer;
    }

    .banner-nav-current {
      background: $main;
    }
  }
}

.advantage {
  @extend %clear;
  background: white;

  .advantage-inner {
    margin: 30px auto 0 ;
    @include wh($main-width, 430px);
    text-align: center;
    background: url("../core/images/index/red-line-left.png") no-repeat left 5px;
  }

  h2 {
    font-size: 40px;
    color: $main;
    background: url("../core/images/index/red-line-right.png") no-repeat right 5px;
  }

  ul {
    @extend %clear;
    padding: 30px 0 22px;
  }

  li {
    float: left;
    margin: 0 ($main-width - 260px * 4) / 8;
  }

  /*四个方块的颜色,通过循环来赋值*/
  $list-color: #9bd6fe #fec63b #fa7862 #4ddfca;
  @for $i from 1 through 4 {
    .advantage-li-#{$i} {
      background: nth($list-color, $i);
    }
  }

  a {
    display: block;
    @include wh(260px, 300px);
    background: no-repeat bottom center;
  }

}

.advert {
  height: 228px;

  .advert-inner {
    display: block;
    @include block-center($main-width);
    height: 100%;
  }
}

.content {
  background: white;
  padding-bottom: 20px;
}

.content-part {
  @include block-center($main-width);
}

.hot {
  padding-top: 30px;

  .hot-head {
    @extend %clear;
    border-bottom: 2px solid $main;
  }

  .hot-tab {
    float: left;
    @extend %clear;

    a {
      float: left;
      @include wh(140px, 50px);
      color: $main;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    }

    .hot-tab-choose {
      background: $main;
      color: white;
    }
  }

  .hot-more {
    float: right;
    margin-top: 15px;
    color: $gray;

    &:hover {
      color: $main;
    }
  }

  .hot-main {
    position: relative;
    margin-top: 5px;
    height: 430px;
  }

  .invest-list {
    position: relative;
    z-index: 1;
    width: 930px;
  }

  .need-invest {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(100%, 430px);
  }

  .need-invest-opacity {
    position:absolute;
    @include wh(100%, 100%);
    background: $gray-dark;
  }
}

.invest-list {
  background: white;
  @extend %clear;

  li {
    position: relative;
    top: 0;
    float: left;
    margin-right: 10px;
    @include wh(300px, 430px);
    background: #f8f8f8;
    transition: all .4s;

    &:hover {
      top: -5px;
      transition: all 1s;
      box-shadow: 0 10px 15px $gray;

      h4 {
        margin-top: 5px;
        transition: margin-top 1s;
      }

      .invest-row-2,
      .invest-row-3 {
        opacity: 1;
        transition: opacity 1s;
      }
    }
  }

  .invest-inner {
    @include wh(100%, 100%);
    overflow: hidden;
  }

  .img-box {
    margin-top: 15px;
    display: block;

    img {
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }

  h4 {
    margin: 30px auto 0;
    width: 180px;
    line-height: 1.7;
    transition: margin-top 0.4s;

    a {
      color: black;

      &:hover {
        color: $main;
      }
    }
  }

  .invest-row-1,
  .invest-row-2,
  .invest-row-3 {
    @include block-center(180px);
    line-height: 1.7;
  }

  .invest-row-1 {
    color: $main;
  }

  .invest-row-2,
  .invest-row-3 {
    opacity: 0;
    transition: opacity 0.4s;
  }
}

.category {
  margin: 30px auto 0 ;
  @include wh($main-width, auto);
  text-align: center;
  background: url("../core/images/index/red-line-left.png") no-repeat left 5px;

  h2 {
    font-size: 40px;
    color: $main;
    background: url("../core/images/index/red-line-right.png") no-repeat right 5px;
  }

  .each-category {
    margin-top: 30px;
    @extend %clear;
  }

  .list-head {
    float: left;
    @include wh(270px, 435px);
  }

  .category-nav {
    float: right;
    padding-top: 63px;

    li {
      margin-bottom: 8px;
      border: 1px solid white;
      border-right: none;
      @include wh(110px, 40px);
    }

    a {
      display: block;
      @include wh(100%, 100%);
      background: rgba(255,255,255,.2);
      color: white;
      line-height: 40px;
      text-align: left;
      text-indent: 20px;

      &.category-nav-choose {
        background: white;
      }
    }
  }

  h3 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .invest-list {
    padding-top: 5px;
    float: left;

    li {
      margin: 0 0 0 10px;
    }
  }

  .help {
    float: left;
    @include wh(590px, 434px);
    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
  }


  .help-hot {
    padding-top: 20px;
    @extend %clear;
  }


  .help-img-box {
    float: left;
    margin-left: 20px;
    @include wh(265px, 172px);

    img {
      display: block;
      @include wh(100%, 100%);
    }
  }

  .help-list {
    padding: 25px 0 0 25px;
    text-align: left;
    line-height: 2;

    li {
      padding-left: 30px;
    }

    a {
      color: black;

      &:hover {
        color: $main;
      }
    }
  }

  .app-code {
    float: right;
    @include wh(320px, 434px);
    border: 1px solid $gray-light;
    border-top: none;
    text-align: center;
  }

  .app-row-1 {
    padding-top: 55px;
    font-size: 34px;
  }

  .app-row-2 {
    padding-top: 15px;
    font-size: 16px;
  }

  .app-row-3 {
    padding-top: 40px;
    img {
      @include wh(153px, 153px);
    }
  }

  .app-row-4 {
    padding-top: 15px;
    color: $main;
  }
}


