@charset "UTF-8";
/*import
**************************************************************************************************************************************************/
.header .nav, .about-us, .approve, .menu-1 .menu-2, .advantage, .advantage ul, .hot .hot-head, .hot .hot-tab, .invest-list, .category .each-category, .category .help-hot {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .menu-1 .menu-2:after, .advantage:after, .advantage ul:after, .hot .hot-head:after, .hot .hot-tab:after, .invest-list:after, .category .each-category:after, .category .help-hot:after, .header .nav:before, .about-us:before, .approve:before, .menu-1 .menu-2:before, .advantage:before, .advantage ul:before, .hot .hot-head:before, .hot .hot-tab:before, .invest-list:before, .category .each-category:before, .category .help-hot:before {
    content: " ";
    display: table;
    clear: both; }

.header .nav, .about-us, .approve, .menu-1 .menu-2, .advantage, .advantage ul, .hot .hot-head, .hot .hot-tab, .invest-list, .category .each-category, .category .help-hot {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .menu-1 .menu-2:after, .advantage:after, .advantage ul:after, .hot .hot-head:after, .hot .hot-tab:after, .invest-list:after, .category .each-category:after, .category .help-hot:after, .header .nav:before, .about-us:before, .approve:before, .menu-1 .menu-2:before, .advantage:before, .advantage ul:before, .hot .hot-head:before, .hot .hot-tab:before, .invest-list:before, .category .each-category:before, .category .help-hot:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.header .nav, .about-us, .approve, .menu-1 .menu-2, .advantage, .advantage ul, .hot .hot-head, .hot .hot-tab, .invest-list, .category .each-category, .category .help-hot {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .menu-1 .menu-2:after, .advantage:after, .advantage ul:after, .hot .hot-head:after, .hot .hot-tab:after, .invest-list:after, .category .each-category:after, .category .help-hot:after, .header .nav:before, .about-us:before, .approve:before, .menu-1 .menu-2:before, .advantage:before, .advantage ul:before, .hot .hot-head:before, .hot .hot-tab:before, .invest-list:before, .category .each-category:before, .category .help-hot:before {
    content: " ";
    display: table;
    clear: both; }

.header .nav, .about-us, .approve, .menu-1 .menu-2, .advantage, .advantage ul, .hot .hot-head, .hot .hot-tab, .invest-list, .category .each-category, .category .help-hot {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .menu-1 .menu-2:after, .advantage:after, .advantage ul:after, .hot .hot-head:after, .hot .hot-tab:after, .invest-list:after, .category .each-category:after, .category .help-hot:after, .header .nav:before, .about-us:before, .approve:before, .menu-1 .menu-2:before, .advantage:before, .advantage ul:before, .hot .hot-head:before, .hot .hot-tab:before, .invest-list:before, .category .each-category:before, .category .help-hot:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*part
**************************************************************************************************************************************************/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0 2px #eeeeee;
  border-bottom: 1px solid #cccccc \9;
  width: 100%;
  height: 100px;
  background: white; }
  .header .header-inner {
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
  .header .logo,
  .header .nav,
  .header .search {
    float: left; }
  .header .logo {
    width: 242px;
    height: 100%;
    background: url("../core/images/header/logo-red.jpg") no-repeat left center; }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%; }
  .header .nav li {
    float: left;
    padding: 0 23px; }
  .header .nav a {
    font-size: 22px;
    line-height: 100px;
    color: black; }
    .header .nav a:hover {
      color: #ff6d6d; }
  .header .search {
    padding-top: 30px; }
    .header .search input {
      border: 1px solid #cccccc;
      padding: 10px;
      width: 260px;
      line-height: 20px;
      font-size: 14px;
      background: #fefefe;
      transition: width .2s linear; }
      .header .search input:focus {
        width: 300px;
        background: white;
        transition: width .2s linear; }
  .header .status {
    float: right;
    width: 234px;
    height: 100px;
    line-height: 100px;
    text-align: right; }
    .header .status .status-logout {
      height: 100px; }
  .header .status-login-btn,
  .header .status-help-center,
  .header .status-register-btn {
    margin-right: 20px; }
  .header .status-login-btn,
  .header .status-help-center,
  .header .status-register-btn,
  .header .status-help-center {
    height: 90px;
    vertical-align: middle; }
    .header .status-login-btn:hover,
    .header .status-help-center:hover,
    .header .status-register-btn:hover,
    .header .status-help-center:hover {
      border-bottom: 4px solid #ff6d6d;
      color: #ff6d6d; }
  .header .status-login-btn,
  .header .status-help-center,
  .header .status-register-btn,
  .header .status-help-center {
    float: right; }
  .header .status-my-account {
    margin: 15px 15px 0 0;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px; }
    .header .status-my-account:hover {
      background: #ff6d6d;
      top: -5px;
      box-shadow: 0 10px 15px #555555; }
  .header .status-my-account-detail {
    position: absolute;
    display: none;
    width: 200px;
    top: 80px;
    right: -120px;
    line-height: 25px;
    background: white;
    text-align: center; }
    .header .status-my-account-detail .detail-top {
      height: 70px;
      background: #ff6d6d;
      box-shadow: 0 10px 15px #555555; }
      .header .status-my-account-detail .detail-top a {
        padding: 0;
        margin-top: 5px; }
      .header .status-my-account-detail .detail-top img {
        width: 15px;
        height: 15px; }
    .header .status-my-account-detail .user-name {
      margin-top: 30px;
      width: 160px;
      text-align: center;
      float: left; }
    .header .status-my-account-detail .detail-bot {
      background: white;
      box-shadow: 0 10px 15px #555555;
      height: 70px; }
      .header .status-my-account-detail .detail-bot .detail-person {
        background: url("../core/images/header/man.png") no-repeat 24px 10px; }
      .header .status-my-account-detail .detail-bot .detail-order {
        background: url("../core/images/header/buy.png") no-repeat 21px 10px; }
      .header .status-my-account-detail .detail-bot .detail-exit {
        background: url("../core/images/header/exit.png") no-repeat 26px 10px; }
    .header .status-my-account-detail a {
      float: left;
      padding: 10px 0 0 8px;
      height: 50px;
      font-size: 14px;
      line-height: 80px;
      color: #000; }
      .header .status-my-account-detail a:hover {
        color: #ff6d6d; }
  .header .status-user-face-box {
    padding-left: 20px;
    float: left;
    width: 50%;
    height: 50%; }
  .header .status-user-face {
    border-radius: 20px;
    width: 100%;
    height: 100%; }

.footer {
  background: #3f3f3f; }

.goods-box {
  background: #cccccc; }

.us {
  position: relative; }

/*our-goods
  ************************************************/
.our-goods {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px;
  height: 70px; }

.our-good {
  float: left;
  width: 20%;
  height: 70px; }
  .our-good .icon-box {
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #ff6d6d;
    line-height: 70px;
    text-align: center; }
  .our-good i {
    color: white;
    font-size: 35px; }

/*2维码*/
.two-dimension {
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) \9;
  position: absolute;
  top: 0;
  left: 100px; }

.our-app a:hover .two-dimension {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) \9;
  transition: opacity 1s linear; }

.good-text {
  margin-left: 80px;
  padding-top: 10px; }
  .good-text h4 {
    color: black;
    font-size: 16px; }
  .good-text p {
    padding-top: 5px;
    color: #000;
    font-size: 14px; }

/*about-us
  ************************************************/
.about-us {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px; }
  .about-us h3 {
    padding-bottom: 10px;
    color: #cccccc; }
  .about-us a {
    color: #cccccc;
    font-size: 13px; }
    .about-us a:hover {
      color: white; }
  .about-us p {
    color: #cccccc;
    font-size: 13px;
    line-height: 1.6; }
  .about-us ul {
    float: left;
    width: 15%;
    list-style: none; }
  .about-us li {
    padding: 2px 0; }
  .about-us .us {
    margin-left: 60%; }
  .about-us .our-app {
    float: right;
    width: 50%; }
  .about-us .apple-dimension,
  .about-us .android-dimension,
  .about-us .online-server,
  .about-us .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center; }
    .about-us .apple-dimension .app-icon,
    .about-us .android-dimension .app-icon,
    .about-us .online-server .app-icon,
    .about-us .online-server .app-icon {
      margin-bottom: 5px;
      width: 40px;
      height: 40px; }

/*approve-box
  ************************************************/
.approve-box {
  background: #333333;
  padding: 20px 0 5px;
  text-align: center; }
  .approve-box p {
    padding-top: 5px;
    color: #cccccc;
    font-size: 13px; }

.approve {
  margin: 0 auto;
  width: 240px; }
  .approve a {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 30px; }
  .approve img {
    width: 100%;
    height: 100%; }

/*style
**************************************************************************************************************************************************/
.search-img {
  position: fixed;
  top: 0;
  left: -10000px; }

.banner-bg {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 650px; }
  .banner-bg li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center; }

.banner {
  position: relative;
  padding-top: 100px; }
  .banner ul {
    width: 100%;
    height: 650px; }
    .banner ul li {
      width: 100%;
      height: 100%;
      display: none; }
    .banner ul .banner-current {
      display: block; }
    .banner ul a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%; }
  .banner ol {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%); }
    .banner ol li {
      float: left;
      margin-right: 5px;
      width: 30px;
      height: 8px;
      border-radius: 3px;
      background: white;
      text-indent: -5000px;
      cursor: pointer; }
    .banner ol .banner-nav-current {
      background: #ff6d6d; }

.menu-1 {
  position: absolute;
  top: 125px;
  left: 50%;
  margin-left: -600px;
  width: 190px;
  height: 600px;
  background: white;
  opacity: 0.3;
  filter: progid:DXImageTransform.Microsoft.Alpha opacity=30 \9 ;
  transition: opacity .3s; }
  .menu-1:hover {
    transition: opacity .3s;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha opacity=100 \9 ; }
  .menu-1 .menu-1-item {
    height: 71px; }
    .menu-1 .menu-1-item:hover h3 {
      color: #ff6d6d;
      text-indent: 10px; }
    .menu-1 .menu-1-item:hover .menu-detail {
      display: block; }
  .menu-1 .menu-1-title {
    display: block;
    color: black; }
  .menu-1 h3 {
    font-size: 18px;
    padding: 20px 0 0 20px; }
  .menu-1 p {
    padding: 7px 0 0 20px;
    font-size: 14px;
    color: #000; }
  .menu-1 .menu-detail {
    display: none;
    position: absolute;
    top: 0;
    left: 190px;
    padding: 30px 30px 0 60px;
    width: 435px;
    height: 570px;
    background: white; }
  .menu-1 h4 {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid black; }
  .menu-1 small {
    padding-left: 20px;
    color: #ff6d6d;
    font-size: 18px; }
  .menu-1 .menu-2 {
    padding-top: 20px; }
  .menu-1 .menu-2-item {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #cccccc; }
    .menu-1 .menu-2-item a {
      color: black; }
      .menu-1 .menu-2-item a:hover {
        color: #ff6d6d; }
  .menu-1 .menu-2-item-end {
    border-right: none; }
  .menu-1 .menu-row-1 {
    padding-top: 75px;
    font-size: 40px;
    color: #ff6d6d; }
  .menu-1 .menu-row-2 {
    padding: 15px 0 0 10px; }
    .menu-1 .menu-row-2 a {
      color: black; }
      .menu-1 .menu-row-2 a:hover {
        color: #ff6d6d; }
  .menu-1 .menu-row-3 {
    padding: 10px 0 0 10px; }
  .menu-1 .menu-img-box {
    float: right;
    width: 275px;
    height: 275px; }
    .menu-1 .menu-img-box img {
      display: block;
      width: 100%;
      height: 100%; }
  .menu-1 .menu-people-hot {
    padding-top: 40px;
    font-size: 25px; }
  .menu-1 .menu-people-count {
    font-size: 35px;
    color: #ff6d6d; }
  .menu-1 .menu-btn-box {
    padding: 144px 0 0 15px; }
    .menu-1 .menu-btn-box a {
      display: inline-block;
      padding: 0;
      border: none;
      width: 120px;
      height: 40px;
      font-size: 20px;
      background: #ff6d6d;
      border-radius: 0;
      line-height: 40px;
      color: white;
      text-align: center;
      cursor: pointer; }
      .menu-1 .menu-btn-box a:hover {
        background: #ff3a3a; }

.advantage {
  background: white;
  /*四个方块的颜色,通过循环来赋值*/ }
  .advantage .advantage-inner {
    margin: 30px auto 0;
    width: 1200px;
    height: 430px;
    text-align: center;
    background: url("../core/images/index/red-line-left.png") no-repeat left 5px; }
  .advantage h2 {
    font-size: 40px;
    color: #ff6d6d;
    background: url("../core/images/index/red-line-right.png") no-repeat right 5px; }
  .advantage ul {
    padding: 30px 0 22px; }
  .advantage li {
    float: left;
    margin: 0 20px; }
  .advantage .advantage-li-1 {
    background: #9bd6fe; }
  .advantage .advantage-li-2 {
    background: #fec63b; }
  .advantage .advantage-li-3 {
    background: #fa7862; }
  .advantage .advantage-li-4 {
    background: #4ddfca; }
  .advantage a {
    display: block;
    width: 260px;
    height: 300px;
    background: no-repeat bottom center; }

.advert {
  height: 228px; }
  .advert .advert-inner {
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%; }

.content {
  background: white;
  padding-bottom: 20px; }

.content-part {
  margin: 0 auto;
  width: 1200px; }

.hot {
  padding-top: 30px; }
  .hot .hot-head {
    border-bottom: 2px solid #ff6d6d; }
  .hot .hot-tab {
    float: left; }
    .hot .hot-tab a {
      float: left;
      width: 140px;
      height: 50px;
      color: #ff6d6d;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: 700; }
    .hot .hot-tab .hot-tab-choose {
      background: #ff6d6d;
      color: white; }
  .hot .hot-more {
    float: right;
    margin-top: 15px;
    color: #555555; }
    .hot .hot-more:hover {
      color: #ff6d6d; }
  .hot .hot-main {
    position: relative;
    margin-top: 5px;
    height: 430px; }
  .hot .invest-list {
    position: relative;
    z-index: 1;
    width: 930px; }
  .hot .need-invest {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px; }
  .hot .need-invest-opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333; }

.invest-list {
  background: white; }
  .invest-list li {
    position: relative;
    top: 0;
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 430px;
    background: #f8f8f8;
    transition: all .4s; }
    .invest-list li:hover {
      top: -5px;
      transition: all 1s;
      box-shadow: 0 10px 15px #555555; }
      .invest-list li:hover h4 {
        margin-top: 5px;
        transition: margin-top 1s; }
      .invest-list li:hover .invest-row-2,
      .invest-list li:hover .invest-row-3 {
        opacity: 1;
        transition: opacity 1s; }
  .invest-list .invest-inner {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .invest-list .img-box {
    margin-top: 15px;
    display: block; }
    .invest-list .img-box img {
      display: block;
      margin: 0 auto;
      width: 90%; }
  .invest-list h4 {
    margin: 30px auto 0;
    width: 180px;
    line-height: 1.7;
    transition: margin-top 0.4s; }
    .invest-list h4 a {
      color: black; }
      .invest-list h4 a:hover {
        color: #ff6d6d; }
  .invest-list .invest-row-1,
  .invest-list .invest-row-2,
  .invest-list .invest-row-3 {
    margin: 0 auto;
    width: 180px;
    line-height: 1.7; }
  .invest-list .invest-row-1 {
    color: #ff6d6d; }
  .invest-list .invest-row-2,
  .invest-list .invest-row-3 {
    opacity: 0;
    transition: opacity 0.4s; }

.category {
  margin: 30px auto 0;
  width: 1200px;
  text-align: center;
  background: url("../core/images/index/red-line-left.png") no-repeat left 5px; }
  .category h2 {
    font-size: 40px;
    color: #ff6d6d;
    background: url("../core/images/index/red-line-right.png") no-repeat right 5px; }
  .category .each-category {
    margin-top: 30px; }
  .category .list-head {
    float: left;
    width: 270px;
    height: 435px; }
  .category .category-nav {
    float: right;
    padding-top: 63px; }
    .category .category-nav li {
      margin-bottom: 8px;
      border: 1px solid white;
      border-right: none;
      width: 110px;
      height: 40px; }
    .category .category-nav a {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      color: white;
      line-height: 40px;
      text-align: left;
      text-indent: 20px; }
      .category .category-nav a.category-nav-choose {
        background: white; }
  .category h3 {
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white; }
  .category .invest-list {
    padding-top: 5px;
    float: left; }
    .category .invest-list li {
      margin: 0 0 0 10px; }
  .category .help {
    float: left;
    width: 590px;
    height: 434px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }
  .category .help-hot {
    padding-top: 20px; }
  .category .help-img-box {
    float: left;
    margin-left: 20px;
    width: 265px;
    height: 172px; }
    .category .help-img-box img {
      display: block;
      width: 100%;
      height: 100%; }
  .category .help-list {
    padding: 25px 0 0 25px;
    text-align: left;
    line-height: 2; }
    .category .help-list li {
      padding-left: 30px; }
    .category .help-list a {
      color: black; }
      .category .help-list a:hover {
        color: #ff6d6d; }
  .category .app-code {
    float: right;
    width: 320px;
    height: 434px;
    border: 1px solid #cccccc;
    border-top: none;
    text-align: center; }
  .category .app-row-1 {
    padding-top: 55px;
    font-size: 34px; }
  .category .app-row-2 {
    padding-top: 15px;
    font-size: 16px; }
  .category .app-row-3 {
    padding-top: 40px; }
    .category .app-row-3 img {
      width: 153px;
      height: 153px; }
  .category .app-row-4 {
    padding-top: 15px;
    color: #ff6d6d; }

/*# sourceMappingURL=../../maps/index/index.css.map */
