/*import
**************************************************************************************************************************************************/
.top-content {
  *zoom: 1; }
  .top-content:after, .top-content:before {
    content: " ";
    display: table;
    clear: both; }

.top-content {
  *zoom: 1; }
  .top-content:after, .top-content:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.top-content {
  *zoom: 1; }
  .top-content:after, .top-content:before {
    content: " ";
    display: table;
    clear: both; }

.top-content {
  *zoom: 1; }
  .top-content:after, .top-content:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*
***************************************************************/
.top {
  height: 37px;
  line-height: 37px;
  background: #f5f5f5;
  font-size: 12px;
  color: #6c6c6c; }
  .top * {
    vertical-align: middle; }

.top-content {
  margin: 0 auto;
  width: 1200px; }

.top-welcome {
  float: left;
  width: 50%;
  text-align: left; }

.top-welcome-phone-title {
  padding-left: 20px; }

.top-welcome-phone-value {
  padding-left: 5px; }

.top-user {
  float: right;
  width: 50%;
  text-align: right; }
  .top-user a {
    color: #6c6c6c; }

.top-user-register {
  padding-left: 10px; }

.head {
  margin: 0 auto;
  width: 1200px;
  height: 110px; }
  .head h2 {
    float: left;
    margin: 50px 0 0 100px;
    font-size: 25px; }

.logo {
  float: left;
  height: 110px;
  width: 230px;
  background: url("../images/header/logo-red.jpg") no-repeat left center; }

.logo-link {
  display: block;
  height: 100%; }

/*# sourceMappingURL=../../../maps/core/header/header-con.css.map */
