@import "../base/my-account";

.product-list {
  @include list(20%,13px, 18px, 12px, 168px);

  .addEnjoy {
    display: none;
  }
}

.page-box {
  @include page;
}

.content-search {
  margin-top: 18px;
  float:right;

  @include search($middleGray);
}