
@import "../base/my-account";

.each-day {
  float: left;
  width: 100%;
}


.day-info {
  float: left;
  width: 15%;
  height: 15px;
  text-align: center;

  a {
    font-size: 16px;
  }


  .calendar {
    margin: 0 auto;
    @include wh(80px, 85px);
    @include bfc;
    background: url("../../core/images/myaccount/calendar.jpg") no-repeat ;

    span {
      color: $ashGray;
    }
  }

  .year-mouth {
    margin: 28px 0 5px;
    font-size: 12px;
  }
  .day {
    @include o;
    font-size: 20px;
  }
}

.product-list {
  float: left;
  padding-left: 4%;
  padding-bottom: $colSpace;
  border-left: 1px solid $ashGray;
  width: 80%;
  @include list(25%,13px,18px, 12px, 168px);
}

.on-this-day {
  .product-list {
    border-left: 1px solid $viceColor;
  }
}

.content-search {
  margin-top: 18px;
  float:right;

  @include search($middleGray);
}
