@import "../core/scss/normalize";
@import "../core/scss/commonMixin";
@import "../core/scss/globleVariable";
@import "../core/scss/fontGeneral";
@import "../core/scss/footer-main";
@import "../core/scss/component";

//user foundation_icons
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons";
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons_ie7";

@mixin cost($f) {
  font-size: $f;
  color: $emColor;
  span {
    color:$emColor;
  }
}

/*part of header-main
*************************************************************************************/
.status-box {
  background: $lightGray;
}

.top-status {
  margin: 0 auto;
  @include wh($mainWidth, 30px);

  li {
    @include be-nav(left);
    padding-top: 8px;
  }

  a {
    padding: 0 10px;
    @extend %header-a;
  }
}

.top-nav,
.will-login,
.have-login {
  @include bfc;
  float: right;
  @include o;
  list-style: none;
}

.top-nav {
  a {
    border-left: 1px solid $ashGray;
  }
}

/*logo-box
*************************************************************************************/
@-webkit-keyframes mylogo {
  0%{}
  10% {
    top: -9px;
  }
  20% {
    top: 18px;
  }
  30% {
    top: -5px
  }
  40% {
    top: 17px
  }
  50% {
    top: 0
  }
  60% {
    top: 16px
  }
  70% {
    top: 4px
  }
  80% {
    top: 15px
  }
  90% {
    top: 8px
  }
  100% {
    top: 15px
  }
}
@keyframes mylogo {
  0%{}
  10% {
    top: -9px;
  }
  20% {
    top: 18px;
  }
  30% {
    top: -5px
  }
  40% {
    top: 17px
  }
  50% {
    top: 0
  }
  60% {
    top: 16px
  }
  70% {
    top: 4px
  }
  80% {
    top: 15px
  }
  90% {
    top: 8px
  }
  100% {
    top: 15px
  }
}

.logo-box {
  margin: 0 auto;
  width: $mainWidth;
  @include bfc;

  h1 {
    float: left;
    @include o;
    @include wh(260px, 160px);
    background: url("../core/images/header/logo-red.jpg") no-repeat 0 40px;

    a {
      display: block;
      @include wh(100%, 115px);
      text-indent: -5000px;

      @include light-hover(280px, .3s);

      &:hover {

        .golds {
          background-position: 0 60px;
          transition: background-position 5s linear 1.3s;
        }
      }

      img {
        position: absolute;
        top: 15px;
        left: 0;
      }

      .golds {
        position: absolute;
        top: 0;
        left: 30px;
        @include wh(50px, 60px);
        background: url("../core/images/header/golds.png") no-repeat 0 -500px;
      }

      &:hover {
        img {
          -webkit-animation: mylogo 1s .5s;
          animation: mylogo 1s .5s;
        }
      }
    }

  }

  ul {
    margin: 60px 0 0  275px;
    padding: 0;
    @include wh(903px, 36px);
  }

  ul.step1 {
    background: url("../core/images/header/step1.png");
    .step1-text {
      color: white;
    }
  }
  ul.step2 {
    background: url("../core/images/header/step2.png");
    .step2-text {
      color: white;
    }
  }
  ul.step3 {
    background: url("../core/images/header/step3.png");
    .step3-text {
      color: white;
    }
  }
  ul.step4 {
    background: url("../core/images/header/step4.png");
    .step4-text {
      color: white;
    }
  }

  li {
    @include be-nav(left);
    @include wh(25%, 100%);

    h3 {
      @include o;
      line-height: 36px;
      color: $middleGray;
    }
    .step1-text {
      padding-left: 80px;
    }
    .step2-text {
      padding-left: 100px;
    }
    .step3-text {
      padding-left: 105px;
    }
    .step4-text {
      padding-left: 110px;
    }
  }
}


/*general
*************************************************************************************/
.content-box .link-btn {
  text-decoration: none;
  color: #0286ce;
  &:hover {
    color: $viceColor;
  }
}

.d-btn {
  @extend %dark-btn;
  font-size: 16px;
}

.l-btn {
  @extend %light-btn;
  font-size: 16px;
}

fieldset {
  margin: 0;
  padding: 30px 80px;
  border: 1px solid $ashGray;
  background: $lightGray;
}

form {
  h3 {
    margin-top: $colSpace;
    font-size: 20px;
  }
}

td {
  img {
    @include wh(60px, 60px);
  }
}

.content-1,
.content-2,
.content-3,
.content-4 {
  margin: 0 auto;
  width: $mainWidth;
  @include bfc;
  font-size: 14px;
}

.content-title {
  margin: 0 auto;
  @include wh($mainWidth, 40px);
  border-bottom: 3px solid $viceColor;
  line-height: 40px;
  font-size: 16px;

  h2 {
    float: left;
    @include o;
    padding-left: 70px;
    width: $c4;
  }

  .back-last {
    float: right;
  }

  .area-select {
    margin-left: $c8;
  }
}

.province,
.city,
.country,
.invoice-title {
  @include like-select(100px, 25px, 14px);

}

.error {
  padding: 10px 40px;
  span {
    font-size: 16px;
    color: $emColor;
  }
}

/*content-1
*************************************************************************************/
.content-1 {
  h2 {
    background: url("../core/images/cart/cart-img.gif") no-repeat 20px center;
  }

  table {
    width: $mainWidth;
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: center;
  }

  tbody {
    tr {
      height: 100px;
      background: $lightGray;
    }

    .product-hidden {
      width: 20px;
    }

    .product-level {
      width: 100px;
    }

    .level {
      color: $viceColor;
    }

    .product-old-cost {
      font-size: 18px;
      text-decoration: line-through;
      color: black;
      span {
        color: black;
      }
    }

    .product-now-cost {
      font-size: 18px;
      color: $emColor;
      span {
        color: $emColor;
      }
    }

    .product-count {
      width: 30px;
    }

    a {
      @extend %product-link;
    }
  }

  .product-name {
    text-align: left;
    width: 550px;
  }
}

.settlement {
  border: 1px solid $ashGray;
  .right {
    height: 70px;
    width: 300px;
    float: right;

    .cost {
      @include cost(18px);
    }
  }
  .left {
    margin: 10px;
    height: 50px;
    a {
      margin-left: 10px;
    }
  }
  .bottom {
    height: 50px;
    line-height: 50px;
    background: $lightGray;
    text-align: right;
    padding-right: 30px;

    .cost {
      @include cost(22px);
    }
  }
  .settlement-name {
    display: inline-block;
    width: 150px;
    text-align: right;
  }
}

.none-product {
  margin-top: 20px;
  padding: 30px 80px;
  border: 1px solid $ashGray;
  background: $lightGray url("../core/images/productList/warning.png") no-repeat 100px center;

  p {
    padding-left: 60px;
    font-size: 20px;
  }
}


/*content-2
*************************************************************************************/
.content-2 {
  h2 {
    background: url("../core/images/cart/title-img-2.jpg") no-repeat 20px center;
  }

  table {
    border-collapse: separate;
    border-spacing: 15px 10px;

    span {
      color: $emColor;
    }
  }

  th {
    font-weight: normal;
    text-align: right;
  }

  .row {
    margin: 10px 0;
  }

  .choose-has {
    float: right;
    text-align: right;
  }

  .drop-area {
    margin-top: $colSpace;
    background: url("../core/images/cart/drop-divide.png") no-repeat 0 0;
    //height: 2px;
    @include bfc;

    .inner {
      margin-top: $colSpace;
    }
  }

  .address {
  }

  .product-info {

    fieldset {
      padding: 30px 40px;
    }

    span,
    p,
    td {
      color: $middleGray;
    }

    table {
      width: 100%;
    }

    .product-name {
      width: 700px;
    }

    .product-now-cost {
      font-size: 18px;
      color: $emColor;
      span {
        color: $emColor;
      }
    }
  }

  .post-way {
    .row {
      margin: 15px 0;
    }
  }

  .invoice {
    span,
    label {
      margin-left: 5px;
    }
  }

  .sub-box {
    margin: $colSpace;
    text-align: right;

    input{
      font-size: 20px;
    }
  }

  .get-self {
    padding-left: 40px;
  }

  .img-box {
    position: relative;


    .out-of-stock {
      position: absolute;
      top: 2px;
      left: 10px;
      @include wh(50px, 50px);
      opacity: .7;
    }
  }
}

.content-3,
.content-4 {
  h2 {
    background: url("../core/images/cart/title-img-3.jpg") no-repeat 20px center;
  }

  .row {
    margin: 20px 0;
  }

  .row-division {
    margin-top: 40px;
  }

  fieldset {
    padding: 30px 260px;
  }

  .success-box {
    margin-top: $colSpace;
    background: url("../core/images/cart/ture-img.png") no-repeat 150px 30px $lightGray;
  }

  .look-order {
    float: right;
  }

  h4 {
    margin: 0;
    float: right;
    font-size: 20px;

    .cost {
      @include cost(25px);
    }
  }

  .point-p {
    font-size: 18px;
  }

  .d-btn {
    font-size: 20px;
  }
}

.pay-way {

  line-height: 80px;
  label {
    float: left;
    @include wh(33%, 80px);
  }

  .yeepay {
    background: url("../core/images/cart/yibao.png") no-repeat 30px center;
  }

  .zhifubao {
    background: url("../core/images/cart/zhifubao.png") no-repeat 30px center;
  }

  .btn-box {
    padding-left: 36%;

    input {
      width: 120px;
      font-size: 22px;
    }
  }
}

.content-4 {
  .right-a,
  .left-a {
    font-size: 18px;
  }

  .right-a {
    float: right;
    //margin-right: 100px;
  }
}


/*recommend
*************************************************************************************/
.recommend {
  margin: $colSpace auto;
  width: $mainWidth;
  @include bfc;

  .tab {
    border: 1px solid $ashGray;
    border-bottom: none;
    @include tab;

    h2 {
      font-size: 20px;
    }
  }


  .similar-box {
    @include row-list(1118px);
  }
}

/*for js
*************************************************************************************/
.logo-box {
  .this-step {
    border-top: 1px solid $viceColor;
    height: 5px;
    background: $viceColor;

    span {
      background: $viceColor;
      border-radius: 12px;
      color: white;
    }
  }
}

.pop-up {
  @include pop;
  display: none;

  input[type=text] {
    @include wh(220px, 23px);

    &:focus {
      border: 2px solid $viceColor;
    }

  }

  .must-write,
  .pop-tips {
    color: $emColor;
  }

  label {
    display: block;
    padding-bottom: 3px;
  }

  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6,
  .row7 {
    padding-top: 15px;
  }

  .row3 {
    input {
      width: 460px;
    }
  }

  .row4,
  .row5 {
    float: left;
    width: 240px;
  }

  .row6 {
    clear: both;
  }

  .row7 {
    float: right;
  }
}



