/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';


/*part
**************************************************************************************************************************************************/
@include header(true);
@include footer;

/*style
**************************************************************************************************************************************************/
body {
  background: #f3f3f3;
}

.content {
  overflow: hidden;
  margin: 20px auto 50px;
  padding-bottom: 50px;
  border: 1px solid $gray-light;
  width: $main-width;
  background: white;

  h2 {
    padding: 28px 0 0 47px;
    font-size: 20px;
    font-weight: 700;

  }
}

.step-img{
  margin-top: 50px;
  height: 50px;
  background: url("../core/images/shipping/b1.png") no-repeat 150px 0;
}

.step {
  margin: 0 auto 70px;
  padding-left: 115px;
  @include wh(1140px, 50px);
  text-align: center;
  background: white;

  li {
    float: left;
    @include wh(21%, 100%);
    line-height: 50px;
  }
}

table {
  table-layout: fixed;
}

th {
  width: 500px;
  text-align: right;
  vertical-align: middle;
}

td {
  padding-left: 30px;
  vertical-align: middle;
}

.input-text {
  @include wh(200px, 30px);
}

.input-next {
  @include color-btn(100px, 30px, 3px, 16px, $main, $main-dark);
}

.input-cancel {
  @include color-btn(80px, 30px, 3px, 16px, $gray-light, #bbb);
  color: black;
}

.error {
  font-size: 14px;
  color: $main;
}

.input-username {
  .input-row-1,
  .input-row-2,
  .input-row-4 {
    height: 50px;
  }

  .input-row-3 {
    height: 30px;
  }
  .input-row-3-1 {
    height: 20px;

  }

  .confirm-code {
    float: left;
    @include wh(100px, 40px);
  }

  p {
    width: 300px;
    padding: 15px 0 0 110px;
    font-size: 14px;
  }
}

.test-identity {
  tr {
    height: 50px;
  }

  .input-row-3-1 {
    height: 20px;

    td{
      color: #999;
      font-size: 13px;
    }
  }

  .get-phone-confirm-code,
  .get-email-confirm-code {
    margin-left: 20px;
    @include color-btn(120px, 30px, 3px, 14px, $main, $main-dark);
  }

  .get-phone-confirm-code-new{
    margin-left: 20px;
    @include color-btn(120px, 30px, 3px, 14px, #f5f5f5,#f5f5f5);
    color: #979797;
    border: 1px solid #979797;
  }

  select {
    @include wh(120px, 40px);
  }
}
.set-password {
  @extend .input-username;
}

.reset-success {
  height: 300px;
  padding-top: 150px;
  padding-left: 528px;
  background: url("../core/images/duihao.png") no-repeat 430px 150px;

  .success-row-1 {
    font-size: 25px;
    color: #48c344;
  }

  .success-row-2,
  .success-row-3 {
    padding-top: 20px;
  }

  .link-btn {
    color: $main;
    margin-right: 20px;
  }
}