@charset "UTF-8";
/*import
**************************************************************************************************************************************************/
.header .top-content, .about-us, .approve {
  *zoom: 1; }
  .header .top-content:after, .about-us:after, .approve:after, .header .top-content:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

.header .top-content, .about-us, .approve {
  *zoom: 1; }
  .header .top-content:after, .about-us:after, .approve:after, .header .top-content:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.header .top-content, .about-us, .approve {
  *zoom: 1; }
  .header .top-content:after, .about-us:after, .approve:after, .header .top-content:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

.header .top-content, .about-us, .approve {
  *zoom: 1; }
  .header .top-content:after, .about-us:after, .approve:after, .header .top-content:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*part
**************************************************************************************************************************************************/
.header {
  background: white; }
  .header .top-banner {
    display: block;
    height: 80px; }
  .header .top {
    height: 37px;
    line-height: 37px;
    background: #f5f5f5;
    font-size: 12px;
    color: #6c6c6c; }
    .header .top * {
      vertical-align: middle; }
  .header .top-content {
    margin: 0 auto;
    width: 1200px; }
  .header .top-welcome {
    float: left;
    width: 50%;
    text-align: left; }
  .header .top-welcome-phone-title {
    padding-left: 20px; }
  .header .top-welcome-phone-value {
    padding-left: 5px; }
  .header .top-user {
    float: right;
    width: 50%;
    text-align: right; }
    .header .top-user a {
      color: #6c6c6c;
      margin-left: 5px; }
      .header .top-user a:hover {
        color: #c90304; }
  .header .top-user-register {
    padding-left: 10px; }
  .header .head {
    margin: 0 auto;
    width: 1200px;
    height: 110px; }
  .header .logo,
  .header .hot-left,
  .header .search,
  .header .hot-right {
    float: left;
    height: 110px; }
  .header .logo {
    width: 230px;
    background: url("../core/images/header/logo-red.jpg") no-repeat left center; }
  .header .logo-link {
    display: block;
    height: 100%; }
  .header .hot-left {
    width: 150px; }
  .header .search {
    width: 560px; }
  .header .search-content {
    float: right;
    margin-top: 36px;
    border: 1px solid #a9b7b7;
    border-radius: 3px;
    overflow: hidden; }
  .header .search-input-text {
    float: right;
    border: none;
    border-right: 1px solid #a9b7b7;
    padding: 0 10px;
    width: 400px;
    height: 37px;
    font-size: 14px;
    font-weight: 400; }
  .header .search-input-submit {
    float: right;
    border: none;
    width: 37px;
    height: 37px;
    background: url("../core/images/header/icon-search.png") no-repeat center center; }
    .header .search-input-submit:hover {
      background: #a9b7b7 url("../core/images/header/icon-search-hover.png") no-repeat center center; }
  .header .hot-right {
    margin-left: 100px;
    width: 160px; }
  .header .nav {
    background: #272727; }
  .header .nav-content {
    margin: 0 auto;
    width: 1200px;
    height: 54px; }
  .header .menu {
    position: relative;
    z-index: 1;
    float: left;
    width: 230px;
    height: 54px; }
  .header .menu-title {
    line-height: 54px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: white;
    cursor: pointer; }
  .header .menu-list {
    position: absolute;
    display: none;
    width: 230px;
    top: 54px;
    left: 0;
    background: url("../core/images/opacity/opacity_white_9.png") repeat; }
  .header .menu-item {
    margin: 0 15px;
    padding: 15px 0 15px 40px;
    border-bottom: 1px dashed #cccccc; }
  .header .menu-item-title {
    color: #6c6c6c; }
  .header .menu-item-sub-box {
    padding-top: 5px;
    line-height: 1.2; }
  .header .menu-item-sub {
    font-size: 14px;
    color: #6c6c6c; }
  .header .nav-list {
    position: relative;
    float: left; }
  .header .nav-item-hover {
    position: absolute;
    z-index: 1;
    background: #414141;
    transition: all .3s; }
  .header .nav-item {
    position: relative;
    z-index: 2;
    float: left; }
  .header .nav-item-link {
    display: block;
    padding: 0 30px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    font-weight: 400;
    color: white; }

.top-banner {
  display: none !important; }

.nav {
  display: none; }

.footer {
  background: #3f3f3f; }

.goods-box {
  background: #cccccc; }

.us {
  position: relative; }

/*our-goods
  ************************************************/
.our-goods {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px;
  height: 70px; }

.our-good {
  float: left;
  width: 20%;
  height: 70px; }
  .our-good .icon-box {
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #c90304;
    line-height: 70px;
    text-align: center; }
  .our-good i {
    color: white;
    font-size: 35px; }

/*2维码*/
.two-dimension {
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) \9;
  position: absolute;
  top: 0;
  left: 100px; }

.our-app a:hover .two-dimension {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) \9;
  transition: opacity 1s linear; }

.good-text {
  margin-left: 80px;
  padding-top: 10px; }
  .good-text h4 {
    color: black;
    font-size: 16px; }
  .good-text p {
    padding-top: 5px;
    color: #000;
    font-size: 14px; }

/*about-us
  ************************************************/
.about-us {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px; }
  .about-us h3 {
    padding-bottom: 10px;
    color: #cccccc; }
  .about-us a {
    color: #cccccc;
    font-size: 13px; }
    .about-us a:hover {
      color: white; }
  .about-us p {
    color: #cccccc;
    font-size: 13px;
    line-height: 1.6; }
  .about-us ul {
    float: left;
    width: 15%;
    list-style: none; }
  .about-us li {
    padding: 2px 0; }
  .about-us .us {
    margin-left: 60%; }
  .about-us .our-app {
    float: right;
    width: 50%; }
  .about-us .apple-dimension,
  .about-us .android-dimension,
  .about-us .online-server,
  .about-us .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center; }
    .about-us .apple-dimension .app-icon,
    .about-us .android-dimension .app-icon,
    .about-us .online-server .app-icon,
    .about-us .online-server .app-icon {
      margin-bottom: 5px;
      width: 40px;
      height: 40px; }

/*approve-box
  ************************************************/
.approve-box {
  background: #333333;
  padding: 20px 0 5px;
  text-align: center; }
  .approve-box p {
    padding-top: 5px;
    color: #cccccc;
    font-size: 13px; }

.approve {
  margin: 0 auto;
  width: 240px; }
  .approve a {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 30px; }
  .approve img {
    width: 100%;
    height: 100%; }

/*style
**************************************************************************************************************************************************/
body {
  background: #f3f3f3; }

.content {
  overflow: hidden;
  margin: 20px auto 50px;
  padding-bottom: 50px;
  border: 1px solid #cccccc;
  width: 1200px;
  background: white; }
  .content h2 {
    padding: 28px 0 0 47px;
    font-size: 20px;
    font-weight: 700; }

.step-img {
  margin-top: 50px;
  height: 50px;
  background: url("../core/images/shipping/b1.png") no-repeat 150px 0; }

.step {
  margin: 0 auto 70px;
  padding-left: 115px;
  width: 1140px;
  height: 50px;
  text-align: center;
  background: white; }
  .step li {
    float: left;
    width: 21%;
    height: 100%;
    line-height: 50px; }

table {
  table-layout: fixed; }

th {
  width: 500px;
  text-align: right;
  vertical-align: middle; }

td {
  padding-left: 30px;
  vertical-align: middle; }

.input-text {
  width: 200px;
  height: 30px; }

.input-next {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: #c90304;
  border-radius: 3px;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .input-next .color-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transition: transform .3s; }
  .input-next:hover {
    background: #970203; }
    .input-next:hover .color-hover {
      transform: scaleX(1);
      transition: transform .3s; }

.input-cancel {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 16px;
  background: #cccccc;
  border-radius: 3px;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer;
  color: black; }
  .input-cancel .color-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transition: transform .3s; }
  .input-cancel:hover {
    background: #bbb; }
    .input-cancel:hover .color-hover {
      transform: scaleX(1);
      transition: transform .3s; }

.error {
  font-size: 14px;
  color: #c90304; }

.input-username .input-row-1, .set-password .input-row-1,
.input-username .input-row-2, .set-password .input-row-2,
.input-username .input-row-4, .set-password .input-row-4 {
  height: 50px; }

.input-username .input-row-3, .set-password .input-row-3 {
  height: 30px; }

.input-username .confirm-code, .set-password .confirm-code {
  float: left;
  width: 100px;
  height: 40px; }

.input-username p, .set-password p {
  width: 300px;
  padding: 15px 0 0 110px;
  font-size: 14px; }

.test-identity tr {
  height: 50px; }

.test-identity .get-phone-confirm-code,
.test-identity .get-email-confirm-code {
  margin-left: 20px;
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  width: 120px;
  height: 30px;
  font-size: 14px;
  background: #c90304;
  border-radius: 3px;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .test-identity .get-phone-confirm-code .color-hover,
  .test-identity .get-email-confirm-code .color-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transition: transform .3s; }
  .test-identity .get-phone-confirm-code:hover,
  .test-identity .get-email-confirm-code:hover {
    background: #970203; }
    .test-identity .get-phone-confirm-code:hover .color-hover,
    .test-identity .get-email-confirm-code:hover .color-hover {
      transform: scaleX(1);
      transition: transform .3s; }

.test-identity select {
  width: 120px;
  height: 40px; }

.reset-success {
  height: 300px;
  padding-top: 150px;
  padding-left: 528px;
  background: url("../core/images/duihao.png") no-repeat 430px 150px; }
  .reset-success .success-row-1 {
    font-size: 25px;
    color: #48c344; }
  .reset-success .success-row-2,
  .reset-success .success-row-3 {
    padding-top: 20px; }
  .reset-success .link-btn {
    color: #c90304;
    margin-right: 20px; }

/*# sourceMappingURL=../../maps/user/forget-reset.css.map */
