@charset "UTF-8";
/*import
**************************************************************************************************************************************************/
.header .nav, .about-us, .approve {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .header .nav:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

.header .nav, .about-us, .approve {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .header .nav:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.header .nav, .about-us, .approve {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .header .nav:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

.header .nav, .about-us, .approve {
  *zoom: 1; }
  .header .nav:after, .about-us:after, .approve:after, .header .nav:before, .about-us:before, .approve:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: '微软雅黑', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #86b5ed; }
  .link-btn:hover {
    color: #2d7fe0; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*part
**************************************************************************************************************************************************/
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0 2px #eeeeee;
  border-bottom: 1px solid #cccccc \9;
  width: 100%;
  height: 100px;
  background: white; }
  .header .header-inner {
    margin: 0 auto;
    width: 1200px;
    height: 100%; }
  .header .logo,
  .header .nav,
  .header .search {
    float: left; }
  .header .logo {
    width: 242px;
    height: 100%;
    background: url("../core/images/header/logo-red.jpg") no-repeat left center; }
    .header .logo a {
      display: block;
      width: 100%;
      height: 100%; }
  .header .nav li {
    float: left;
    padding: 0 23px; }
  .header .nav a {
    font-size: 22px;
    line-height: 100px;
    color: black; }
    .header .nav a:hover {
      color: #fe4040; }
  .header .search {
    padding-top: 30px; }
    .header .search input {
      border: 1px solid #cccccc;
      padding: 10px;
      width: 260px;
      line-height: 20px;
      font-size: 14px;
      background: #fefefe;
      transition: width .2s linear; }
      .header .search input:focus {
        width: 300px;
        background: white;
        transition: width .2s linear; }
  .header .status {
    float: right;
    width: 234px;
    height: 100px;
    line-height: 100px;
    text-align: right; }
  .header .status-help-center,
  .header .status-register-btn {
    margin-left: 20px; }
  .header .status-help-center,
  .header .status-login-btn,
  .header .status-register-btn,
  .header .status-help-center,
  .header .status-my-account {
    vertical-align: middle; }
  .header .status-my-account {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px; }
  .header .status-my-account-detail {
    position: absolute;
    border: 1px solid black;
    width: 200px;
    height: 300px;
    top: 40px;
    right: -50px; }
  .header .status-user-face-box {
    float: left;
    width: 100%;
    height: 100%; }
  .header .status-user-face {
    width: 100%;
    height: 100%; }

.footer {
  background: #3f3f3f; }

.goods-box {
  background: #cccccc; }

.us {
  position: relative; }

/*our-goods
  ************************************************/
.our-goods {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px;
  height: 70px; }

.our-good {
  float: left;
  width: 20%;
  height: 70px; }
  .our-good .icon-box {
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #fe4040;
    line-height: 70px;
    text-align: center; }
  .our-good i {
    color: white;
    font-size: 35px; }

/*2维码*/
.two-dimension {
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) \9;
  position: absolute;
  top: 0;
  left: 100px; }

.our-app a:hover .two-dimension {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) \9;
  transition: opacity 1s linear; }

.good-text {
  margin-left: 80px;
  padding-top: 10px; }
  .good-text h4 {
    color: black;
    font-size: 16px; }
  .good-text p {
    padding-top: 5px;
    color: #000;
    font-size: 14px; }

/*about-us
  ************************************************/
.about-us {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px; }
  .about-us h3 {
    padding-bottom: 10px;
    color: #cccccc; }
  .about-us a {
    color: #cccccc;
    font-size: 13px; }
    .about-us a:hover {
      color: white; }
  .about-us p {
    color: #cccccc;
    font-size: 13px;
    line-height: 1.6; }
  .about-us ul {
    float: left;
    width: 15%;
    list-style: none; }
  .about-us li {
    padding: 2px 0; }
  .about-us .us {
    margin-left: 60%; }
  .about-us .our-app {
    float: right;
    width: 50%; }
  .about-us .apple-dimension,
  .about-us .android-dimension,
  .about-us .online-server,
  .about-us .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center; }
    .about-us .apple-dimension .app-icon,
    .about-us .android-dimension .app-icon,
    .about-us .online-server .app-icon,
    .about-us .online-server .app-icon {
      margin-bottom: 5px;
      width: 40px;
      height: 40px; }

/*approve-box
  ************************************************/
.approve-box {
  background: #333333;
  padding: 20px 0 5px;
  text-align: center; }
  .approve-box p {
    padding-top: 5px;
    color: #cccccc;
    font-size: 13px; }

.approve {
  margin: 0 auto;
  width: 240px; }
  .approve a {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 30px; }
  .approve img {
    width: 100%;
    height: 100%; }

/*style
**************************************************************************************************************************************************/
body {
  background: #f3f3f3; }

.content {
  margin: 100px auto 50px;
  padding-bottom: 50px;
  border: 1px solid #cccccc;
  width: 1200px;
  background: white; }

h2 {
  padding: 28px 0 0 47px;
  font-size: 20px;
  font-weight: 700; }

.step {
  margin: 56px auto 70px;
  width: 1200px;
  height: 50px;
  text-align: center;
  background: white; }
  .step li {
    float: left;
    width: 25%;
    height: 100%;
    line-height: 50px; }

table {
  table-layout: fixed; }

th {
  width: 500px;
  text-align: right;
  vertical-align: middle; }

td {
  padding-left: 30px;
  vertical-align: middle; }

.input-text {
  width: 200px;
  height: 30px; }

.input-next {
  display: inline-block;
  padding: 0;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: #fe4040;
  border-radius: 3px;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .input-next:hover {
    background: #d70101; }

.input-cancel {
  display: inline-block;
  padding: 0;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 16px;
  background: #cccccc;
  border-radius: 3px;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer;
  color: black; }
  .input-cancel:hover {
    background: #bbb; }

.error {
  font-size: 14px;
  color: #fe4040; }

.input-username .input-row-1, .set-password .input-row-1,
.input-username .input-row-2, .set-password .input-row-2,
.input-username .input-row-4, .set-password .input-row-4 {
  height: 50px; }

.input-username .input-row-3, .set-password .input-row-3 {
  height: 30px; }

.input-username .confirm-code, .set-password .confirm-code {
  float: left;
  width: 100px;
  height: 40px; }

.input-username p, .set-password p {
  width: 300px;
  padding: 15px 0 0 110px;
  font-size: 14px; }

.test-identity tr {
  height: 50px; }

.test-identity .get-phone-confirm-code,
.test-identity .get-email-confirm-code {
  margin-left: 20px;
  display: inline-block;
  padding: 0;
  border: none;
  width: 120px;
  height: 30px;
  font-size: 14px;
  background: #fe4040;
  border-radius: 3px;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer; }
  .test-identity .get-phone-confirm-code:hover,
  .test-identity .get-email-confirm-code:hover {
    background: #d70101; }

.test-identity select {
  width: 120px;
  height: 40px; }

.reset-success {
  padding-left: 528px; }
  .reset-success .success-row-1 {
    font-size: 25px;
    color: #fe4040; }
  .reset-success .success-row-2,
  .reset-success .success-row-3 {
    padding-top: 20px; }
  .reset-success .link-btn {
    margin-right: 20px; }

/*# sourceMappingURL=../../maps/user/forget-reset.css.map */
