@charset "UTF-8";
/*import
**************************************************************************************************************************************************/
.top-content, .about-us, .approve, .content .content-img, .content .login .login-title h2 {
  *zoom: 1; }
  .top-content:after, .about-us:after, .approve:after, .content .content-img:after, .content .login .login-title h2:after, .top-content:before, .about-us:before, .approve:before, .content .content-img:before, .content .login .login-title h2:before {
    content: " ";
    display: table;
    clear: both; }

.top-content, .about-us, .approve, .content .content-img, .content .login .login-title h2 {
  *zoom: 1; }
  .top-content:after, .about-us:after, .approve:after, .content .content-img:after, .content .login .login-title h2:after, .top-content:before, .about-us:before, .approve:before, .content .content-img:before, .content .login .login-title h2:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.top-content, .about-us, .approve, .content .content-img, .content .login .login-title h2 {
  *zoom: 1; }
  .top-content:after, .about-us:after, .approve:after, .content .content-img:after, .content .login .login-title h2:after, .top-content:before, .about-us:before, .approve:before, .content .content-img:before, .content .login .login-title h2:before {
    content: " ";
    display: table;
    clear: both; }

.top-content, .about-us, .approve, .content .content-img, .content .login .login-title h2 {
  *zoom: 1; }
  .top-content:after, .about-us:after, .approve:after, .content .content-img:after, .content .login .login-title h2:after, .top-content:before, .about-us:before, .approve:before, .content .content-img:before, .content .login .login-title h2:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1px; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53', serif; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none; }

.link-btn {
  color: #5a98e6; }
  .link-btn:hover {
    text-decoration: underline; }

.hide {
  display: none !important; }

.show {
  display: block; }

.show-inline {
  display: inline; }

/*part
**************************************************************************************************************************************************/
.header {
  background: white; }

.top {
  height: 37px;
  line-height: 37px;
  background: #f5f5f5;
  font-size: 12px;
  color: #6c6c6c; }
  .top * {
    vertical-align: middle; }

.top-content {
  margin: 0 auto;
  width: 1200px; }

.top-welcome {
  float: left;
  width: 50%;
  text-align: left; }

.top-welcome-phone-title {
  padding-left: 20px; }

.top-welcome-phone-value {
  padding-left: 5px; }

.top-user {
  float: right;
  width: 50%;
  text-align: right; }
  .top-user a {
    color: #6c6c6c; }

.top-user-register {
  padding-left: 10px; }

.head {
  margin: 0 auto;
  width: 1200px;
  height: 110px; }
  .head h2 {
    float: left;
    margin: 50px 0 0 100px;
    font-size: 25px; }

.logo {
  float: left;
  height: 110px;
  width: 230px;
  background: url("../core/images/header/logo-red.jpg") no-repeat left center; }

.logo-link {
  display: block;
  height: 100%; }

.footer {
  background: #3f3f3f; }

.goods-box {
  background: #cccccc; }

.us {
  position: relative; }

/*our-goods
  ************************************************/
.our-goods {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px;
  height: 70px; }

.our-good {
  float: left;
  width: 20%;
  height: 70px; }
  .our-good .icon-box {
    float: left;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #c90304;
    line-height: 70px;
    text-align: center; }
  .our-good i {
    color: white;
    font-size: 35px; }

/*2维码*/
.two-dimension {
  width: 100px;
  height: 100px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0) \9;
  position: absolute;
  top: 0;
  left: 100px; }

.our-app a:hover .two-dimension {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) \9;
  transition: opacity 1s linear; }

.good-text {
  margin-left: 80px;
  padding-top: 10px; }
  .good-text h4 {
    color: black;
    font-size: 16px; }
  .good-text p {
    padding-top: 5px;
    color: #000;
    font-size: 14px; }

/*about-us
  ************************************************/
.about-us {
  margin: 0 auto;
  padding: 20px 0;
  width: 1040px; }
  .about-us h3 {
    padding-bottom: 10px;
    color: #cccccc; }
  .about-us a {
    color: #cccccc;
    font-size: 13px; }
    .about-us a:hover {
      color: white; }
  .about-us p {
    color: #cccccc;
    font-size: 13px;
    line-height: 1.6; }
  .about-us ul {
    float: left;
    width: 15%;
    list-style: none; }
  .about-us li {
    padding: 2px 0; }
  .about-us .us {
    margin-left: 60%; }
  .about-us .our-app {
    float: right;
    width: 50%; }
  .about-us .apple-dimension,
  .about-us .android-dimension,
  .about-us .online-server,
  .about-us .online-server {
    float: left;
    display: block;
    margin-bottom: 10px;
    width: 50%;
    text-align: center; }
    .about-us .apple-dimension .app-icon,
    .about-us .android-dimension .app-icon,
    .about-us .online-server .app-icon,
    .about-us .online-server .app-icon {
      margin-bottom: 5px;
      width: 40px;
      height: 40px; }

/*approve-box
  ************************************************/
.approve-box {
  background: #333333;
  padding: 20px 0 5px;
  text-align: center; }
  .approve-box p {
    padding-top: 5px;
    color: #cccccc;
    font-size: 13px; }

.approve {
  margin: 0 auto;
  width: 240px; }
  .approve a {
    float: left;
    padding-right: 20px;
    width: 100px;
    height: 30px; }
  .approve img {
    width: 100%;
    height: 100%; }

/*style
**************************************************************************************************************************************************/
body {
  background: #f3f3f3; }

.search-img {
  position: fixed;
  top: 0;
  left: -10000px;
  background: red; }

.content {
  margin: 20px auto 50px;
  padding: 100px 0;
  border: 1px solid #cccccc;
  height: 600px;
  background: white; }
  .content .content-box {
    margin: 0 auto;
    width: 1200px;
    height: 600px; }
  .content .content-img {
    float: left;
    width: 535px;
    height: 600px;
    background: url("../core/images/user/login-img.jpg") no-repeat left 40px; }
  .content .login {
    margin-left: 82px;
    float: left;
    border: 1px solid #cccccc;
    border-top: 3px solid #c90304;
    width: 400px;
    box-shadow: 0 10px 15px #555555; }
    .content .login .login-title {
      padding-top: 20px;
      width: auto;
      height: 50px; }
      .content .login .login-title h2 {
        float: left;
        padding: 15px 0 0 40px;
        font-size: 18px;
        font-weight: 700; }
      .content .login .login-title span {
        padding-left: 100px;
        font-size: 14px;
        text-align: center;
        line-height: 50px; }
        .content .login .login-title span a {
          color: #c90304; }
          .content .login .login-title span a:hover {
            text-decoration: underline; }
    .content .login .login-content span {
      color: #c90304;
      margin-left: 40px;
      font-size: 12px; }
    .content .login .login-content input {
      margin: 5px 0 5px 30px;
      padding-left: 40px;
      width: 300px;
      height: 40px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #ccc; }
    .content .login .login-content .username input {
      background: url("../core/images/user/user_03.png") no-repeat 9px 15px; }
    .content .login .login-content .userPhone input {
      background: url("../core/images/user/phone_03.png") no-repeat 10px 13px; }
    .content .login .login-content .security-code input {
      width: 180px;
      background: url("../core/images/user/yanzhengma_07.png") no-repeat 12px 15px; }
    .content .login .login-content .security-code .authImgBox {
      margin: 6px 40px 0 0;
      float: right;
      width: 100px;
      height: 40px; }
    .content .login .login-content .phone-security input[type="text"] {
      width: 180px;
      background: url("../core/images/user/message_09.png") no-repeat 11px 16px; }
    .content .login .login-content .phone-security input[type="button"] {
      margin: 0 0 0 3px;
      border: 1px solid #c90304;
      padding: 0;
      width: 100px;
      color: #c90304;
      background: white; }
      .content .login .login-content .phone-security input[type="button"]:hover {
        border: none;
        color: white;
        background: #ff6d6d; }
    .content .login .login-content .password input {
      background: url("../core/images/user/password_07.png") no-repeat 13px 15px; }
    .content .login .login-content .confirm input {
      background: url("../core/images/user/password_07.png") no-repeat 13px 15px; }
    .content .login .login-content .submit {
      border: none;
      padding: 0;
      width: 343px;
      color: white;
      letter-spacing: 10px;
      background: #c90304; }
      .content .login .login-content .submit:hover {
        background: #ff6d6d; }
    .content .login .login-content .agreement {
      margin: 15px 0 0 30px;
      font-size: 12px; }
      .content .login .login-content .agreement a {
        color: #86b4ed; }
      .content .login .login-content .agreement .agreement-checkbox {
        width: 20px; }
    .content .login .login-content .domain {
      padding: 0 0 20px 35px;
      font-size: 12px;
      line-height: 40px;
      overflow: hidden; }
      .content .login .login-content .domain img {
        padding: 10px 0 0 5px; }

.content .login .input-text:focus {
  border-color: #86b4ed !important; }

.content .login .input-error .input-text {
  border-color: #c90304; }

/*# sourceMappingURL=../../maps/user/regist.css.map */
