/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

/*style
**************************************************************************************************************************************************/
.all-list {
  width: 100%;

  .title1 {
    padding-top: 15px;
    height: 20px;
    font-size: 15px;
    span {
      @include wh(100px, 20px);
      padding-left: 30px;
      font-size: 13px;
    }
  }
  .title2 {
    @include wh(900px, 35px);
    padding-top: 20px;
    font-size: 14px;
    li {
      float: left;
      padding-right: 30px;
    }
  }
  .title3 {
    @include wh(900px, 35px);
    background: $gray-bg;
    border-top: 3px solid #474e5d;
    a {
      padding-left: 20px;
      line-height: 35px;
      font-size: 14px;
      color: #000;
    }

    .current-tab {
      color: $em;
    }
  }
  .products {
    padding-top: 10px;
    @extend %clear;

    .item {
      position: relative;
      top: 0;
      float: left;
      margin-top: 15px;
      margin-right: ($main-width-s - 250px * 4) / 3;
      //@include wh(280px, 335px);
      border: 1px solid $gray-light;
      transition: all .4s;
    }
    .item:hover{
      top: -5px;
      transition: all 1s;
      box-shadow: 0 10px 15px #555555;

    }
    .item-name {
      margin: 10px auto 0;
      @include wh(260px, 14px);
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      text-align: center;
      font-size: 14px;
      color: black;

      &:hover {
        color: $main;
      }
    }

    .item-img {
      @include wh(280px, 280px);

      img {
        @include wh(100%, 100%);
      }
    }

    .progress-bar {
      margin: 10px 0 0 20px;
      @include progress-bar(230px, 5px);
    }

    .info-box {
      padding: 10px 0 20px;
      @extend %clear;
      text-align: center;
    }

    .surplus-count {
      float: left;
      width: 30%;
    }

    .cost-sum {
      float: left;
      width: 40%;
    }

    .surplus-time {
      float: left;
      width: 30%;
    }

    .info-title {
      color: $gray-light;
      font-size: 13px;
    }

    .info-value {
      color: $gray;
    }

    .invest-status {
      position: absolute;
      top: 0;
      left: 0;
      @include wh(60px, 30px);
      line-height: 30px;
      text-align: center;
      color: white;
      background: $em-light;
      font-size: 13px;
    }

    .invest-join-favorite {
      position: absolute;
      top: 0;
      left: 0;
      @include wh(30px, 30px);
    }

    .invest-have-favorite {

    }

  }


}

.page-box {
  padding-top: 20px;
  @extend %clear;

  ol {
    float: right;
    padding-right: 20px;
  }

  li {
    float: left;
    @include wh(30px, 30px);
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
  }

  a {
    display: block;
    @include color-btn(30px, 30px, 3px, 14px, $main, $main-dark);
  }

  .current-page,
  .current-page:hover {
    background: white;
    color: $main;
    font-size: 18px;
    font-weight: 900;
  }
}