/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

/*part
**************************************************************************************************************************************************/
@include header;
@include footer;
@include recommend-box;

/*style
**************************************************************************************************************************************************/
$main-light: lighten($main, 2%);
.content {
  margin: 120px auto 0;
  width: $main-width;
  @extend %clear;
}

.title {
  @include wh($main-width, 50px);
  background: $main-light;
  .title-left {
    float: left;
    img {
      float: left;
      padding: 15px;
    }
    h2 {
      padding: 15px 20px;
      float: left;
      color: white;
    }
  }

  .n-search input {
    @include wh(180px, auto);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid white;
    float: right;
    padding: 5px 0 5px 20px;
    margin: 12px 50px 0 0;
  }
}


.main {
  @extend %clear;

  .box-all {
    margin-left: 40px;
    float: left;
    width: 900px;
  }
}

.menu {
  @include wh(260px, 1776px);
  overflow: hidden;
  float: left;

  .menu-level-1 {
    @extend %clear;
    margin: 2px 0;
    border: 1px solid $gray-bg;

    &:hover {
      border-color: $main-light;

      .list {
        background: $main-light;
      }

      h4 {
        color: white;
      }

      .menu-level-2 {
        border-top: 1px solid $main-light;
      }
    }
  }

  .list-end,
  .list {
    //float: left;
    display: block;
    height: 45px;

    background-repeat: no-repeat;
    background: $gray-bg;
    img {
      padding: 13px 13px 0 13px;
      float: left;
    }
    h4 {
      color: black;
      font-size: 14px;
      padding: 14px 25px 0 25px;
      float: left;
    }
  }

  .list-end{
    height: 1456px;
  }

  .menu-2 {
    display: none;
    background: white;
  }

  .menu-level-2 {
    border-top: 1px solid $gray-bg;

    a {
      display: block;
      padding: 10px 0 10px 70px;
      //@include wh(100%, 100%);
      height: 100%;
      font-size: 14px;
      background: white;
      color: black;

      &:hover {
        color: $main-light;
      }
    }
  }
}




.all-list {
  width: 100%;

  .breadcrumb {
    padding-top: 15px;
    height: 20px;
    font-size: 15px;

    .search-result-count {
      float: right;
      display: block;
      width: 500px;
      text-align: right;
      font-size: 13px;

    }
  }
}

.status-filter {
  @include wh(900px, 35px);
  padding-top: 20px;
  font-size: 14px;
  li {
    float: left;
    padding-right: 30px;
  }
}

.sort {
  @include wh(900px, 35px);
  background: $gray-bg;
  border-top: 3px solid $main-light;

  .sort-tab {
    position: relative;
    float: left;
    text-align: center;
    line-height: 35px;
    @include wh(80px, 100%);
    font-size: 14px;

    a {
      display: block;
      color: #000;

      &:hover {
        background: $em-light;
      }
    }

    ul {
      display: none;
      position: absolute;
      z-index: 1;
      top: 35px;
      left: 0;
      width: 100%;
    }

    li {
      @include wh(100%, 35px);
      background: #f2f2f2;
    }


  }

  .current-tab {
    a {
      color: white;
    }
    background: $em-light;
  }

  .sort-tab-item {
    display: block;
    @include wh(100%, 100%);
  }
}

.products {
  padding-top: 10px;
  @extend %clear;

  .item {
    position: relative;
    top: 0;
    float: left;
    margin-top: 15px;
    margin-right: ($main-width-s - 250px * 4) / 3;
    //@include wh(280px, 335px);
    border: 1px solid $gray-light;
    transition: all .4s;
  }
  .item:hover{
    top: -5px;
    transition: all 1s;
    box-shadow: 0 10px 15px #555555;

  }
  .item-name {
    margin: 10px auto 0;
    @include wh(260px, 14px);
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align: center;
    font-size: 14px;
    color: black;

    &:hover {
      color: $main-light;
    }
  }

  .item-img {
    @include wh(280px, 280px);

    img {
      @include wh(100%, 100%);
    }
  }

  .progress-bar {
    margin: 10px 0 0 20px;
    @include progress-bar(230px, 5px);
  }

  .info-box {
    padding: 10px 0 20px;
    @extend %clear;
    text-align: center;
  }

  .surplus-count {
    float: left;
    width: 30%;
  }

  .cost-sum {
    float: left;
    width: 40%;
  }

  .surplus-time {
    float: left;
    width: 30%;
  }

  .info-title {
    color: $gray-light;
    font-size: 13px;
  }

  .info-value {
    color: $gray;
  }

  .invest-status {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(60px, 30px);
    line-height: 30px;
    text-align: center;
    color: white;
    background: $em-light;
    font-size: 13px;
  }

  .invest-join-favorite {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(30px, 30px);
  }

  .invest-have-favorite {

  }
}

.page-box {
  padding-top: 20px;
  @include page-box;
}


