/*import
**************************************************************************************************************************************************/
@import '../core/scss/variable',
'../core/scss/commomExtend',
'../core/scss/commonMixin',
'../core/scss/components',
'../core/scss/part',
'../core/scss/reset',
'../core/scss/generalStyle';

@include footer;

/*style
**************************************************************************************************************************************************/
.top {
  height: 37px;
  line-height: 37px;
  background: #f5f5f5;
  font-size: 12px;
  color: #6c6c6c;

  * {
    vertical-align: middle;
  }
}

.top-content {
  @extend %clear;
  margin: 0 auto;
  width: $main-width;
}

.top-welcome {
  float: left;
  width: 50%;
  text-align: left;
}

.top-welcome-phone-title {
  padding-left: 20px;
}

.top-welcome-phone-value {
  padding-left: 5px;
}

.top-user {
  float: right;
  width: 50%;
  text-align: right;

  a {
    color: #6c6c6c;
  }
}

.top-user-register {
  padding-left: 10px;
}

.head {
  margin: 0 auto;
  @include wh($main-width, 110px);
}

.logo,
.hot-left,
.search,
.hot-right {
  float: left;
  height: 110px;
}

.logo {
  width: 230px;
  background: url("../core/images/header/logo-red.jpg") no-repeat left center;
}

.logo-link {
  display: block;
  height: 100%;
}


.search {
  width: 560px;
}

.search-content {
  float: right;
  margin-top: 36px;
  border: 1px solid #a9b7b7;
  border-radius: 3px;
  overflow: hidden;
}

.search-input-text{
  float: right;
  border: none;
  border-right: 1px solid #a9b7b7;
  padding: 0 10px;
  @include wh(400px, 37px);
  font-size: 14px;
  font-weight: 400;
}

.search-input-submit{
  float: right;
  border: none;
  @include wh(37px, 37px);
  background: url("../core/images/header/icon-search.png") no-repeat center center;

  &:hover {
    background: #a9b7b7 url("../core/images/header/icon-search-hover.png") no-repeat center center;
  }
}

.nav {
  background: #272727;
}

.nav-content {
  margin: 0 auto;
  @include wh($main-width, 54px);
}

.menu {
  position: relative;
  z-index: 1;
  float: left;
  @include wh(230px, 54px);
  &:hover > .menu-list{
    display: block;
  }
}

.menu-title {
  line-height: 54px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: white;
  cursor: pointer;
}

.menu-list {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  background: url("../core/images/opacity/opacity_white_9.png") repeat;
}

.menu-item {
  margin: 0 15px;
  padding: 15px 0 15px 40px;
  border-bottom: 1px dashed $gray-light;
}

.menu-item-title {
  color: #6c6c6c;
}

.menu-item-sub-box {
  padding-top: 5px;
  line-height: 1.2;
}

.menu-item-sub {
  font-size: 14px;
  color: #6c6c6c;
}

.nav-list {
  position: relative;
  float: left;
}

.nav-item-hover {
  position: absolute;
  z-index: 1;
  background: #414141;
  transition: all 0.3s;
}

.nav-item {
  position: relative;
  z-index: 2;
  float: left;
}

.nav-item-link {
  display: block;
  padding: 0 30px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}



/* content
*************************************************************************/

.content{
  margin: 0 auto;
  @include wh(1200px,1500px);
}

.content-title{
  padding-top: 20px;
  h2{
    margin:0 5px 0 20px;
    float: left;
  }

  span{
    margin:0 5px;
    color:#999;
  }
}

.content-box{
  margin-top: 20px;
  border: 1px solid #ccc;
}

.content-screen{
  border-bottom: 1px solid #e7e7e7;
  height: 38px;
  background: rgb(242,243,244);

  h3{
    float: left;
    padding: 10px 0 0 20px;
  }
  .screen-color{
    color: #c90304;
  }
  span{
    float: left;
    padding:11px 0 0 20px;
    font-size: 13px;
    color:#999;

  }
}

.content-category{
  height: 50px;
  .content-category-main{
    float: left;
    margin: 15px 30px 0 0;
    @include wh(100px,20px);
    text-align: center;

  }
  .content-category-hover{
    position: relative;
    float: left;
    margin:15px 0 0 20px;
    padding-right: 10px;
    @include wh(80px,20px);
    background: url("../core/images/tender/icon1.png") no-repeat 72px 3px;
    color:rgb(102,102,102);
    text-align: center;
    line-height: 20px;
    &:hover{
      color: #c90304;
      background-color: #f2f3f4;
      background-image: url("../core/images/tender_list/up.png");
      background-position: 72px 3px;
      border: none;
    }
    &:hover > ul{
      display: block;

    }
    ul{
        display: none;
        position: absolute;
        top:20px;
        left: -150px;
        padding-top: 10px;
        width: 500px;
        height: 30px;
        background:#f2f3f4;
        transition: 0.3s;

      li{
        margin: 0 10px;
        float: left;

        a{
          color: rgb(151,152,153);

          &:hover{
              color:#c90304 ;
          }
        }
      }
    }
  }

}

.content-money{
  height: 50px;
}

.content-list{
  margin-top: 20px;
  height: 1000px;
}

.content-list-left{
  float: left;
  border: 1px solid #999;
  width: 220px;
  height: 1000px;
  background: url("../core/images/tender/like.png") no-repeat ;
  .content-list-left-title{
    padding-top: 20px;
    text-align: center;
  }
}

.content-list-right{
  float: left;
  margin-left: 15px;
  border: 1px solid #999;
  width: 960px;
  height: 1000px;
}