@import "../core/scss/normalize";
@import "../core/scss/commonMixin";
@import "../core/scss/globleVariable";
@import "../core/scss/fontGeneral";
@import "../core/scss/header-main";
@import "../core/scss/footer-main";
@import "../core/scss/component";

//user foundation_icons
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons";
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons_ie7";

/*header menulist should be hidden
****************************************************/
.menu-list {
  display: none;
}
.menu:hover {
  .menu-list {
    display: block;
  }
}

.top-banner-box {
  display: none;
}

/*bread-nav
****************************************************/
.bread-nav {
  margin-top: 10px;
  padding-top: 10px;
  @include bfc;
  a {
    @extend %bread-nav-a;
  }
}

/*content
****************************************************/
.content-box {
  @include bfc;
  background: #faf4f6 url("../core/images/index/background.png");
  padding: 0 0 $colSpace;
}

.content {
  margin: 0 auto;
  width: $mainWidth;
}

/*filter-box
****************************************************/
.filter-box {
  margin-top: $colSpace;
  border-bottom: 1px solid $ashGray;
  line-height: 30px;
  background: white;

  h3 {
    float: left;
    @include o;
    @include wh($c1 - 10px, 30px);
    padding-left: 10px;
    background: $lightGray;
  }

  ul {
    @include o;
    @include bfc;
    margin-left: $c1 + $colSpace;
  }

  li {
    @include be-nav(left);
    @include wh($c1, 30px);
    text-align: center;
  }

  a {
    @extend %filter-selection-blur;
  }

  .filter-foruser {
    width: $c2;
  }
}

.filter-classify,
.filter-keyword,
.filter-price {
  border-top: 1px solid $ashGray;
}

.filter-from,
.filter-to {
  width: 50px;
}

/*aside
****************************************************/
.aside {
  @include vertical-list;
}

/*list-box
****************************************************/
.orderby-box {
  @include bfc;
  padding: $colSpace;
  border-bottom: 1px solid $ashGray;

  ul {
    @include o;
  }

  li {
    @include be-nav(left);
    padding-right: 10px;
  }

  a {
    display: block;
    @extend %orderby-selection-blur;
  }

  span {
    @extend %orderby-selection-blur;
  }
}

.list-box {
  float: left;
  margin: $colSpace 0 0 $colSpace - 2px;
  width: $c10 - 40px;
  padding: 0 20px;
  background: white;

  @include list(25%,14px);
}

.page-box {
  @include page;
}


/*for js
****************************************************/
.filter-box {
  .filter-selection-focus {
    @extend %filter-selection-focus;
  }
}

.orderby-box {
  .orderby-selection-focus {
    @extend %orderby-selection-focus;
  }
}