@import "variable","commonMixin","commomExtend";
//反色按钮
@mixin btn($color, $radius:3px) {
  border: $color;
  border-radius: $radius;
  background: transparent;
  color: $color;

  &:hover {
    background: $color;
    color: white;
  }
}

//包图链接
@mixin img-box($w:100%) {
  width: $w;
  display: block;
  @if $w != 100% {
    margin: 0 auto;
  }

  img {
    display: block;
    width: 100%;
  }
}

/*select*/
@mixin like-select($width:100px, $height:25px, $borderRidius: 0, $fontSize: 14px, $viewBorderColor: black, $listBorderColor: black, $viewFontColor: black, $fontColor: black, $color: white, $colorHover: $gray-light) {
  position: relative;
  display: inline-block;
  @include wh($width, $height);


  i,
  a {
    font-size: $fontSize;
  }

  i {
    position: absolute;
    top: 0;
    right: 0;
    @include wh($height, $height);
    line-height: 25px;
    text-align: center;
    font-size: 12px;

    color: white;
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
  }

  .select-view {
    border: 1px solid $viewBorderColor;
    display: block;
    @include wh(100%, 100%);
    background: $color;
    border-radius: $borderRidius;
    line-height: $height;

    &:hover {
      background: $colorHover;
    }

    span {
      color: $viewFontColor;
    }
  }

  ul {
    position: absolute;
    display: none;
    overflow: scroll;
    max-height: 295px;
    top: 106%;
    left: 0;
    border: 1px solid $listBorderColor;
    width: $width;
    background: white;
    list-style: none;
  }

  li {
    padding: 3px 0;

    a {
      color: $fontColor;
    }

    &:hover {
      background: $colorHover;

      a {
        color: white;
      }
    }
  }
}

/*color-btn*/
@mixin color-btn($w, $h, $border-radius, $font-size, $color, $hover-color) {
  display: inline-block;
  padding: 0;
  border: none;
  @include wh($w, $h);
  font-size: $font-size;
  background: $color;
  border-radius: $border-radius;
  line-height: $h;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: $hover-color;
  }
}

/*cost*/
@mixin cost($font-size: 22px) {
  color: $main-dark;
  font-size: $font-size;
  font-weight: 900;
}

/*progress-bar*/
@mixin progress-bar($w:170px, $h:10px) {
  position: relative;
  display: inline-block;
  @include wh($w, $h);
  background: $gray-light;
  border-radius: 5px;

  .inner {
    position: absolute;
    top: 0;
    left: 0;
    background: $em-light;
    border-radius: 5px;
    height: $h;
  }
}

/*page-box*/
@mixin page-box() {
  @extend %clear;

  ol {
    float: right;
    padding-right: 20px;
  }

  li {
    float: left;
    @include wh(30px, 30px);
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
  }

  a {
    display: block;
    @include color-btn(30px, 30px, 3px, 14px, $main, $main-dark);
  }

  .current-page,
  .current-page:hover {
    background: white;
    color: $main;
    font-size: 18px;
    font-weight: 900;
  }
}