@import "variable";
body {
  font-family: '微软雅黑', serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-btn {
  color: $em-light;

  &:hover {
    color: $em;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.show-inline {
  display: inline;
}