@import "variable","commonMixin","commomExtend", 'components';

@mixin header() {
  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 2px #eeeeee;
    border-bottom: 1px solid $gray-light \9;
    @include wh(100%, 100px);
    background: white;

    .header-inner {
      margin: 0 auto;
      @include wh(1200px, 100%);
    }

    .logo,
    .nav,
    .search {
      float: left;
    }

    .logo {
      @include wh(242px, 100%);
      background: url("../core/images/header/logo-red.jpg") no-repeat left center;

      a {
        display: block;
        @include wh(100%, 100%);
      }
    }

    .nav {
      @extend %clear;

      li {
        float: left;
        padding: 0 23px;
      }

      a {
        font-size: 22px;
        line-height: 100px;
        color: black;

        &:hover {
          color: $main;
        }
      }
    }

    .search {
      padding-top: 30px;

      input {
        border: 1px solid $gray-light;
        padding: 10px;
        @include wh(260px);
        line-height: 20px;
        font-size: 14px;
        background: $gray-lighter;
        transition: width .2s linear;

        &:focus {
          @include wh(300px);
          background: white;
          transition: width .2s linear;
        }
      }
    }

    .status {
      float: right;
      @include wh(234px, 100px);
      line-height: 100px;
      text-align: right;
    }

    .status-help-center,
    .status-register-btn {
      margin-left: 20px;
    }

    .status-help-center,
    .status-login-btn,
    .status-register-btn,
    .status-help-center {
      vertical-align: middle;

      &:hover {
        color: $main;
      }
    }

    .status-my-account {
      position: relative;
      display: inline-block;
      @include wh(40px, 40px);
    }

    .status-my-account-detail {
      position: absolute;
      display: none;
      @include wh(100px);
      top: 55px;
      right: -60px;
      line-height: 25px;
      background: white;

      li {
        text-align: center;
      }

      a {
        background: #ff6d6d;
        color: white;
        display: block;


        &:hover {
          background: $main;
        }
      }
    }

    .status-user-face-box {
      float: left;
      @include wh(100%, 100%);
    }

    .status-user-face {
      @include wh(100%, 100%);
    }
  }
}

@mixin footer() {
  .footer {
    background: #3f3f3f;
  }

  .goods-box {
    background: $gray-light;
  }

  .us {
    position: relative;
  }

  /*our-goods
  ************************************************/
  .our-goods {
    margin: 0 auto;
    padding: 20px 0;
    @include wh($main-width-s, 70px);
  }

  .our-good {
    float: left;
    @include wh(20%, 70px);


    .icon-box {
      float: left;
      @include wh(70px, 100%);
      border-radius: 50px;
      background: $main;
      line-height: 70px;
      text-align: center;
    }

    i {
      color: white;
      font-size: 35px;
    }
  }

  /*2维码*/
  .two-dimension {
    @include wh(100px, 100px);
    opacity: 0;
    //transition: opacity 0.1s linear;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)\9;
    position: absolute;
    top: 0;
    left: 100px;
  }

  .our-app a:hover {
    .two-dimension {
      opacity: 1;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100)\9;
      transition: opacity 1s linear;
    }
  }



  .good-text {
    margin-left: 80px;
    padding-top: 10px;
    h4 {
      color: black;
      font-size: 16px;
    }
    p {
      padding-top: 5px;
      color: $gray-base;
      font-size: 14px;
    }

  }

  /*about-us
  ************************************************/
  .about-us {
    margin: 0 auto;
    @extend %clear;
    padding: 20px 0;
    width: $main-width-s;

    h3 {
      padding-bottom: 10px;
      color: $gray-light;
    }

    a {
      color: $gray-light;
      font-size: 13px;

      &:hover {
        color: white;
      }
    }

    p {
      color: $gray-light;
      font-size: 13px;
      line-height: 1.6;
    }

    ul {
      float: left;
      width: 15%;
      list-style: none;
    }

    li {
      padding: 2px 0;
    }

    .us {
      margin-left: 60%;
    }

    .our-app {
      float: right;
      width: 50%;
    }

    .apple-dimension,
    .android-dimension,
    .online-server,
    .online-server {
      float: left;
      display: block;
      margin-bottom: 10px;
      width: 50%;
      text-align: center;

      .app-icon {
        margin-bottom: 5px;
        @include wh(40px, 40px);
      }
    }
  }

  /*approve-box
  ************************************************/
  .approve-box {
    background: $gray-dark;
    padding: 20px 0 5px;
    text-align: center;

    p {
      padding-top: 5px;
      color: $gray-light;
      font-size: 13px;
    }
  }

  .approve {
    @extend %clear;
    margin: 0 auto;
    width: 240px;

    a {
      float: left;
      padding-right: 20px;
      @include wh(100px, 30px);
    }

    img {
      @include wh(100%, 100%);
    }
  }
}

@mixin recommend-box() {
  .recommend-box {
    margin-top: 20px;
    padding-bottom: 57px;
    background: #eaeaea;

    .recommend {
      @include block-center($main-width-s);
    }

    .recommend-head {
      height: 75px;
      line-height: 75px;
    }

    h3 {
      float: left;
      padding-left: 40px;
      font-size: 20px;
    }

    .recommend-change {
      float: right;
      margin-top: 30px;
      line-height: 1;
      color: $gray;

      &:hover {
        color: $main;
      }
    }

    ul {
      @extend %clear;
    }

    li {
      position: relative;
      top: 0;
      float: left;
      border: 1px solid $gray-light;
      width: 248px;
      background: white;
      margin-right: ($main-width-s - 250px * 4) / 3;
      transition: all .4s;

      &:hover {
        top: -5px;
        transition: all 1s;
        box-shadow: 0 10px 15px $gray;
      }
    }

    .recommend-item-end {
      margin-right: 0;
    }

    .recommend-img-box {
      display: block;
      margin: 8px auto 0;
      @include wh(234px, 234px);

      img {
        @include wh(100%, 100%);
      }
    }

    h4 {
      padding-top: 20px;
      text-align: center;

      a {
        color: black;
        &:hover {
          color: $main;
        }
      }
    }

    .recommend-progress {
      @extend %clear;
    }

    .recommend-progress-bar {
      @include progress-bar;
      float: left;
      margin: 25px 10px 0 20px;
    }


    .recommend-progress-text {
      float: left;
      padding-top: 12px;
      line-height: 1.2;
    }

    .recommend-join {
      @extend %clear;
      padding: 13px 20px 17px;
    }

    .recommend-time {
      float: left;
    }

    .recommend-people {
      float: right;
    }
  }
}