
@import "../core/scss/normalize";
@import "../core/scss/commonMixin";
@import "../core/scss/globleVariable";
@import "../core/scss/fontGeneral";
@import "../core/scss/header-main";
@import "../core/scss/footer-main";
@import "../core/scss/component";

//user foundation_icons
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons";
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons_ie7";

//mixin
@mixin small-title($where,$mr, $ml) {
  float: left;

  a {
    overflow: hidden;
    float: left;
    margin: 0 $mr 10px $ml;
    @include wh((($c8 - 10px)/3), 256.656px);
    position: relative;

    .product-name {
      @include be-position(absolute, 0%, 80%);
      overflow: hidden;
      color: $middleGray;
      width: 260px;
      height: 17px;
      font-size: 14px;
      white-space:nowrap;
      text-overflow: ellipsis;
    }
    .product-cost {
      @include be-position(absolute, 0%, 88%);
      color: $emColor;
      font-size: 18px;

      span {
        color: $emColor;
      }
    }

    &:hover {
      .product-hover-area {
        transition: left .3s ease-in;
        left: 0;
      }
    }
  }

  .product-hover-area {
    transition: left .2s ease-in;
    position: absolute;
    left: -100%;
    top: 64%;
    @include wh(100%, 18%);
    overflow: hidden;
    //background: $color;
    text-align: center;
    line-height: 50px;
    opacity: .9;
  }

  .product-main {
    float: $where;
    margin: 0;
    @include wh($c4, 2*256.656px + 10px);
    @include light-hover(380px, 0.2s);

    img {
      @include wh(100%, 100%);
    }
  }

  input {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    background: transparent;

    &:hover {
      color: $viceColor;
      background: white;
    }
  }

  img {
    width: 100%;
    height: 210px;
  }
}

.content-box {
  @include bfc;
  padding: 0 0 $colSpace;
}

.content {
  margin: 0 auto;
  width: $mainWidth;
}

h2 {
  padding-bottom: 2px;
  width: $c6;
}


/*banner
*******************************************************/
.banner-box {
  @include be-position;
  margin: 10px 0 0 ($c2 + $colSpace - 10px);
  width: $c10 + 10px;
  height: 468px;
}


.banner {
  @include wh(100%, 100%);

  a {
    display: none;
    position: absolute;
    @include wh(100%, 100%);
  }
}

.banner-nav {
  position: absolute;
  right: 5%;
  bottom: 3%;

  li {
    @include be-nav(left);
    margin-right: 5px;
    @include wh(30px, 8px);
    border-radius: 3px;
    background: $middleGray;
    text-indent: -5000px;
    cursor: pointer;
  }
}

/*classify
*******************************************************/
.classify-box {
  float: left;
  margin-top: $colSpace;

  a {
    float: left;
    display: block;
    width: 20%;
    height: 450px;
  }

  img {
    @include wh(100%, 100%);
  }


}
//
//.classify-0 {
//  @include wh($c3 + $colSpace, 400px + 10px);
//}
//
//.classify-1 {
//  margin-left: $colSpace - 10px;
//  @include wh($c5, 200px);
//}
//
//.classify-2 {
//  margin-left: $colSpace - 10px;
//  @include wh($c4, 200px);
//}
//
//.classify-3 {
//  margin: ($colSpace - 10px) 0 0 ($colSpace - 10px);
//  @include wh($c4, 200px);
//}
//
//.classify-4 {
//  margin: ($colSpace - 10px) 0 0 ($colSpace - 10px);
//  @include wh($c5, 200px);
//}



/*products
*******************************************************/
small {
  font-family: "楷体", sans-serif;
  margin-left: 20px;
}
.classify-box {
  h2 {
    width: $c12;
    border-bottom: 2px solid $emColor;
  }
  small {
    color: $emColor;
  }
  a {
    @include light-hover(230px, 0.15s);
  }
}
//
//.products-gold {
//  @include small-title($goldColor, right, 10px, 0);
//}
//.products-wood {
//  @include small-title($woodColor, left, 0, 10px);
//}
//.products-jade {
//  @include small-title($jadeColor, right, 10px, 0);
//}
//.products-blue {
//  @include small-title($watchColor, left, 0, 10px);
//}
//.products-red {
//  @include small-title($emColor, left, 0, 10px);
//}


.products-list-cardinal {
  @include small-title(right, 10px, 0);
}


.products-list-even {
  @include small-title(left, 0, 10px);
}

.products-nav {
  float: right;
  margin: 0;
  padding: 30px 10px 0 0;

  li {
    @include be-nav(left);
    margin-left: 10px;
  }
  a {
    display: block;
    @include wh(100%, 100%);
    text-align: center;
    @extend %product-nav-a;
  }
}


.out-of-stock {
  position: absolute;
  top: 0;
  left: 0;
  @include wh(140px, 90px);
  background: url("../core/images/productList/out-of-stock.png") no-repeat left top;
  opacity: 1;
}


.product-message {
  display: none;
  position: absolute;
  top: 30%;
  height: 40px;
  width: 100%;
  background: linear-gradient(to right, rgba(100,100,100,.2) 0% , rgba(100,100,100,.9) 50%, rgba(100,100,100,.2) 100%);
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}



/*for js
*******************************************************/
.banner-box {
  .banner-nav-now {
    background: $lightGray;
  }

}