@import "../core/scss/normalize";
@import "../core/scss/commonMixin";
@import "../core/scss/globleVariable";
@import "../core/scss/fontGeneral";
@import "../core/scss/header-main";
@import "../core/scss/footer-main";
@import "../core/scss/component";

//user foundation_icons
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons";
@import "../core/foundation_icons_all/foundation_icons_general/sass/general_foundicons_ie7";

/*header menulist should be hidden
****************************************************/
.menu-list {
  display: none;
}
.menu:hover {
  .menu-list {
    display: block;
  }
}

.top-banner-box {
  display: none;
}

.d-btn {
  @extend %dark-btn;
}

/*bread-nav
****************************************************/
.bread-nav {
  padding: 5px 0;
  @include bfc;
  .row {
    float: left;
  }

  a {
    @extend %bread-nav-a;
  }

  span  {
    font-size: 14px;
    padding: 2px 5px;
    display: inline-block;
    border: 1px solid $middleGray;
    background: white;
  }

  .close {
    color: $viceColor;
    font-size: 12px;

    &:hover {
      color: $middleGray;
    }
  }

  .content-search {
    float: left;
    margin: -6px 0 0 $colSpace;
    @include search($middleGray);
  }
}

/*content
****************************************************/
.content-box {
  @include bfc;
  background: #faf4f6 url("../core/images/index/background.png");
}

.content {
  margin: 0 auto;
  width: $mainWidth;
}

/*filter-box
****************************************************/
.filter-box {
  //margin-top: 10px;
  border-bottom: 1px solid $ashGray;
  line-height: 30px;
  background: white;

  input[type=submit] {
    @extend %dark-btn;
  }

  h3 {
    float: left;
    @include o;
    @include wh($c1 - 10px, 30px);
    padding-left: 10px;
    background: $lightGray;
  }

  ul {
    @include o;
    @include bfc;
    margin-left: $c1 + $colSpace;
  }

  li {
    position: relative;
    @include be-nav(left);
    @include wh($c1+5px, 30px);
    text-align: center;
  }

  a {
    @extend %filter-selection-blur;
  }

  .filter-foruser {
    width: $c2;
  }
}

.filter-classify,
.filter-keyword,
.filter-price {
  border-top: 1px solid $ashGray;
}

.filter-from,
.filter-to {
  width: 50px;
}


/*aside
****************************************************/
.aside {
  @include vertical-list;
}

/*list-box
****************************************************/
.orderby-box {
  @include bfc;
  padding: $colSpace $colSpace 14px;
  border-bottom: 1px solid $viceColor;

  ul {
    @include o;
  }

  li {
    @include be-nav(left);
    padding-right: 15px;
  }

  a {
    @extend %order-by-link;
  }

  .orderby-choose {
    color: $viceColor;
  }

  .only-availble {
    float: right;
    margin: 2px 0 0 2px;
    @include like-checkbox(15px, 15px, 12px);
  }

  i {
    font-size: 12px;
  }

  span {
    font-size: 16px;
    font-weight: 700;
  }
}

.list-box {
  float: left;
  margin: $colSpace 0 0 $colSpace - 2px;
  width: $c10 - 40px;
  padding: 0 20px;
  background: white;

  @include list(25%,14px);
}

.page-box {
  @include page;
}


/*no-result
****************************************************/
.no-result {
  padding: 70px 0 70px 150px;
  background: url("../core/images/productList/warning.png") no-repeat 100px center;

  p {
    color: $viceColor;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #0286ce;
    &:hover {
      color: $viceColor;
    }
  }
}

/*similar-box
****************************************************/
//.similar-box {
//  @include row-list($mainWidth - 60px);
//  margin-top: $colSpace;
//}
.recommend {
  margin: $colSpace auto;
  width: $mainWidth;
  @include bfc;

  .tab {
    border: 1px solid $ashGray;
    border-bottom: none;
    @include tab;

    h2 {
      font-size: 20px;
    }
  }


  .similar-box {
    @include row-list(1118px);
  }
}

/*for js
****************************************************/
.filter-box {
  .filter-selection-focus {
    @extend %filter-selection-focus;
  }
}

.product-message {
  display: none;
  position: absolute;
  top: 30%;
  height: 40px;
  width: 100%;
  background: linear-gradient(to right, rgba(100,100,100,.2) 0% , rgba(100,100,100,.9) 50%, rgba(100,100,100,.2) 100%);
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}