* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
}

body {
    background: #F3F3F3;
}
a{
    color: #000;
    text-decoration:none;
}

.header{
    display: block;
    display: -webkit-flex;
    padding-bottom: 1em;
    border-bottom: 2px solid #cccccc;
}
.arrow{
    margin-top: 2.1em;
    margin-left: 1em;
    margin-right: 2em;
    flex: 1;
    height: 36px;
    background: url("../img/left-arrow.png")no-repeat;
}
.input1{
    font-size: 0.8em;
    background: url("../img/search.png") no-repeat 1% 50% ;
    border: 2px solid #cccccc;
    padding-left: 10%;
    border-radius: 10px;
    height: 4em;
    margin-top: 2em;
    width: 100%;
    flex: 6;
}
.kong{
    flex: 1;
}
.search-font{
    margin:1em 0 0 1em;
}
.search-all{
    overflow: hidden;
    margin: 1em 0 0 1em;
}
.search-all a{
    overflow: hidden;
}
.search-box{
    display: block;
    float: left;
    width: auto;
    border: 2px  solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin: 1em ;
}
.search-box1{
    background: #fff;
    display: block;
    border: 2px  solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    margin: 1em 4em ;
    text-align: center;
}

.footer{
    background: #fff;
    margin-top: 20em;
    border-top: 1px solid #F3F3F3;

}
.footer-top{
    padding-top: 1em;
    display: -webkit-flex;
}
.f1{
    flex:2;
    color: #000;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    border-right: 1px solid #cccccc;
}
.kong1{
    flex: 2;
}
.kong{
    flex: 3;
}
.footer-bottom{
    padding-top: 1em;
    font-size: 10px;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
}