/*import
**************************************************************************************************************************************************/
.base-info .base-row-1,
.base-info .base-row-3, .base-info .base-row-2, .send-info .send-row-1,
.send-info .send-row-2,
.send-info .send-row-3, .compensate .compensate-info, .filter-invest-status, .filter-order-status, .page-box {
  *zoom: 1; }
  .base-info .base-row-1:after,
  .base-info .base-row-3:after, .base-info .base-row-2:after, .send-info .send-row-1:after,
  .send-info .send-row-2:after,
  .send-info .send-row-3:after, .compensate .compensate-info:after, .filter-invest-status:after, .filter-order-status:after, .page-box:after, .base-info .base-row-1:before,
  .base-info .base-row-3:before, .base-info .base-row-2:before, .send-info .send-row-1:before,
  .send-info .send-row-2:before,
  .send-info .send-row-3:before, .compensate .compensate-info:before, .filter-invest-status:before, .filter-order-status:before, .page-box:before {
    content: " ";
    display: table;
    clear: both; }

.base-info .base-row-1,
.base-info .base-row-3, .base-info .base-row-2, .send-info .send-row-1,
.send-info .send-row-2,
.send-info .send-row-3, .compensate .compensate-info, .filter-invest-status, .filter-order-status, .page-box {
  *zoom: 1; }
  .base-info .base-row-1:after,
  .base-info .base-row-3:after, .base-info .base-row-2:after, .send-info .send-row-1:after,
  .send-info .send-row-2:after,
  .send-info .send-row-3:after, .compensate .compensate-info:after, .filter-invest-status:after, .filter-order-status:after, .page-box:after, .base-info .base-row-1:before,
  .base-info .base-row-3:before, .base-info .base-row-2:before, .send-info .send-row-1:before,
  .send-info .send-row-2:before,
  .send-info .send-row-3:before, .compensate .compensate-info:before, .filter-invest-status:before, .filter-order-status:before, .page-box:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
/*import
**************************************************************************************************************************************************/
.base-info .base-row-1,
.base-info .base-row-3, .base-info .base-row-2, .send-info .send-row-1,
.send-info .send-row-2,
.send-info .send-row-3, .compensate .compensate-info, .filter-invest-status, .filter-order-status, .page-box {
  *zoom: 1; }
  .base-info .base-row-1:after,
  .base-info .base-row-3:after, .base-info .base-row-2:after, .send-info .send-row-1:after,
  .send-info .send-row-2:after,
  .send-info .send-row-3:after, .compensate .compensate-info:after, .filter-invest-status:after, .filter-order-status:after, .page-box:after, .base-info .base-row-1:before,
  .base-info .base-row-3:before, .base-info .base-row-2:before, .send-info .send-row-1:before,
  .send-info .send-row-2:before,
  .send-info .send-row-3:before, .compensate .compensate-info:before, .filter-invest-status:before, .filter-order-status:before, .page-box:before {
    content: " ";
    display: table;
    clear: both; }

.base-info .base-row-1,
.base-info .base-row-3, .base-info .base-row-2, .send-info .send-row-1,
.send-info .send-row-2,
.send-info .send-row-3, .compensate .compensate-info, .filter-invest-status, .filter-order-status, .page-box {
  *zoom: 1; }
  .base-info .base-row-1:after,
  .base-info .base-row-3:after, .base-info .base-row-2:after, .send-info .send-row-1:after,
  .send-info .send-row-2:after,
  .send-info .send-row-3:after, .compensate .compensate-info:after, .filter-invest-status:after, .filter-order-status:after, .page-box:after, .base-info .base-row-1:before,
  .base-info .base-row-3:before, .base-info .base-row-2:before, .send-info .send-row-1:before,
  .send-info .send-row-2:before,
  .send-info .send-row-3:before, .compensate .compensate-info:before, .filter-invest-status:before, .filter-order-status:before, .page-box:before {
    content: " ";
    display: table;
    clear: both; }

/*select*/
/*color-btn*/
/*cost*/
/*progress-bar*/
/*page-box*/
/*pop-up*/
/*file*/
.order-detail-pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.order-detail-wrap {
  overflow: scroll;
  margin: 20px auto 0;
  width: 1200px;
  height: 90%; }

.order-detail-pop-shim {
  display: none;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
  width: 100%;
  height: 100%; }

.order-detail-pop-content {
  position: relative;
  margin: 0 auto 0;
  border: 1px solid #cccccc;
  background: white; }
  .order-detail-pop-content h2 {
    padding-left: 25px;
    height: 55px;
    line-height: 55px;
    font-size: 22px;
    border-bottom: 1px solid #cccccc; }

.base-info .base-title {
  float: left;
  width: 355px;
  text-align: right; }

.base-info .base-value {
  float: left;
  padding-left: 40px;
  width: 760px; }

.base-info .base-row-1,
.base-info .base-row-3 {
  padding: 15px 0; }

.base-info .base-row-2 {
  padding-top: 15px; }

.base-info .base-row-1 .name,
.base-info .base-row-1 .phone,
.base-info .base-row-1 .address {
  padding-right: 15px; }

.base-info .base-row-2 p {
  padding-bottom: 15px; }

.send-info {
  padding-bottom: 25px; }
  .send-info .send-title {
    float: left;
    width: 355px;
    text-align: right; }
  .send-info .send-value {
    float: left;
    padding-left: 40px;
    width: 760px; }
  .send-info .send-row-1,
  .send-info .send-row-2,
  .send-info .send-row-3 {
    padding: 15px 0; }

.compensate {
  padding: 40px 0 40px;
  border-top: 1px dashed #cccccc;
  border-bottom: 1px dashed #cccccc; }
  .compensate .tip {
    padding-left: 213px; }
  .compensate .compensate-info {
    padding: 20px 0 0 213px; }
  .compensate .compensate-time {
    float: left;
    width: 400px; }
  .compensate .compensate-money {
    float: left; }
  .compensate .compensate-will .tip {
    color: #c90304; }

.item-table {
  padding-top: 40px; }
  .item-table table {
    margin-left: 120px;
    width: 950px;
    table-layout: fixed;
    text-align: left; }
  .item-table tr {
    border: 1px solid #cccccc; }
  .item-table th {
    height: 40px;
    padding-left: 10px;
    background: #cccccc;
    vertical-align: middle; }
  .item-table td {
    padding-left: 10px;
    height: 80px;
    vertical-align: middle; }
  .item-table .confirm-name {
    width: 370px; }
  .item-table .confirm-post-cost {
    width: 130px; }
  .item-table .confirm-item-cost {
    width: 140px; }
  .item-table .confirm-item-count {
    width: 120px; }
  .item-table .item-link {
    color: black; }
    .item-table .item-link:hover {
      color: #c90304; }
  .item-table .cost {
    color: #c90304; }

.money-box {
  padding: 35px 135px 0 0;
  text-align: right; }
  .money-box .cost {
    font-size: 22px;
    color: #c90304; }

.close-box {
  padding: 45px 0;
  text-align: center; }
  .close-box .close {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background: #c90304;
    border-radius: 3px;
    line-height: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-right: 20px; }
    .close-box .close .color-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 40px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transition: transform .3s; }
    .close-box .close:hover {
      background: #970203; }
      .close-box .close:hover .color-hover {
        transform: scaleX(1);
        transition: transform .3s; }

.invest-status {
  position: absolute;
  top: 0;
  right: 0;
  width: 145px;
  height: 145px; }

/*style
**************************************************************************************************************************************************/
.filter-invest-status {
  padding-top: 50px; }
  .filter-invest-status li {
    float: left;
    border-bottom: 2px solid #cccccc;
    width: 110px;
    height: 25px;
    text-align: center; }
    .filter-invest-status li a {
      display: block;
      width: 109px;
      border-right: 1px solid #cccccc;
      color: black;
      font-size: 18px; }
  .filter-invest-status .filter-invest-choose {
    border-bottom: 2px solid #c90304; }
    .filter-invest-status .filter-invest-choose a {
      color: #c90304; }
  .filter-invest-status .filter-invest-end a {
    border-right: none; }

.filter-order-status {
  padding: 15px 0 0 15px; }
  .filter-order-status li {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #cccccc; }
  .filter-order-status a {
    padding: 3px 7px;
    color: black; }
  .filter-order-status .filter-order-choose {
    border-radius: 4px;
    background: #eaedf4; }
  .filter-order-status .filter-order-end {
    border-right: none; }

.order-list {
  padding-top: 22px; }
  .order-list table {
    width: 100%;
    table-layout: fixed;
    font-size: 14px; }
  .order-list .order-list-head {
    background: #eaedf4;
    height: 32px; }
  .order-list .order-list-item {
    height: 129px;
    border-bottom: 1px solid #cccccc; }
  .order-list .col-1 {
    width: 120px; }
  .order-list .col-2 {
    width: 280px; }
  .order-list .col-3 {
    width: 80px; }
  .order-list .col-4 {
    width: 160px; }
  .order-list .col-5 {
    width: 120px; }
  .order-list th,
  .order-list td {
    vertical-align: middle;
    text-align: center; }
  .order-list .order-img a {
    display: block;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    text-align: center; }
    .order-list .order-img a:hover {
      border-color: #86b4ed;
      box-shadow: 0 0 2px 1px #86b4ed; }
  .order-list .order-img img {
    width: 100%;
    height: 100%; }
  .order-list .order-base-info {
    text-align: left;
    text-indent: 15px; }
    .order-list .order-base-info p {
      line-height: 30px;
      color: #555555;
      width: 280px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .order-list .order-base-info a {
      color: black; }
      .order-list .order-base-info a:hover {
        color: #c90304; }
  .order-list .will-pay {
    color: #c90304; }
  .order-list .order-handle p {
    line-height: 30px; }
  .order-list .order-handle .pay-now {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none;
    width: 90px;
    height: 25px;
    font-size: 14px;
    background: #c90304;
    border-radius: 3px;
    line-height: 25px;
    color: white;
    text-align: center;
    cursor: pointer; }
    .order-list .order-handle .pay-now .color-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 90px;
      height: 25px;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.2);
      transform: scaleX(0);
      transition: transform .3s; }
    .order-list .order-handle .pay-now:hover {
      background: #970203; }
      .order-list .order-handle .pay-now:hover .color-hover {
        transform: scaleX(1);
        transition: transform .3s; }

.page-box {
  padding-top: 20px; }
  .page-box ol {
    float: right;
    padding-right: 20px; }
  .page-box li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center; }
  .page-box a {
    display: block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0 10px;
    height: 30px;
    color: #555555; }
    .page-box a:hover {
      border-color: #c90304;
      color: white;
      background: #c90304; }
  .page-box .current-page,
  .page-box .current-page:hover {
    border-color: white;
    background: white;
    color: #c90304;
    font-size: 18px;
    font-weight: 900;
    cursor: default; }

/*# sourceMappingURL=../../../maps/my-account/my-orders/my-order.css.map */
